﻿@{
    ViewBag.Title = "My Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Breadcrumbs = "My Account";
}
@section AddToHeadCss{
    <link rel="stylesheet" href="@Url.Content("/assets/css/jquery-ui.custom.min.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/chosen.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/datepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/bootstrap-timepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/daterangepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/bootstrap-datetimepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/colorpicker.css")" />
    <link rel="stylesheet" href="/assets/css/select2.css" />
    <link rel="stylesheet" href="/assets/css/jquery.gritter.css" />
}
@section AddToEndBodyJs{
    <!-- page specific plugin scripts -->
    <script src=@Url.Content("/assets/js/jquery.dataTables.min.js")></script>
    <script src=@Url.Content("/assets/js/jquery.dataTables.bootstrap.js")></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/additional-methods.min.js"></script>
    <script src="/assets/js/bootbox.min.js"></script>
    <script src="/assets/js/jquery.maskedinput.min.js"></script>
    <script src="/assets/js/select2.min.js"></script>
    <script type="text/javascript">
       

        $(document).on('click', 'th input:checkbox', function () {
            var that = this;
            $(this).closest('table').find('tr > td:first-child input:checkbox')
            .each(function () {
                this.checked = that.checked;
                $(this).closest('tr').toggleClass('selected');
            });
        });


        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }
        $('.btn-save').on('click', function(e){
       		if (!$('#adduser-form').valid()) {
                return false;
            }
        	$('#adduser-form')[0].submit();
        });
        $('#adduser-form').validate({
            errorElement: 'div',
            errorClass: 'help-block',
            focusInvalid: false,
            rules: {
                Email: {
                    required: true,
                    email: true,

                },
                Password: {
                    required: true,
                    minlength: 5
                },
                password_confirm: {
                    required: true,
                    minlength: 5,
                    equalTo: "#form-password"
                },

                FirstName: {
                    required: true,
                },
                LastName: {
                    required: true,
                },

            },
            messages: {
                username: {
                    remote: "User Name is exists.",
                    required: "User Name is required.",
                },
                email: {
                    required: "Please provide a valid email.",
                    email: "Please provide a valid email.",
                    remote: "Email is exists.",
                },
                password: {
                    required: "Please specify a password.",
                    minlength: "Please specify a secure password."
                },

            },


            highlight: function (e) {
                $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
            },

            success: function (e) {
                $(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
                $(e).remove();
            },

            errorPlacement: function (error, element) {
                if (element.is('input[type=checkbox]') || element.is('input[type=radio]')) {
                    var controls = element.closest('div[class*="col-"]');
                    if (controls.find(':checkbox,:radio').length > 1) controls.append(error);
                    else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                }
                else if (element.is('.select2')) {
                    error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
                }
                else if (element.is('.chosen-select')) {
                    error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
                }
                else error.insertAfter(element);
            },

            submitHandler: function (form) {
            },
            invalidHandler: function (form) {
            }
        });
       
    </script>
}
<div class="page-header">
    <h1>
        My Account
    </h1>
</div>
<div class="row">
    <div class="col-xs-12">
        <form class="form-horizontal" role="form" id="adduser-form" action="/admin/account/" method="post">
       			 @Html.AntiForgeryToken()
                <div class="modal-body no-padding">
                    <input type="hidden" name="Id" id="form-iduser" value="@Model.Id" />
                    <!-- #section:elements.form -->
                    <!-- /section:elements.form -->
                    <div class="space-4">
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-username">
                            User Name
                        </label>
                        <div class="col-sm-9">
                            <input type="text" id="form-username" disabled="disabled" name="UserName2" placeholder="User Name" class="col-xs-12 col-sm-12" value="@Model.UserName">
                            <input type="hidden" id="form-username" name="UserName"  value="@Model.UserName">

                        </div>
                    </div>
                    <div class="row">

                        <label class="col-xs-2 col-sm-2 control-label no-padding-right" for="form-username">
                            Password
                        </label>

                        <div class="col-xs-4 col-sm-4">
                            <div class="space-4">
                            </div>
                            <div class="form-group">

                                <div class="col-sm-12">
                                    <input type="password" id="form-password" placeholder="Password" name="Password" class="col-xs-12 col-sm-12" >
                                </div>
                            </div>
                        </div><div class="col-xs-4 col-sm-4">
                            <div class="space-4">
                            </div>
                            <div class="form-group">

                                <div class="col-sm-12">
                                    <input type="password" id="form-password_confirm" placeholder="Confirm Password" name="password_confirm" class="col-xs-12 col-sm-12">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <label class="col-xs-2 col-sm-2 control-label no-padding-right" for="form-username">
                            Name
                        </label>

                        <div class="col-xs-4 col-sm-4">
                            <div class="space-4">
                            </div>
                            <div class="form-group">

                                <div class="col-sm-12">
                                    <input type="text" id="form-firstname" placeholder="First Name" name="FirstName" class="col-xs-12 col-sm-12" value="@Model.FirstName">
                                </div>
                            </div>
                        </div><div class="col-xs-4 col-sm-4">
                            <div class="space-4">
                            </div>
                            <div class="form-group">

                                <div class="col-sm-12">
                                    <input type="text" id="form-lastname" placeholder="Last Name" name="LastName" class="col-xs-12 col-sm-12"  value="@Model.LastName">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="space-4">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-username">
                            Email
                        </label>
                        <div class="col-sm-9">
                            <input type="text" id="form-email" name="Email" placeholder="Email" class="col-xs-12 col-sm-12" value="@Model.Email">
                        </div>
                    </div>
                    <!-- /section:elements.form -->
                </div>
                <div class="modal-footer no-margin-top">
                    <button type="submit" class="btn btn-sm btn-primary pull-right btn-save" >
                        <i class="ace-icon fa fa-check"></i>Save
                    </button>
                    <a href="/admin/" ><button class="btn btn-sm btn-danger pull-right btn-reset">
                        <i class="ace-icon fa fa-times"></i>Cancel
                    </button></a>
                </div>
            </form>
    </div>
</div>
