﻿@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Breadcrumbs = "Calendar";
}
@section AddToHeadCss{
    <link rel="stylesheet" href="@Url.Content("/assets/css/jquery-ui.custom.min.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/chosen.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/datepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/bootstrap-timepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/daterangepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/bootstrap-datetimepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/colorpicker.css")" />
    <link rel="stylesheet" href="/assets/css/select2.css" />
    <link rel="stylesheet" href="/assets/css/jquery.gritter.css" />
}
@section AddToEndBodyJs{
    <!-- page specific plugin scripts -->
    <script src=@Url.Content("/assets/js/jquery.dataTables.min.js")></script>
    <script src=@Url.Content("/assets/js/jquery.dataTables.bootstrap.js")></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/additional-methods.min.js"></script>
    <script src="/assets/js/bootbox.min.js"></script>
    <script src="/assets/js/jquery.maskedinput.min.js"></script>
    <script src="/assets/js/select2.min.js"></script>
    <script type="text/javascript">
        function info_user(id) {
            $.get('/api/calendars/' + id).done(function (result) {
             
                $('.formtitle').html('Edit calendars');
                $('#form-iduser').val(result.Id);
                $('#form-username').val(result.Name);
                $('#form-text').val(result.Value);
                $('#form-order').val(result.Order);
                $('#form-position').val(result.Position)
                return false;
            }).fail(function (result) {

            });
            return false;
        };
        function delete_user(id) {
            bootbox.dialog({
                message: "Are you sure you want to delete this calendar?",
                closeButton: false,
                buttons: {
                    "cancel": {
                        "label": "No",
                        "className": "btn-sm",
                        callback: function () {
                        }
                    },
                    "success": {
                        "label": "Yes",
                        "className": "btn-sm btn-primary",
                        callback: function () {
                            showLoadingModal();
                            $.post('/api/calendars/' + id, {}).done(function (result) {
                                hideLoadingModal();
                                $.gritter.add({
                                    title: 'calendar has been deleted successfully.',
                                    text: '',
                                    class_name: 'gritter-success'
                                });
                                OUser_table.fnDraw();
                                //window.location.reload();
                            }).fail(function (result) {
                                hideLoadingModal();
                                $.gritter.add({
                                    title: 'fail. Please try again.',
                                    text: '',
                                    class_name: 'gritter-error'
                                });
                            });
                        }
                    },
                },
            });
        }
        function build_action_item(id) {
            var htmlstr = '';
            htmlstr += '<div class="hidden-sm hidden-xs action-buttons">';
            htmlstr += '     <a class="blue" href="#"><i class="ace-icon fa fa-search-plus bigger-130"></i></a>';
            htmlstr += '     <a class="green" onclick="info_user(' + id + ');return false;" href="#modal-table-menu" data-toggle="modal"><i class="ace-icon fa fa-pencil bigger-130"></i></a>';
            htmlstr += '     <a class="red" onclick="delete_user(' + id + ');return false;" href="#"><i class="ace-icon fa fa-trash-o bigger-130"></i></a> </div>';
            htmlstr += ' <div class="hidden-md hidden-lg">  <div class="inline position-relative">';
            htmlstr += '<button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">';
            htmlstr += '<i class="ace-icon fa fa-caret-down icon-only bigger-120"></i></button>';
            htmlstr += '<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">';
            htmlstr += '<li><a href="#" class="tooltip-info" data-rel="tooltip" title="View"><span class="blue">';
            htmlstr += '     <i class="ace-icon fa fa-search-plus bigger-120"></i></span></a></li>';
            htmlstr += ' <li><a href="#" class="tooltip-success" data-rel="tooltip" title="Edit"><span class="green">';
            htmlstr += '    <i class="ace-icon fa fa-pencil-square-o bigger-120"></i></span></a></li>';
            htmlstr += ' <li><a href="#" class="tooltip-error" data-rel="tooltip" title="Delete"><span class="red">';
            htmlstr += '    <i class="ace-icon fa fa-trash-o bigger-120"></i></span></a></li></ul></div></div>';
            return htmlstr;
        }

        var OUser_table =
        $('#sample-table-2')
        //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
        .dataTable({
            bAutoWidth: false,
            "aoColumnDefs": [
                {
                    "aTargets": [0],
                    "mRender": function (data, type, full) {
                        return '<label class="position-relative"> <input type="checkbox" class="ace" value="' + full[0] + '"/> <span class="lbl"></span></label>';
                    },
                    "sClass": "center",
                },
                 {
                     "aTargets": [1],
                     "mRender": function (data, type, full) {
                         return data;
                     },
                     "sClass": "center",
                 },
                  {
                      "aTargets": [4],
                      "mRender": function (data, type, full) {
                          return build_action_item(full[0]);
                      },
                      "sClass": "center",
                  },

            ],
            "aoColumns": [
                { "bSortable": false },
                null, null, null,  { "bSortable": false }
            ],
            "aaSorting": [],
            "serverSide": true,
            "processing": true,
            "ajax": {
                "url": "/api/calendars/",
                "data": function (d) {
                    d.search_value = d.search.value;
                    d.order_colunm = 0;
                    d.order_dir = "asc";
                    if (d.order.length > 0) {
                        d.order_colunm = d.order[0].column;
                        d.order_dir = d.order[0].dir;
                    }
                    // d.custom = $('#myInput').val();
                    // etc
                },
            },
            "oLanguage": {
                "sProcessing": "Loading...",
                "sEmptyTable": "No record found.",
                "sZeroRecords": "No record found.",
            },
            //,
            //"sScrollY": "200px",
            //"bPaginate": false,

            //"sScrollX": "100%",
            //"sScrollXInner": "120%",
            //"bScrollCollapse": true,
            //Note: if you are applying horizontal scrolling (sScrollX) on a ".table-bordered"
            //you may want to wrap the table inside a "div.dataTables_borderWrap" element

            //"iDisplayLength": 50
        });
        /**
        var tableTools = new $.fn.dataTable.TableTools( oTable1, {
            "sSwfPath": "../../copy_csv_xls_pdf.swf",
            "buttons": [
                "copy",
                "csv",
                "xls",
                "pdf",
                "print"
            ]
        } );
        $( tableTools.fnContainer() ).insertBefore('#sample-table-2');
        */


        $(document).on('click', 'th input:checkbox', function () {
            var that = this;
            $(this).closest('table').find('tr > td:first-child input:checkbox')
            .each(function () {
                this.checked = that.checked;
                $(this).closest('tr').toggleClass('selected');
            });
        });


        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }

        $('#adduser-form').validate({
            errorElement: 'div',
            errorClass: 'help-block',
            focusInvalid: false,
            rules: {
               
                modulename: {
                    required: true,
                },
               

            },
            messages: {
                
            },


            highlight: function (e) {
                $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
            },

            success: function (e) {
                $(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
                $(e).remove();
            },

            errorPlacement: function (error, element) {
                if (element.is('input[type=checkbox]') || element.is('input[type=radio]')) {
                    var controls = element.closest('div[class*="col-"]');
                    if (controls.find(':checkbox,:radio').length > 1) controls.append(error);
                    else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                }
                else if (element.is('.select2')) {
                    error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
                }
                else if (element.is('.chosen-select')) {
                    error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
                }
                else error.insertAfter(element);
            },

            submitHandler: function (form) {
            },
            invalidHandler: function (form) {
            }
        });
        $('.btn-save').on("click", function (e) {
            if (!$('#adduser-form').valid()) {
                return false;
            }
            showLoadingModal();
            $.post('/api/calendars/', {
                Id: $('#form-iduser').val(),
                Name: $('#form-username').val(),  Position: $('#form-position').val()
            }).done(function (result) {
                hideLoadingModal();
                $.gritter.add({
                    title: 'calendar has been add/edit successfully.',
                    text: '',
                    class_name: 'gritter-success'
                });
                OUser_table.fnDraw();
                // window.location.reload();
            }).fail(function (result) {
                hideLoadingModal();
                //window.location.reload();
                $.gritter.add({
                    title: 'Some thing went wrong! Please try again.',
                    text: '',
                    class_name: 'gritter-error'
                });
                OUser_table.fnDraw();
            });
        });


        $('.btn-addnew').on('click', function (e) {
            $('.formtitle').html('Add New Calendar');
            $('#adduser-form')[0].reset();
            $('#form-iduser').val("");
        });
    </script>
}
<div class="page-header">
    <h1>
        Calendars Management <a href="#modal-table-menu" role="button" class="green" data-toggle="modal">
            <button class="btn btn-sm btn-primary btn-addnew">Add New</button>
        </a>
    </h1>
</div>
<div class="row">
    <div class="col-xs-12">
        <table id="sample-table-2" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="center">
                        <label class="position-relative">
                            <input type="checkbox" class="ace" />
                            <span class="lbl"></span>
                        </label>
                    </th>
                    <th>
                         Date
                    </th>
                    <th>
                        Course
                    </th>
                    <th class="hidden-480">
                        Modified
                    </th>
                   
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div id="modal-table-menu" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="white">&times;</span>
                    </button>
                    <span class="formtitle">Add New Calendar</span>
                </div>
            </div>
            <form class="form-horizontal" role="form" id="adduser-form">
                <div class="modal-body no-padding">
                    <input type="hidden" id="form-iduser" value="" />
                    <!-- #section:elements.form -->
                    <!-- /section:elements.form -->
                    <div class="space-4">
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-username">
                            Date Start
                        </label>
                        <div class="col-sm-9">
                            <input type="date" id="form-username" name="modulename" placeholder="Date Start" class="col-xs-12 col-sm-12">
                        </div>
                    </div>

                   <div class="space-4">
                    </div>
                     <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-username">
                            Course
                        </label>
                        <div class="col-sm-9">
                            <select id="form-position" name="roles" class="col-xs-12">
                                <option value="First Steps">First Steps</option>
                                <option value="Academic English">Academic English</option>
                                <option value="IELTS">IELTS</option>
                              
                            </select>
                        </div>
                    </div>

                    <!-- /section:elements.form -->
                </div>
                <div class="modal-footer no-margin-top">
                    <button class="btn btn-sm btn-primary pull-right btn-save" data-dismiss="modal">
                        <i class="ace-icon fa fa-check"></i>Save
                    </button>
                    <button class="btn btn-sm btn-danger pull-right btn-reset" data-dismiss="modal">
                        <i class="ace-icon fa fa-times"></i>Cancel
                    </button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
