﻿@{
    ViewBag.Title = "Add New Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AddToHeadCss{
    <link rel="stylesheet" href="@Url.Content("/assets/css/jquery-ui.custom.min.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/chosen.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/datepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/bootstrap-timepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/daterangepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/bootstrap-datetimepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/colorpicker.css")" />
}
@section AddToEndBodyJs{
    <script src="@Url.Content("/Content/ckeditor/ckeditor.js")"></script>
    <script src="@Url.Content("/Content/ckfinder/ckfinder.js")"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/additional-methods.min.js"></script>
    <script src="/assets/js/bootbox.min.js"></script>
    <script src="/assets/js/jquery.maskedinput.min.js"></script>
    <script src="/assets/js/select2.min.js"></script>
    <script type="text/javascript">
       
        $('#article-form').validate({
            errorElement: 'div',
            errorClass: 'help-block',
            focusInvalid: false,
            rules: {
                name: {
                    required: true,

                },
                name_en: {
                    required: true,
                },
               
            },
            messages: {


            },


            highlight: function (e) {
                $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
            },

            success: function (e) {
                $(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
                $(e).remove();
            },

            errorPlacement: function (error, element) {
                if (element.is('input[type=checkbox]') || element.is('input[type=radio]')) {
                    var controls = element.closest('div[class*="col-"]');
                    if (controls.find(':checkbox,:radio').length > 1) controls.append(error);
                    else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                }
                else if (element.is('.select2')) {
                    error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
                }
                else if (element.is('.chosen-select')) {
                    error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
                }
                else error.insertAfter(element);
            },

            submitHandler: function (form) {
            },
            invalidHandler: function (form) {
            }
        });
        $('.btn-save').on('click', function () {

            if (!$('#article-form').valid()) {
                return false;
            }
            console.log($('#article-form'));
            $('#article-form')[0].submit();
        });
    </script>
    <script type="text/javascript">
    function BrowseServer() {
        var finder = new CKFinder();
        finder.basePath = '/Content/ckfinder/';
        finder.selectActionFunction = SetFileField;
        finder.resourceType = 'Images';
        finder.popup();
    }
    function SetFileField(fileUrl) {
        $("#xFilePath").attr("src", fileUrl);
        $("#inputImg").attr("value",fileUrl);
        $("#inputImg_tmp").attr("value",window.location.origin + fileUrl);
    }
    function BrowseServer2() {
        var finder = new CKFinder();
        finder.basePath = '/Content/ckfinder/';
        finder.selectActionFunction = SetFileField2;
        finder.resourceType = 'Images';
        finder.popup();
    }
    function SetFileField2(fileUrl) {
        $("#xFilePath2").attr("src", fileUrl);
        $("#inputImg2").attr("value",  fileUrl);
        $("#inputImg2_tmp").attr("value", window.location.origin + fileUrl);
    }
    </script>
}
<div class="page-header">
    <h1>
       Edit
    </h1>
</div>
<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        @{var post = ViewData["post"] as ACET_WEB.Models.CategoryForm;
        if (post == null) { post = new ACET_WEB.Models.CategoryForm(); } }
        <form class="form-horizontal" id="article-form" role="form" action="@Request.Url.AbsoluteUri" method="post">
            <!-- #section:elements.form -->
            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right" for="title">
                    Title VI
                </label>
                <div class="col-sm-11">
                    <input type="text" id="post_title_vi" name="name" placeholder="Title Vi" class="form-control" value="@post.name" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right" for="title">
                    Title EN
                </label>
                <div class="col-sm-11">
                    <input type="text" id="post_title_en" name="name_en" placeholder="Title En" class="form-control" value="@post.name_en" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right" for="title">
                    Image
                </label>
                <div class="col-sm-11">
                <input type="hidden" name="img" id="inputImg" value="@post.img" />
                     <input type="text" name="img_tmp" id="inputImg_tmp" value="@post.img" />
                    <input id="browseServer" value="Browse Server" type="button" onclick="BrowseServer()">
                    <img alt="" src="@post.img" id="xFilePath" name="img2" width="100px;" />



                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right" for="title">
                    Image Mobile
                </label>
                <div class="col-sm-11">
                	 <input type="hidden" name="img_mobile" id="inputImg2" value="@post.img_mobile" />
                    <input type="text" name="img_mobile_tmp" id="inputImg2_tmp" value="@post.img_mobile" />
                   
                    <input id="browseServer2" value="Browse Server" type="button" onclick="BrowseServer2()">
                    <img alt="" src="@post.img_mobile" id="xFilePath2" name="img22" width="100px;" />



                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right" for="title">
                    Link Banner
                </label>
                <div class="col-sm-11">
                    <input type="text" id="img_link" name="img_link" placeholder="Img Link" class="form-control" value="@post.img_link" />
                </div>
            </div>
             <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right" for="title">
                    Link Banner English
                </label>
                <div class="col-sm-11">
                    <input type="text" id="img_link_en" name="img_link_en" placeholder="Img Link English" class="form-control" value="@post.img_link_en" />
                </div>
            </div>
            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info btn-save" type="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>Submit
                    </button>
                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>Reset
                    </button>
                </div>
            </div>
            <div class="hr hr-24">
            </div>
        </form>

        <!-- PAGE CONTENT ENDS -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
