﻿@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Breadcrumbs = "Categories";
}
@section AddToHeadCss{
    <link rel="stylesheet" href="@Url.Content("/assets/css/jquery-ui.custom.min.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/chosen.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/datepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/bootstrap-timepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/daterangepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/bootstrap-datetimepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/colorpicker.css")" />
    <link rel="stylesheet" href="/assets/css/select2.css" />
    <link rel="stylesheet" href="/assets/css/jquery.gritter.css" />
}
@section AddToEndBodyJs{
    <!-- page specific plugin scripts -->
    <script src=@Url.Content("/assets/js/jquery.dataTables.min.js")></script>
    <script src=@Url.Content("/assets/js/jquery.dataTables.bootstrap.js")></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/additional-methods.min.js"></script>
    <script src="/assets/js/bootbox.min.js"></script>
    <script src="/assets/js/jquery.maskedinput.min.js"></script>
    <script src="/assets/js/select2.min.js"></script>
    <script type="text/javascript">

        function delete_post(id) {
            bootbox.dialog({
                message: "Are you sure you want to delete this category?",
                closeButton: false,
                buttons: {
                    "cancel": {
                        "label": "No",
                        "className": "btn-sm",
                        callback: function () {
                        }
                    },
                    "success": {
                        "label": "Yes",
                        "className": "btn-sm btn-primary",
                        callback: function () {
                            showLoadingModal();
                            $.post('/api/articles/' + id, {}).done(function (result) {
                                hideLoadingModal();
                                $.gritter.add({
                                    title: 'Article has been deleted successfully.',
                                    text: '',
                                    class_name: 'gritter-success'
                                });
                                OUser_table.fnDraw();
                                //window.location.reload();
                            }).fail(function (result) {
                                hideLoadingModal();
                                $.gritter.add({
                                    title: 'fail. Please try again.',
                                    text: '',
                                    class_name: 'gritter-error'
                                });
                            });
                        }
                    },
                },
            });
        }
        function build_action_item(id) {
            var htmlstr = '';
            htmlstr += '<div class="hidden-sm hidden-xs action-buttons">';
            htmlstr += '     <a class="blue" href="#"><i class="ace-icon fa fa-search-plus bigger-130"></i></a>';
            htmlstr += '     <a class="green" href="/admin/categories/?method=edit&id='+id+'" data-toggle="modal"><i class="ace-icon fa fa-pencil bigger-130"></i></a>';
            htmlstr += '     <a class="red" onclick="delete_post(' + id + ');return false;" href="#"><i class="ace-icon fa fa-trash-o bigger-130"></i></a> </div>';
            htmlstr += ' <div class="hidden-md hidden-lg">  <div class="inline position-relative">';
            htmlstr += '<button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">';
            htmlstr += '<i class="ace-icon fa fa-caret-down icon-only bigger-120"></i></button>';
            htmlstr += '<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">';
            htmlstr += '<li><a href="#" class="tooltip-info" data-rel="tooltip" title="View"><span class="blue">';
            htmlstr += '     <i class="ace-icon fa fa-search-plus bigger-120"></i></span></a></li>';
            htmlstr += ' <li><a href="#" class="tooltip-success" data-rel="tooltip" title="Edit"><span class="green">';
            htmlstr += '    <i class="ace-icon fa fa-pencil-square-o bigger-120"></i></span></a></li>';
            htmlstr += ' <li><a href="#" class="tooltip-error" data-rel="tooltip" title="Delete"><span class="red">';
            htmlstr += '    <i class="ace-icon fa fa-trash-o bigger-120"></i></span></a></li></ul></div></div>';
            return htmlstr;
        }

        var OUser_table =
        $('#sample-table-2')
        //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
        .dataTable({
            bAutoWidth: false,
            "aoColumnDefs": [
                {
                    "aTargets": [0],
                    "mRender": function (data, type, full) {
                        return '<label class="position-relative"> <input type="checkbox" class="ace" value="' + full[0] + '"/> <span class="lbl"></span></label>';
                    },
                    "sClass": "center",
                },
                 {
                     "aTargets": [1],
                     "mRender": function (data, type, full) {
                         return data;
                     },
                     "sClass": "center",
                 },
                  {
                      "aTargets": [4],
                      "mRender": function (data, type, full) {
                          return build_action_item(full[0]);
                      },
                      "sClass": "center",
                  },

            ],
            "aoColumns": [
                { "bSortable": false },
                null, null, null,  { "bSortable": false }
            ],
            "aaSorting": [],
            "serverSide": true,
            "processing": true,
            "ajax": {
                "url": "/api/categories/",
                "data": function (d) {
                    d.search_value = d.search.value;
                    d.order_colunm = 0;
                    d.order_dir = "asc";
                    if (d.order.length > 0) {
                        d.order_colunm = d.order[0].column;
                        d.order_dir = d.order[0].dir;
                    }
                    d.cus_type = 0;
                    // d.custom = $('#myInput').val();
                    // etc
                },
            },
            "oLanguage": {
                "sProcessing": "Loading...",
                "sEmptyTable": "No record found.",
                "sZeroRecords": "No record found.",
            },
            //,
            //"sScrollY": "200px",
            //"bPaginate": false,

            //"sScrollX": "100%",
            //"sScrollXInner": "120%",
            //"bScrollCollapse": true,
            //Note: if you are applying horizontal scrolling (sScrollX) on a ".table-bordered"
            //you may want to wrap the table inside a "div.dataTables_borderWrap" element

            //"iDisplayLength": 50
        });
        /**
        var tableTools = new $.fn.dataTable.TableTools( oTable1, {
            "sSwfPath": "../../copy_csv_xls_pdf.swf",
            "buttons": [
                "copy",
                "csv",
                "xls",
                "pdf",
                "print"
            ]
        } );
        $( tableTools.fnContainer() ).insertBefore('#sample-table-2');
        */


        $(document).on('click', 'th input:checkbox', function () {
            var that = this;
            $(this).closest('table').find('tr > td:first-child input:checkbox')
            .each(function () {
                this.checked = that.checked;
                $(this).closest('tr').toggleClass('selected');
            });
        });


        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }


    </script>
}
<div class="page-header">
    <h1>
       Category Management <a href="/admin/categories/?method=addnew" role="button" class="green" data-toggle="modal">
            <button class="btn btn-sm btn-primary btn-addnew">Add New</button>
        </a>
    </h1>
</div>
<div class="row">
    <div class="col-xs-12">
        <table id="sample-table-2" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="center">
                        <label class="position-relative">
                            <input type="checkbox" class="ace" />
                            <span class="lbl"></span>
                        </label>
                    </th>
                    <th>
                        Title VI
                    </th>
                    <th>
                        Title EN
                    </th>
                    <th class="hidden-480">
                        Modified
                    </th>

                    <th>
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

