<div class="col-sm-12" id="question_group_1">
<h3>Question 1 - 10</h3>
<ul>
<li>In this section you must choose the word which best fits each space in the texts. </li>
<li>For questions 1 to 10, choose the correct answer from the drop down menu.</li>
</ul>

<div id="answer_text">
  
</div>
<div class="hide" id="selection_anwser">
  <select id="id_select">
    <option>Answer</option>
  </select>
</div>
<p>&nbsp;</p>
<button class="btn btn-red">Next ></button>
</div>
<script type="text/javascript">
var rs = '{"draw":1,"data":[[["test","1"],["very","A"],["really","B"],["most","C"],["best","D"]],[["test","1"],["come","A"],["go","B"],["visit","C"],["travel","D"]],[["test","1"],["won","A"],["had won","B"],["wins","C"],["has won","D"]],[["test","1"],["see","A"],["watch","B"],["know","C"],["look","D"]],[["test","1"],["in","A"],["at","B"],["on","C"],["for","D"]],[["test","1"],["took","A"],["takes","B"],["taken","C"],["has taken","D"]],[["test","1"],["by","A"],["for","B"],["on","C"],["to","D"]],[["test","1"],["However","A"],["Even though","B"],["Even","C"],["Despite","D"]],[["test","1"],["gives","A"],["puts on","B"],["makes","C"],["entertains","D"]],[["test","1"],[null,"A"],["can","B"],["could","C"],["should","D"]]],"groupQuestion":"<h3>The Sydney Opera House</h3><p>The Sydney Opera House is a very beautiful and important building in Australia.  It is one of the ${question_1}  famous places in the country and millions of people ${question_2} the opera house each year.  Since it opened in 1973, it ${question_3}  many prizes for its design.  It is amazing to ${question_4} its bright white walls above the blue water of Sydney Harbour.  Many people think it shows how clever and creative Australians can be.</p><h3>Then and now</h3><p>The construction of the Sydney Opera House was not quick.  Building started ${question_5}  2 March 1959 and it ${question_6} many years to finish.  Engineers spent over 4 years ${question_7} the roof, but it was finally complete in 1973.  ${question_8} many Australians were upset by the cost and delays of the project, they were extremely happy about the final design.Today the Sydney Opera House ${question_9} thousands of shows every year.  It is a cultural centre where people ${question_10} enjoy concerts, plays, ballet and of course, the opera.  Even people who do not enjoy the performing arts, love to come and admire its unique design.</p>"}';

    answer_option = [[{'value':'A','text':'very'},{'value':'B','text':'really'},{'value':'C','text':'most'},{'value':'D','text':'best'}],[{'value':'A','text':'come'},{'value':'B','text':'go'},{'value':'C','text':'visit'},{'value':'D','text':'travel'}],[{'value':'A','text':'won'},{'value':'B','text':'had won'},{'value':'C','text':'wins'},{'value':'D','text':'has won'}],[{'value':'A','text':'see'},{'value':'B','text':'watch'},{'value':'C','text':'know'},{'value':'D','text':'look'}],[{'value':'A','text':'in'},{'value':'B','text':'at'},{'value':'C','text':'on'},{'value':'D','text':'for'}],[{'value':'A','text':'took'},{'value':'B','text':'takes'},{'value':'C','text':'taken'},{'value':'D','text':'has taken'}],[{'value':'A','text':'by'},{'value':'B','text':'for'},{'value':'C','text':'on'},{'value':'D','text':'to'}],[{'value':'A','text':'However'},{'value':'B','text':'Even though'},{'value':'C','text':'Even'},{'value':'D','text':'Despite'}],[{'value':'A','text':'gives'},{'value':'B','text':'puts on'},{'value':'C','text':'makes'},{'value':'D','text':'entertains'}],[{'value':'A','would':'very'},{'value':'B','text':'can'},{'value':'C','text':'could'},{'value':'D','text':'should'}]];

  rs_obj = JSON.parse(rs)

  function build_test_page () {
    phrase_text_obj = $('#phrase_text').clone();
    var htmlss= phrase_text_obj.html();
    $.each(answer_option,function(i,j){
          htmlss = htmlss.replace("${question_"+(i+1)+"}", build_answer_option(i+1,j));
    });
    $('#answer_text').html(htmlss);
  }
  function build_answer_option(id, answer_option){
    answer_text_obj = $("#selection_anwser").clone();
    answer_text_obj.find("select").attr("id","answer_option_"+id);
    str="<option>Answer</option>";
    $.each(answer_option, function(i,j){
      str+= "<option value='"+j.value+"'>"+j.text+"</option>";
    });
    answer_text_obj.find("select").html(str);
    return answer_text_obj.html();
  }
</script>
<script type="text/javascript">
function ads_click (url) {
   var is_show=getCookie2("is_show_ads_tmn");
   if(is_show==""){
     setCookie2("is_show_ads_tmn", "true", 0.5);
    window.open(url);
   }
    
}
function setCookie2(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    var expires = "expires="+d.toUTCString();
    document.cookie = cname + "=" + cvalue + "; " + expires;
}function getCookie2(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1);
        if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
    }
    return "";
}
</script>