﻿<div class="container" style="margin-top:20px;">
    <div class="row bottom-page" >
    @foreach(var item in ViewBag.PageBottom){
        <div class="col-sm-4">
        @Html.Raw(item.Value)
                      </div>
        }
    </div> <!-- / .row -->
</div> <!-- / .container -->
