﻿@if(ViewBag.lang.Equals("en")){
<div class="col-sm-4">
	<a href="/tai-tai-lieu-luyen-thi-ielts-mien-phi.html?hl=en"><img src="/home/img/tailieu_en.jpg" title="English study material" width='100%' style="height:261px;"/></a>
   
</div>
}else{
<div class="col-sm-4">
	<a href="/free-ielts-documents.html"><img src="/home/img/tailieu.jpg" title="Tài liệu học tập" width='100%' style="height:261px;"/></a>
   
</div>
}