﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="ico/favicon.ico">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap core CSS -->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
    <!-- Custom styles for this template -->
    <!-- Resources -->
    <link href="/home/fonts/font-awesome-4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/home/css/animate.css" rel="stylesheet">
    <link href="/home/css/lightbox.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
    <link href="/home/css/jquery.bxslider.css" rel="stylesheet">
    <link href="/home/css/fullcalendar.css" rel="stylesheet">
    <link href="/home/css/jquery-ui.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="/home/css/style.css" rel="stylesheet">
    <!--Start of Zopim Live Chat Script-->
    <script type="text/javascript">
        window.$zopim || (function (d, s) {
            var z = $zopim = function (c) { z._.push(c) }, $ = z.s =
            d.createElement(s), e = d.getElementsByTagName(s)[0]; z.set = function (o) {
                z.set.
                _.push(o)
            }; z._ = []; z.set._ = []; $.async = !0; $.setAttribute("charset", "utf-8");
            $.src = "//v2.zopim.com/?3CPZ4Qd4ne12UGjiWu6No2ld4Eh1SgnR"; z.t = +new Date; $.
            type = "text/javascript"; e.parentNode.insertBefore($, e)
        })(document, "script");
    </script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-35647349-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

    <!--End of Zopim Live Chat Script-->
    @if (IsSectionDefined("AddToHeadCss"))
    {
        @RenderSection("AddToHeadCss", required: false)
    }
    <link href="/home/css/responsitive.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <!-- Navigation -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="/home/img/logo.png" alt="..."></a>
                <h3 class="navbar-slogan" id="slogan1" style="color:red;text-align:center;padding-left:2%;display:none;">Anh ngữ Học thuật và IELTS hàng đầu Việt Nam</h3>
                <h3 class="navbar-slogan" id="slogan2" style="color:red;text-align:center;padding-left:2%;display:none;">First Steps - Anh ngữ dành cho học sinh THCS</h3>
                <div class="right-search hidden-xs hidden-sm">

                    <p class="top-hotline">HCM: 08 3932 6202 - HN: 04 3976 5268</p>
                    <form class="navbar-form navbar-right " role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" id="home_search_value" style="  border-right: none;">
                            <span class="input-group-btn">
                                <input class="btn " type="button" id="btn_home_search" style="background: url('/home/img/seach-icon.png') no-repeat;  width: 68px;height:34px; border-color: gainsboro; border-left: none; " />
                            </span>
                        </div>
                    </form>

                    <a href="#" style="padding-left:15px" class="hide"><img src="/home/img/icon_flag_vn.jpg" /></a>
                    <a href="#" style="padding-left:5px" class="hide"><img src="/home/img/icon_flag_en.jpg" /></a>
                    <span class="hide" style="float:right;padding-right:15px;padding-bottom:10px;" >Register | Login</span>
                     <span>&nbsp;</span>
                </div>
            </div>


        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav " style="overflow: visible;">
                <li class="active">
                    <a href="/" class="dropdown-toggle"><i class="fa fa-home bigger-200 white"></i> </a>
                </li>
                <li class="slash hidden-xs hidden-sm">/</li>
                <li class="">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">TẠI SAO CHỌN ACET</a>
                    <ul class="dropdown-menu">
                        <li><a href="/gioi-thieu-trung-tam-anh-ngu-acet.html">Giới thiệu</a></li>
                        <li><a href="/doi-ngu-giao-vien.html">Đội ngũ giáo viên</a></li>
                        <li><a href="/tieu-chuan-chat-luong.html">Tiêu chuẩn chất lượng</a></li>
                        <li><a href="/chung-nhan-giai-thuong.html">Chứng nhận & Giải thưởng</a></li>
                        <li><a href="/hinh-anh-va-video.html">Hình ảnh & Video</a></li>
                        <li><a href="/chuong-trinh-hop-tac.html">Chương trình hợp tác</a></li>
                        <li><a href="/insearch.html">Insearch</a></li>
                        <li><a href="/idp.html">IDP</a></li>
                    </ul>
                </li>
                <li class="slash hidden-xs hidden-sm">/</li>
                <li class="">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">KHÓA HỌC </a>
                    <ul class="dropdown-menu">
                        <li><a href="/anh-ngu-hoc-thuat.html">Anh ngữ Học thuật</a></li>
                        <li><a href="/first-step.html">First Steps</a></li>
                        <li><a href="/luyen-thi-ielts.html">Luyện thi IELTS</a></li>
                    </ul>
                </li>
                <li class="slash hidden-xs hidden-sm">/</li>
                <li class="">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sự kiện nổi bật </a>
                    <ul class="dropdown-menu">
                        <li><a href="/tin-uu-dai.html">Tin ưu đãi</a></li>
                        <li><a href="/su-kien.html">Sự kiện</a></li>
                        <li><a href="/tin-bao-chi.html">Tin báo chí</a></li>
                        <li><a href="/tin-doi-tac.html">Tin đối tác</a></li>
                    </ul>
                </li>
                <li class="slash hidden-xs hidden-sm">/</li>
                <li class="">
                    <a href="/cau-chuyen-thanh-cong.html" class="dropdown-toggle">Câu chuyện thành công </a>

                </li>
                <li class="slash hidden-xs hidden-sm">/</li>
                <li class="">
                    <a href="/doi-ngu-giao-vien.html" class="dropdown-toggle" >Giáo viên </a>

                </li>
                <li class="slash hidden-xs hidden-sm">/</li>
                <li class="">
                    <a href="/tuyen-dung.html" class="dropdown-toggle" >Tuyển dụng </a>

                </li>
                <li class="slash hidden-xs hidden-sm">/</li>
                <li class="">
                    <a href="/lien-he.html" class="dropdown-toggle">Liên hệ </a>

                </li>
            </ul>
            <!-- Mobile Search -->

        </div><!--/.nav-collapse -->
    </div> <!-- / .navigation -->
    <!-- Wrapper -->
    <div class="wrapper">

        @RenderBody()
    </div> <!-- / .wrapper -->
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <!-- Contact Us -->
                <div class="col-sm-3">
                    <h4>GIỚI THIỆU</h4>
                    <ul>
                        <li><a href="/gioi-thieu-trung-tam-anh-ngu-acet.html">Tại sao chọn ACET</a></li>
                        <li><a href="/tin-uu-dai.html">Tin tức & Sự kiện</a></li>
                        <li><a href="/idp.html">IDP</a></li>
                        <li><a href="/insearch.html">Insearch</a></li>
                        <li><a href="/tuyen-dung.html">Tuyển dụng</a></li>
                    </ul>
                </div>

                <div class="col-sm-3">
                    <h4>KHÓA HỌC</h4>
                    <ul>
                        <li><a href="/first-step.html">First Steps</a></li>
                        <li><a href="/anh-ngu-hoc-thuat.html">Anh ngữ Học thuật</a></li>
                        <li><a href="/luyen-thi-ielts.html">IELTS Express (4.0-4.5)</a></li>
                        <li><a href="/luyen-thi-ielts.html">IELTS Plus (5.0-5.5)</a></li>
                        <li><a href="/luyen-thi-ielts.html">IELTS Pro A&B (6.0+)</a></li>
                    </ul>
                </div>

                <div class="col-sm-3">
                    <h4>THÔNG TIN & HỖ TRỢ</h4>
                    <ul>
                        <li><a href="/thoi-khoa-bieu.html">Lịch khai giảng</a></li>
                        <li><a href="/thoi-khoa-bieu.html">Thời khóa biểu</a></li>
                        <li><a href="/dang-ky-khoa-hoc.html">Đăng ký khóa học</a></li>
                        <li><a href="http://www.idp.com/vietnam/ielts?sc_lang=vi-VN&utm_source=ACET&utm_medium=banner&utm_campaign=ACETwebsite"> Đăng ký thi IELTS</a></li>
                        <li><a href="/Home/UnderConstruction">Kiểm tra trình độ tiếng Anh</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h4><i class="fa fa-map-marker text-red"></i>KẾT NỐI ACET</h4>
                    <ul style="list-style-type: none;">
                        <li style="line-height:26px"><a href="http://www.facebook.com/acetvn"><i class="fa fa-facebook-square fa-2x" style="  width: 40px;"></i>Facebook</a></li>
                        @*<li style="line-height:26px"><i class="fa fa-twitter-square fa-2x" style="  width: 40px;"></i>Tweeter</li>*@
                        <li style="line-height:26px"><a href="http://www.youtube.com/acetvn"><i class="fa fa-youtube fa-2x" style="  width: 40px;"></i>Youtube</a></li>
                        @*<li style="line-height:26px"><i class="fa fa-vimeo-square fa-2x" style="  width: 40px;"></i>Vimeo</li>
                            <li style="line-height:26px"><i class="fa fa-flickr fa-2x" style="  width: 40px;"></i>Flickr</li>*@
                    </ul>
                </div>

                <div class="col-sm-6">
                    <h4>LIÊN HỆ</h4>
                    <p>HÀ NỘI</p>
                    <p style="font-size: 12px;">
                        26 Bích Câu, Đống Đa- Tel: 04 3732 5303 - Fax: 04 3732 5304<br />
                        Tòa nhà Ocean Park, 01 Đào Duy Anh, Đống Đa - Tel: 04 3976 5268 - Fax: 04 3976 5266
                    </p>
                </div>
                <!-- Contact Us -->
                <div class="col-sm-6">
                    <h4>&nbsp;</h4>
                    <p>TP. HỒ CHÍ MINH</p>
                    <p style="font-size: 12px;">
                        226 Lê Văn Sỹ, Q. Tân Bình - Tel: 08 3991 2999 - Fax: 08 3991 7556<br />
                        63 Ngô Thời Nhiệm, Quận 3 - Tel: 08 3933 0102 - 08 3933 0107 - Fax: 08 3933 0108<br />
                        187 Võ Thị Sáu, Quận 3 - Tel: 08 3932 6202 - Fax: 08 3932 6208
                    </p>
                </div>

            </div>
        </div>
    </footer>

    <!-- Copyright -->
    <div class="sxx" style="background:#d83a1d">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="copyright" style="color:#fff">
                        Copyright 2015 ACET | All Rights Reserved
                    </div>
                </div>
            </div>  <!-- / .row -->
        </div> <!-- / .container -->
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/home/js/jquery.js"></script>
    <script type="text/javascript" src="/home/js/jquery-ui.js"></script>
    <script src="/home/js/moment.js"></script>
    <script src="/home/js/bootstrap.min.js"></script>
    <script src="/home/js/scrolltopcontrol.js"></script>
    <script src="/home/js/lightbox-2.6.min.js"></script>
    <script src="/home/js/jquery.knob.js"></script>
    <script src="/home/js/jquery.throttle.js"></script>
    <script src="/home/js/jquery.classycountdown.js"></script>
    <script src="/home/js/jquery.bxslider.js"></script>
    <script src="/home/js/fullcalendar.js"></script>
    <script src="/home/js/jquery.twbsPagination.js"></script>
    <script src="/home/js/custom.js"></script>
    <script src="/home/js/index.js"></script>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=466509100132722";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    @if (IsSectionDefined("AddToEndBodyJs"))
    {
        @RenderSection("AddToEndBodyJs", required: false)
    }
    @if (IsSectionDefined("cusJs"))
    {
        @RenderSection("cusJs", required: false)
    }
    <script>
        $(document).ready(function () {
            var hashstr = window.location.hash;
            if (hashstr != "#" && hashstr != "") {

                $(hashstr).parent().find(".in").removeClass("in");
                $(hashstr).parent().find(".active").removeClass("active");
                $(hashstr).addClass("in");
                $(hashstr).addClass("active");
                $('.left-col ul li a[href=' + hashstr + ']').parent().parent().find('li.active').removeClass('active');
                $('.left-col ul li a[href=' + hashstr + ']').parent().addClass("active");
                $('.nav.nav-tabs li a[href=' + hashstr + ']').parent().parent().find('li.active').removeClass('active');
                $('.nav.nav-tabs li a[href=' + hashstr + ']').parent().addClass("active");

            }

            if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                $("#slogan1, #slogan2").hide();
            }
            else {
                $(".navbar-nav > li").hover(
                    function () {
                        $(this).addClass("open");
                    }, function () {

                        $(this).delay(5000).removeClass("open");
                    }
                );
                showSlogan();
            }


        });

        function showSlogan() {
            if ($("#slogan1").is(':visible')) {
                $("#slogan1").fadeOut(2000, function () {
                    $("#slogan2").fadeIn(2000, function () {
                        setTimeout(showSlogan, '400');
                    });
                });

            }
            else {
                $("#slogan2").fadeOut(2000, function () {
                    $("#slogan1").fadeIn(2000, function () {
                        setTimeout(showSlogan, '400');
                    });
                });
            }
        }
        $(document).on('click', '#btn_home_search', function () {
            window.location.href = "/Home/SearchResult/" + $("#home_search_value").val().trim();
        });
        $("#home_search_value").keypress(function (e) {
            
            if (e.which == 13) {
                e.preventDefault();
                window.location.href = "/Home/SearchResult/" + $("#home_search_value").val().trim();
                return false;

            }
        })
    </script>
    <div class="ads">
    <!-- Google Code for Remarketing Tag -->
    <!--------------------------------------------------
    Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
    -------------------------------------------------- -->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 958751429;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;position: fixed;  left: -10px; bottom: -10px;overflow: hidden;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/958751429/?value=0&amp;guid=ON&amp;script=0" />
        </div>
    </noscript>
    <!-- Google Code for Remarketing Tag -->
    <!--------------------------------------------------
    Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
    -------------------------------------------------- -->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 966286787;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;    position: fixed;  left: -10px; bottom: -10px;overflow: hidden;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/966286787/?value=0&amp;guid=ON&amp;script=0" />
        </div>
    </noscript>
    </div>
    <style type="text/css">
   .ads iframe, .ads img {
        position: fixed;
    }
    </style>

</body>
</html>
