﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" )" />
    <meta charset="utf-8" )" />
    <title>@ViewBag.Title</title>

    <meta name="description" content="overview &amp; stats" )" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" )" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="@Url.Content("/assets/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/font-awesome.min.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/jquery.gritter.css")" />
    <!-- page specific plugin styles -->
    @if (IsSectionDefined("AddToHeadCss"))
    {
        @RenderSection("AddToHeadCss", required: false)
    }

    <!-- text fonts -->
    <link rel="stylesheet" href="@Url.Content("/assets/css/ace-fonts.css")" />

    <!-- ace styles -->
    <link rel="stylesheet" href="@Url.Content("/assets/css/ace.min.css")" id='main-ace-style' />

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="@Url.Content("/assets/css/ace-part2.min.css")" />
    <![endif]-->
    <link rel="stylesheet" href="@Url.Content("/assets/css/ace-skins.min.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/ace-rtl.min.css")" />

    <!--[if lte IE 9]>
      <link rel="stylesheet" href="@Url.Content("/assets/css/ace-ie.min.css")" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <script src="@Url.Content("/assets/js/ace-extra.min.js")"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
    <script src="@Url.Content("/assets/js/html5shiv.min.js")"></script>
    <script src="@Url.Content("/assets/js/respond.min.js")"></script>
    <![endif]-->
    <style type="text/css">
        #loadingModal .modal-content, #loadingModal .modal-dialog{
                        background: none!important;
                        border: none!important;

                    }
        #loadingModal .modal-dialog {
                        left: 50%;
                        margin-left: -110px;
                        margin-top: -110px;
                        position: absolute;
                        top: 50%;
                        width: 220px;

                    }
                    .pull-right
                    {
                        margin-left:5px;
                        margin-right:5px;
                        }
    </style>
</head>

<body class="no-skin">
    <!-- #section:basics/navbar.layout -->
    <div id="navbar" class="navbar navbar-default">
        <script type="text/javascript">
            try { ace.settings.check('navbar', 'fixed') } catch (e) { }
        </script>

        <div class="navbar-container" id="navbar-container">
            <!-- #section:basics/sidebar.mobile.toggle -->
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
                <span class="sr-only">Toggle sidebar</span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>
            </button>

            <!-- /section:basics/sidebar.mobile.toggle -->
            <div class="navbar-header pull-left">
                <!-- #section:basics/navbar.layout.brand -->
                <a href="/admin/" class="navbar-brand">
                    <small>
                        <i class="fa fa-leaf"></i>
                        ACET Admincp
                    </small>
                </a>

                <!-- /section:basics/navbar.layout.brand -->
                <!-- #section:basics/navbar.toggle -->
                <!-- /section:basics/navbar.toggle -->
            </div>

            <!-- #section:basics/navbar.dropdown -->
            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    <li class="grey">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="ace-icon fa fa-tasks"></i>
                            <span class="badge badge-grey">4</span>
                        </a>

                        <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="ace-icon fa fa-check"></i>
                                4 Tasks to complete
                            </li>

                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <span class="pull-left">Software Update</span>
                                        <span class="pull-right">65%</span>
                                    </div>

                                    <div class="progress progress-mini">
                                        <div style="width:65%" class="progress-bar"></div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <span class="pull-left">Hardware Upgrade</span>
                                        <span class="pull-right">35%</span>
                                    </div>

                                    <div class="progress progress-mini">
                                        <div style="width:35%" class="progress-bar progress-bar-danger"></div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <span class="pull-left">Unit Testing</span>
                                        <span class="pull-right">15%</span>
                                    </div>

                                    <div class="progress progress-mini">
                                        <div style="width:15%" class="progress-bar progress-bar-warning"></div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <span class="pull-left">Bug Fixes</span>
                                        <span class="pull-right">90%</span>
                                    </div>

                                    <div class="progress progress-mini progress-striped active">
                                        <div style="width:90%" class="progress-bar progress-bar-success"></div>
                                    </div>
                                </a>
                            </li>

                            <li class="dropdown-footer">
                                <a href="#">
                                    See tasks with details
                                    <i class="ace-icon fa fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="purple">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="ace-icon fa fa-bell icon-animated-bell"></i>
                            <span class="badge badge-important">8</span>
                        </a>

                        <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="ace-icon fa fa-exclamation-triangle"></i>
                                8 Notifications
                            </li>

                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <span class="pull-left">
                                            <i class="btn btn-xs no-hover btn-pink fa fa-comment"></i>
                                            New Comments
                                        </span>
                                        <span class="pull-right badge badge-info">+12</span>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="btn btn-xs btn-primary fa fa-user"></i>
                                    Bob just signed up as an editor ...
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <span class="pull-left">
                                            <i class="btn btn-xs no-hover btn-success fa fa-shopping-cart"></i>
                                            New Orders
                                        </span>
                                        <span class="pull-right badge badge-success">+8</span>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <span class="pull-left">
                                            <i class="btn btn-xs no-hover btn-info fa fa-twitter"></i>
                                            Followers
                                        </span>
                                        <span class="pull-right badge badge-info">+11</span>
                                    </div>
                                </a>
                            </li>

                            <li class="dropdown-footer">
                                <a href="#">
                                    See all notifications
                                    <i class="ace-icon fa fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="green">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
                            <span class="badge badge-success">5</span>
                        </a>

                        <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="ace-icon fa fa-envelope-o"></i>
                                5 Messages
                            </li>

                            <li class="dropdown-content">
                                <ul class="dropdown-menu dropdown-navbar">
                                    <li>
                                        <a href="#">
                                            <img src="@Url.Content("/assets/avatars/avatar.png")" class="msg-photo" alt="Alex's Avatar" />
                                            <span class="msg-body">
                                                <span class="msg-title">
                                                    <span class="blue">Alex:</span>
                                                    Ciao sociis natoque penatibus et auctor ...
                                                </span>

                                                <span class="msg-time">
                                                    <i class="ace-icon fa fa-clock-o"></i>
                                                    <span>a moment ago</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <img src="@Url.Content("/assets/avatars/avatar3.png")" class="msg-photo" alt="Susan's Avatar" />
                                            <span class="msg-body">
                                                <span class="msg-title">
                                                    <span class="blue">Susan:</span>
                                                    Vestibulum id ligula porta felis euismod ...
                                                </span>

                                                <span class="msg-time">
                                                    <i class="ace-icon fa fa-clock-o"></i>
                                                    <span>20 minutes ago</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <img src="@Url.Content("/assets/avatars/avatar4.png")" class="msg-photo" alt="Bob's Avatar" />
                                            <span class="msg-body">
                                                <span class="msg-title">
                                                    <span class="blue">Bob:</span>
                                                    Nullam quis risus eget urna mollis ornare ...
                                                </span>

                                                <span class="msg-time">
                                                    <i class="ace-icon fa fa-clock-o"></i>
                                                    <span>3:15 pm</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <img src="@Url.Content("/assets/avatars/avatar2.png")" class="msg-photo" alt="Kate's Avatar" />
                                            <span class="msg-body">
                                                <span class="msg-title">
                                                    <span class="blue">Kate:</span>
                                                    Ciao sociis natoque eget urna mollis ornare ...
                                                </span>

                                                <span class="msg-time">
                                                    <i class="ace-icon fa fa-clock-o"></i>
                                                    <span>1:33 pm</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <img src="@Url.Content("/assets/avatars/avatar5.png")" class="msg-photo" alt="Fred's Avatar" />
                                            <span class="msg-body">
                                                <span class="msg-title">
                                                    <span class="blue">Fred:</span>
                                                    Vestibulum id penatibus et auctor  ...
                                                </span>

                                                <span class="msg-time">
                                                    <i class="ace-icon fa fa-clock-o"></i>
                                                    <span>10:09 am</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown-footer">
                                <a href="inbox.html">
                                    See all messages
                                    <i class="ace-icon fa fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- #section:basics/navbar.user_menu -->
                    <li class="light-blue">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" src="@Url.Content("/assets/avatars/user.jpg")" alt="Jason's Photo" />
                            <span class="user-info">
                                <small>Welcome,</small>
                                Jason
                            </span>

                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>

                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <li>
                                <a href="#">
                                    <i class="ace-icon fa fa-cog"></i>
                                    Settings
                                </a>
                            </li>



                            <li class="divider"></li>

                            <li>
                                <a href="/login/logout/">
                                    <i class="ace-icon fa fa-power-off"></i>
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- /section:basics/navbar.user_menu -->
                </ul>
            </div>

            <!-- /section:basics/navbar.dropdown -->
        </div><!-- /.navbar-container -->
    </div>

    <!-- /section:basics/navbar.layout -->
    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try { ace.settings.check('main-container', 'fixed') } catch (e) { }
        </script>

        <!-- #section:basics/sidebar -->
        <div id="sidebar" class="sidebar                  responsive">
            <script type="text/javascript">
                try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
            </script>



            <ul class="nav nav-list">
                <li class="">
                    <a href="/admin/">
                        <i class="menu-icon fa fa-tachometer"></i>
                        <span class="menu-text"> Dashboard </span>
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-desktop"></i>
                        <span class="menu-text"> Bài viết </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">

                        <li class="">
                            <a href="/admin/articles/?type=su-kien">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Sự kiện
                            </a>

                            <b class="arrow"></b>
                        </li>

                        <li class="">
                            <a href="/admin/articles/?type=tin-uu-dai">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Tin ưu đãi
                            </a>

                            <b class="arrow"></b>
                        </li>
                        <li class="">
                            <a href="/admin/articles/?type=tin-doi-tac">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Tin đối tác
                            </a>

                            <b class="arrow"></b>
                        </li>
                        <li class="">
                            <a href="/admin/articles/?type=tin-bao-chi">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Tin báo chí
                            </a>

                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-desktop"></i>
                        <span class="menu-text">Testimonials </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="/admin/articles/?type=testimonial">
                                <i class="menu-icon fa fa-caret-right"></i>
                                 AE & IELTS
                            </a>

                            <b class="arrow"></b>
                        </li>
                        <li class="">
                            <a href="/admin/articles/?type=testimonial-fs">
                                <i class="menu-icon fa fa-caret-right"></i>
                                 First Step
                            </a>

                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-desktop"></i>
                        <span class="menu-text">Recruitment </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="/admin/articles/?type=recruitment-academic">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Academic
                            </a>

                            <b class="arrow"></b>
                        </li>
                        <li class="">
                            <a href="/admin/articles/?type=recruitment">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Non-Academic
                            </a>

                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-desktop"></i>
                        <span class="menu-text">Học Bổng </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="/admin/articles/?type=hb-acet">
                                <i class="menu-icon fa fa-caret-right"></i>
                                ACET
                            </a>

                            <b class="arrow"></b>
                        </li>
                        <li class="">
                            <a href="/admin/articles/?type=idp">
                                <i class="menu-icon fa fa-caret-right"></i>
                                IDP
                            </a>

                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="/admin/menus">
                        <i class="menu-icon fa fa-list"></i>
                        <span class="menu-text"> Menus </span>


                    </a>

                </li>
                <li class="">
                    <a href="/admin/modules">
                        <i class="menu-icon fa fa-list-alt"></i>
                        <span class="menu-text"> Modules </span>


                    </a>

                </li>

                <li class="">
                    <a href="/admin/users">
                        <i class="menu-icon fa fa-user"></i>

                        <span class="menu-text">
                            User Management
                        </span>
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="/admin/chats">
                        <i class="menu-icon fa fa-comment"></i>

                        <span class="menu-text">
                            Chat Management
                        </span>
                    </a>

                    <b class="arrow"></b>
                </li>

            </ul><!-- /.nav-list -->
            <!-- #section:basics/sidebar.layout.minimize -->
            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>

            <!-- /section:basics/sidebar.layout.minimize -->
            <script type="text/javascript">
                try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
            </script>
        </div>

        <!-- /section:basics/sidebar -->
        <div class="main-content">
            <!-- #section:basics/content.breadcrumbs -->
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
                </script>

                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#">Home</a>
                    </li>
                    <li class="active">@ViewBag.Breadcrumbs</li>
                </ul><!-- /.breadcrumb -->
                <!-- #section:basics/content.searchbox -->
                <div class="nav-search" id="nav-search">
                    <form class="form-search">
                        <span class="input-icon">
                            <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" )" />
                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                        </span>
                    </form>
                </div><!-- /.nav-search -->
                <!-- /section:basics/content.searchbox -->
            </div>

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">

                <!-- /section:settings.box -->
                <div class="page-content-area">
                    @RenderBody()
                </div><!-- /.page-content-area -->
            </div><!-- /.page-content -->
        </div><!-- /.main-content -->

        <div class="footer">
            <div class="footer-inner">
                <!-- #section:basics/footer -->
                <div class="footer-content">
                    <span class="bigger-120">
                        <span class="blue bolder">ACET</span>
                        &copy; 2014
                    </span>

                    &nbsp; &nbsp;
                    <span class="action-buttons">
                        <a href="#">
                            <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                        </a>

                        <a href="#">
                            <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                        </a>

                        <a href="#">
                            <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                        </a>
                    </span>
                </div>

                <!-- /section:basics/footer -->
            </div>
        </div>

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div><!-- /.main-container -->
    <div id="loadingModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- dialog body -->
                <div class="modal-body">
                    <img src="/assets/images/please_wait.gif" />
                </div>
            </div>
        </div>
    </div>
    <!-- basic scripts -->
    <!--[if !IE]> -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='@Url.Content("/assets/js/jquery.min.js")'>" + "<" + "/script>");
    </script>

    <!-- <![endif]-->
    <!--[if IE]>
    <script type="text/javascript">
     window.jQuery || document.write("<script src='@Url.Content("/assets/js/jquery1x.min.js")'>"+"<"+"/script>");
    </script>
    <![endif]-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='@Url.Content("/assets/js/jquery.mobile.custom.min.js")'>" + "<" + "/script>");
    </script>
    <script src="@Url.Content("/assets/js/bootstrap.min.js")"></script>

    <!-- page specific plugin scripts -->
    <!--[if lte IE 8]>
      <script src="@Url.Content("/assets/js/excanvas.min.js")"></script>
    <![endif]-->
    <script src="@Url.Content("/assets/js/jquery-ui.custom.min.js")"></script>
    <script src="@Url.Content("/assets/js/jquery.ui.touch-punch.min.js")"></script>
    <script src="@Url.Content("/assets/js/jquery.easypiechart.min.js")"></script>
    <script src="@Url.Content("/assets/js/jquery.sparkline.min.js")"></script>
    <script src="@Url.Content("/assets/js/flot/jquery.flot.min.js")"></script>
    <script src="@Url.Content("/assets/js/flot/jquery.flot.pie.min.js")"></script>
    <script src="@Url.Content("/assets/js/flot/jquery.flot.resize.min.js")"></script>
    @if (IsSectionDefined("AddToEndBodyJs"))
    {
        @RenderSection("AddToEndBodyJs", required: false)
    }
    <!-- ace scripts -->
    <script src="@Url.Content("/assets/js/ace-elements.min.js")"></script>
    <script src="@Url.Content("/assets/js/ace.min.js")"></script>

    <script src="/assets/js/jquery.gritter.min.js"></script>
    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        function showLoadingModal() {
            $("#loadingModal").modal({                    // wire up the actual modal functionality and show the dialog
                "backdrop": "static",
                "keyboard": true,
                "show": true                     // ensure the modal is shown immediately
            });
        }
        function hideLoadingModal() {
            $("#loadingModal").modal('hide');
        }
        jQuery(function ($) {
            $('a').each(function () {
                if ($(this).attr('href') === (window.location.pathname + window.location.search)) {
                    $(this).parent().addClass('active');
                    if ($(this).parent().parent().hasClass('submenu')) {
                        $(this).parent().parent().parent().addClass('active').addClass('open');
                    }
                }
            });
        });

    </script>

    <link rel="stylesheet" href="@Url.Content("/assets/css/ace.onpage-help.css")" />
    <link rel="stylesheet" href="@Url.Content("/docs/assets/js/themes/sunburst.css")" />

    <script type="text/javascript">		    ace.vars['base'] = '..'; </script>
    <script src="@Url.Content("/assets/js/ace/elements.onpage-help.js")"></script>
    <script src="@Url.Content("/assets/js/ace/ace.onpage-help.js")"></script>
    <script src="@Url.Content("/docs/assets/js/rainbow.js")"></script>
    <script src="@Url.Content("/docs/assets/js/language/generic.js")"></script>
    <script src="@Url.Content("/docs/assets/js/language/html.js")"></script>
    <script src="@Url.Content("/docs/assets/js/language/css.js")"></script>
    <script src="@Url.Content("/docs/assets/js/language/javascript.js")"></script>
</body>
</html>
