﻿<div class="container" style="margin-top:20px;">
    <div class="row bottom-page" style="margin-right:12px;">
        <div class="col-sm-4">
            <img src="/home/img/hoc_bong.jpg" width='100%' style="margin-bottom:4px">
            <img src="/home/img/du_hoc.jpg" width='100%' style="margin-top:9px">
        </div>
        <div class="col-sm-4">
            <img src="/home/img/tailieu.jpg" title="Tài liệu học tập" width='100%' />
        </div>
        <div class="col-sm-4">
            <div class="couse_title center" style="font-size:18px;margin-right:0px;">ĐĂNG KÝ ĐỂ ĐƯỢC TƯ VẤN</div>
            <div class="iframe1" style="padding: 10px 12px 0px 12px; margin: -12px 0px 0px 0px; border: 1px solid;min-height:230px;">
                <iframe frameborder="0" width="100%" height="200" src="http://www.cjs.vn/subscribe/96a4999dd571c9080d16dd6895beb564/" id="cjsform" scrolling="no" seamless="seamless"></iframe>
                <script src="http://static.cjs.vn/js/form/source.js"></script>
            </div>
        </div>
    </div> <!-- / .row -->
</div> <!-- / .container -->