﻿    <div class="col-xs-4">
        <a href="/dang-ky-khoa-hoc.html"><img src="/home/img/register_now.jpg" width="100%"></a>
    </div>
    <div class="col-xs-4">
        <a href="/thoi-khoa-bieu.html"><img src="/home/img/timetable.jpg" width="100%" style="margin-bottom:5px;"></a>
        <a href="/Home/UnderConstruction"><img src="/home/img/ebook.jpg" width="100%"></a>
    </div>
    <div class="col-xs-4">
        <img src="/home/img/callnow.jpg" width="100%">
    </div>
