﻿<div class="couse_title">LIÊN KẾT ĐÀO TẠO</div>
<div class="col-xs-12">
    <p>
        ACET có bề dày kinh nghiệm trong việc cung cấp các khóa đào tạo toàn hoặc bán thời gian cho các tổ chức và công ty. Nhiều tổ chức chính phủ và công ty trong cũng như ngoài nước đã chọn ACET làm nhà cung cấp chương trình đào tạo Anh ngữ  để chuẩn bị cho ứng viên du học theo chương trình học bổng hoặc cho nhân viên du học theo tài trợ của công ty.
    </p>
    <p>
        Các tổ chức và công ty thường gặp khó khăn trong việc lựa chọn học viên và tổ chức lớp để đào tạo. Nhiều chương trình đào tạo thất bại vì cố gắng sắp xếp học viên vào một hoặc hai nhóm mặc dù có sự chênh lệch về trình độ Anh ngữ giữa các học viên.
    </p>
    <p>
        Với kinh nghiệm nhiều năm trong đào tạo Anh ngữ, ACET yêu cầu học viên phải thi kiểm tra trình độ Anh ngữ đầu vào. Dựa vào kết quả thi kiểm tra, học viên sẽ được ACET xếp vào các lớp đúng trình độ để phát huy hiệu quả cao nhất cho việc học. Trong trường hợp cần thiết, các lớp học tăng cường sẽ được ACET đề nghị tổ chức thêm cho học viên như là một phần của chương trình đào tạo.
    </p>
</div>
<div class="col-sm-12 no-padding" style="margin-right:16px;padding-right:16px">
    <ul class="nav nav-tabs tintuc_nav">
        <li class="active"><a href="#ho-chi-minh-corp" data-toggle="tab" class="tphcm" style="z-index:4;">TP. HỒ CHÍ MINH</a></li>
        <li><a href="#ha-noi-corp" data-toggle="tab" style="z-index:3;margin-left:-40px;">HÀ NỘI</a></li>
    </ul>
</div>

<div class="tab-content couse_content">
    <div class="tab-pane fade in active" id="ho-chi-minh-corp">
        <div class=" item-list-lk">
            <div class="page-1 pg-22">
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Học Bổng Phát Triển Australia (ADS)</h4>
                    <span><i>Từ 2007 đến nay</i></span>
                    <p>Chương trình đào tạo Anh ngữ Học thuật và Luyện thi IELTS cho các học viên được học bổng theo học chương trình sau đại học ở Australia</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Đại học Queensland Australia Dự án Điều Dưỡng Việt Nam</h4>
                    <span><i>Từ 2007 đến nay</i></span>
                    <p>Chương trình đào tạo Anh ngữ Học thuật và Luyện thi IELTS cho cán bộ quản lý và điều dưỡng viên để theo học các khóa đào tạo ở Australia</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Đại sứ quán Australia Trung tâm Nghiên cứu Nông nghiệp Quốc tế Australia (ACIAR)</h4>
                    <span><i>Từ 2006 đến nay</i></span>
                    <p>Chương trình đào tạo Anh ngữ Học thuật và Luyện thi IELTS cho các học viên được học bổng theo học chương trình sau đại học ở Australia</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Hội Đồng các Tổ chức Học thuật Hoa Kỳ Trung tâm Trao đổi Giáo dục với Việt Nam (CEEVN)</h4>
                    <span><i>Từ 2005 đến nay</i></span>
                    <p>Chương trình đào tạo Anh ngữ Học thuật và Luyện thi IELTS cho các học viên được học bổng theo học chương trình sau đại học ở Hoa Kỳ</p>
                </div>
            </div>
            <div class="page-2 pg-22 hide">
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Đại học Tây Nguyên</h4>
                    <span><i>2008-2009</i></span>
                    <p>Chương trình đào tạo Anh ngữ Học thuật cho cán bộ quản lý và giảng viên</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Công ty Cổ phần Thủy điện Đa Nhim</h4>
                    <span><i>2003-2007</i></span>
                    <p>Chương trình đào tạo Anh ngữ Học thuật cho cán bộ quản lý</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Công ty Cổ phần Thủy điện Thác Mơ</h4>
                    <span><i>2006</i></span>
                    <p>Chương trình đào tạo Anh ngữ Học thuật cho cán bộ quản lý</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Sở Nội vụ Tỉnh Bà Rịa Vũng Tàu Chương trình Đào tạo 150 Tiến Sĩ - Thạc Sĩ</h4>
                    <span><i>2005-2006</i></span>
                    <p>Chương trình đào tạo Anh ngữ Học thuật và Luyện thi IELTS cho đối tượng học viên là cán bộ từ những cơ quan của Chính phủ được học bổng theo học chương trình sau đại học ở nước ngoài.</p>
                </div>
            </div>
            <div class="page-3 pg-22 hide">
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Thành ủy Thành phố Hồ Chí Minh Chương trình Đào tạo 300 Tiến Sĩ - Thạc Sĩ</h4>
                    <span><i>2005</i></span>
                    <p>Chương trình Luyện thi IELTS cho đối tượng học viên là cán bộ từ những cơ quan của Chính phủ được học bổng theo học chương trình sau đại học ở nước ngoài.</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Công Ty Điện Lực Tp. Hồ Chí Minh Dự án Đào tạo Cán bộ Quản lý </h4>
                    <span><i>2003 - 2005</i></span>
                    <p>Giai đoạn 1 đào tạo trong nước: Chương trình đào tạo Anh ngữ Học thuật và luyện thi IELTS cho các cán bộ quản lý được tuyển chọn từ các công ty điện lực trực thuộc. </p>
                    <p>Giai đoạn 2 đào tạo ở Australia: Chương trình đào tạo đặc biệt để phát triển khả năng sử dụng Tiếng Anh trong ngữ cảnh liên quan đến lãnh vực chuyên môn và tham gia các khóa đào tạo sau đại học tại Australia.</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Bưu Điện TPHCM Dự án đào tạo Cán bộ Quản lý </h4>
                    <span><i>2002-2005</i></span>
                    <p>Chương trình đào tạo Anh ngữ Học thuật và Luyện thi IELTS cho các học viên được học bổng theo học chương trình sau đại học ở Australia</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Bộ Giáo Dục và Đào Tạo Chương trình Phát triển Nguồn Nhân lực Quốc gia – Đề án 322</h4>
                    <span><i>2002 – 2004</i></span>
                    <p>Chương trình đào tạo Anh ngữ Học thuật và Luyện thi IELTS hoặc TOEFL cho các học viên được tuyển chọn từ các Viện Giáo dục và Nghiên cứu để đi học chương trình sau đại học ở nước ngoài.</p>
                </div>
            </div>
        </div>
        <ul id="pagination-corp-hcm" class="pagination"></ul>
    </div>
    <div class="tab-pane fade " id="ha-noi-corp">
        <div class=" item-list-lk">
            <div class="page-1 pg-22">
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Bộ Giáo dục và Đào tạo Dự án phát triển nguồn nhân lực Quốc gia</h4>
                    <span><i>1550 giờ học cho 8 lớp gồm 137 học viên</i></span>
                    <p>Chương trình đào tạo tiếng Anh và luyện thi IELTS/TOEFL cho các cán bộ thuộc Viện Nghiên cứu Giáo dục</p>
                    <p>Các học viên tham gia khóa học cần đạt được trình độ sử dụng tiếng Anh thành thạo để có thể theo học chương trình nghiên cứu sinh tại Úc và một số nước nói tiếng Anh khác.</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Tập đoàn Bảo hiểm Bảo Việt</h4>
                    <span><i>42 giờ học cho 1 lớp gồm 25 học viên</i></span>
                    <p>Chương trình được thiết kế dành riêng cho các nhân viên bảo hiểm thuộc các bộ phận, phòng ban khác nhau. Sau khóa học, các học viên có thể sử dụng tiếng Anh ở trình độ trung cấp thành thạo trong các giao dịch bảo hiểm</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Trường cán bộ tài chính – Bộ Tài chính</h4>
                    <span><i>200 giờ học cho 1 lớp gồm 16 học viên</i></span>
                    <p>Khóa học tiếng Anh và luyện thi TOEFL dành cho những cá nhân đã được tuyển chọn để tham gia chương trình nghiên cứu sinh tại các trường giảng dạy bằng tiếng Anh</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Trường Nghiệp vụ quản lý Bộ Khoa học, Công nghệ và Môi trường </h4>
                    <span><i>45 giờ học cho 1 lớp gồm 20 học viên </i></span>
                    <p>Khóa đào tạo tiếng Anh giao tiếp và kỹ năng thuyết trình được thiết kế dành riêng cho những cá nhân được tuyển chọn để tham gia các hội thảo và trình bày tham luận bằng tiếng Anh</p>
                </div>
            </div>
            <div class="page-2 pg-22 hide">
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Trung tâm thông tin Việt Nam Ủy ban quốc gia về dân số, gia đình và trẻ em – Bộ Y tế Dự án ENRECA – Reach </h4>
                    <span><i>100 giờ học cho 1 lớp gồm 5 học viên</i></span>
                    <p>Khóa tiếng Anh học thuật chú trọng vào kỹ năng thuyết trình các bài nghiên cứu sơ cấp và thứ cấp về lĩnh vực giới tính và sức khỏe sinh sản cho những các nhân đã được tuyển chọn để tham gia các chương trình đào tạo nghiên cứu ở bậc thạc sỹ và tiến sỹ tại Hà Lan.</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Bộ Giáo dục và Đào tạo Dự án Phát triển trung học cơ sở</h4>
                    <span><i>200 giờ học cho 1 lớp gồm 15 học viên</i></span>
                    <p>Chương trình tiếng Anh và luyện thi cho các cá nhân đã được tuyển chọn để tham gia khóa đào tạo Thạc sỹ Giáo dục tạo các trường đại học tại Úc và New Zealand.</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Bộ Giáo dục và Đào tạo Dự án Phát triển trung học cơ sở </h4>
                    <span><i>400 giờ học cho 1 lớp gồm 14 học viên</i></span>
                    <p>Chương trình tiếng Anh và luyện thi được ACET thiết kế dành cho các cá nhân được tuyển chọn để tham gia các khóa đào tạo Thạc sỹ Giáo dục. Các khóa học này được các giảng viên trường Đại học Công nghệ Sydney phối hợp với trường Đại học Adelaide và Potsdam giảng dạy bằng tiếng Anh tại Việt Nam</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Bộ Giáo dục và Đào tạo Dự án Phát triển trung học cơ sở</h4>
                    <span><i>795 giờ học cho 5 lớp gồm 68 học viên</i></span>
                    <p>Chương trình tiếng Anh về luyện thi được ACET thiết kế dành cho các cá nhân được tuyển chọn để tham gia các khóa học đào tạo Thạc sỹ Giáo dục. Các khóa học này được các giảng viên trường Đại học Công nghệ Sydney phối hợp với trường Đại học Adelaide và Potsdam giảng dạy bằng tiếng Anh tại Việt Nam.</p>
                </div>
            </div>
            <div class="page-3 pg-22 hide">
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Bộ Giáo dục và Đào tạo Dự án Phát triển trung học cơ sở</h4>
                    <span><i>676 giờ học cho 3 lớp gồm 47 học viên</i></span>
                    <p>Chương trình tiếng Anh và luyện thi được ACET thiết kế dành riêng cho những cá nhân được tuyển chọn để tham gia các khóa đào tạo Thạc sỹ Giáo dục tại các trường đại học Úc.</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Trung tâm thông tin Việt Nam Ủy ban quốc gia về dân số, gia đình và trẻ em - Bộ Y tế Dự án ENRECA - Reach</h4>
                    <span><i>170 giờ học cho 1 lớp gồm 9 học viên</i></span>
                    <p>Khóa tiếng Anh học thuật chú trọng vào kỹ năng thuyết trình các bài nghiên cứu sơ cấp và thứ cấp về lĩnh vực giới tính và sức khỏe sinh sản cho những cá nhân đã được tuyển chọn để tham gia các chương trình đào tạo nghiên cứu ở bậc thạc sỹ và tiến sỹ tại Hà Lan.</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Trường cán bộ tài chính – Bộ Tài chính </h4>
                    <span><i>200 giờ học cho 1 lớp gồm 16 học viên</i></span>
                    <p>Chương trình tiếng Anh và luyện thi IELTS cho các cá nhân đã được tuyển chọn để tham gia chương trình nghiên cứu sinh tại các trường đại học nói tiếng Anh.</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Trường cán bộ tài chính – Bộ Tài chính</h4>
                    <span><i>100 giờ học cho 1 lớp gồm 16 học viên</i></span>
                    <p>Chương trình tiếng Anh tổng quát cung cấp cho các cá nhân với mục đích nâng cao khả năng nghe nói phục vụ công việc</p>
                </div>
            </div>
            <div class="page-4 pg-22 hide">
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Tổng cục thống kê Dự án đào tạo nhân lực</h4>
                    <span><i>80 giờ học cho 1 lớp gồm 17 học viên</i></span>
                    <p>Chương trình tiếng Anh thương mại giao tiếp được thiết kế dành riêng cho các cán bộ thống kê để có thể tham gia các buổi hội thảo, phiên dịch và giao tiếp với các chuyên gia nước ngoài.</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Tập đoàn bảo hiểm Bảo Việt</h4>
                    <span><i>60 giờ học cho 2 lớp gồm 50 học viên</i></span>
                    <p>Chương trình tiếng Anh giao tiếp được thiết kế dành riêng cho các nhân viên bảo hiểm thuộc các bộ phận, phòng ban khác nhau. Sau khóa học, các học viên có thể sử dụng tiếng Anh ở trình độ tiền trung cấp và trung cấp một các thành thạo trong các giao dịch về bảo hiểm.</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Trường cán bộ tài chính – Bộ Tài chính </h4>
                    <span><i>120 giờ học cho 2 lớp gồm 40 học viên</i></span>
                    <p>Chương trình tiếng Anh giao tiếp được thiết kế dành cho các cá nhân với mục đích nâng cao khả năng nghe nói phục vụ công việc.</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Khoa chẩn đoán hình ảnh Bệnh viện Bạch Mai</h4>
                    <span><i>100 giờ học cho 1 lớp gồm 15 học viên</i></span>
                    <p>Chương trình tiếng Anh giao tiếp chuyên ngành (Chẩn đoán hình ảnh) dành cho các bác sỹ với mục đích nâng cao khả năng nghe, nói để có thể tham gia các buổi hội thảo và giao tiếp với các chuyên gia nước ngoài.</p>
                </div>
            </div>
            <div class="page-5 pg-22 hide">
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Dự án học bổng Phát triển Úc (ADS) của Cơ quan phát triển quốc tế Úc (AusAID) (Hợp đồng trúng thầu)</h4>
                    <span><i>2/2007 – 2012 ACET đạt danh hiệu nhà cung cấp dịch vụ đạo tạo xuất sắc tháng 12/2006</i></span>
                    <p>ACET cung cấp chương trình tiếng Anh học thuật và luyện thi IELTS cho 100 học viên mỗi năm, tại Hà Nội và Tp. Hồ Chí Minh. Mỗi ứng viên nếu đạt được điểm IELTS theo yêu cầu sẽ dành được học bổng AusAID toàn phần với số tiền lên đến $140,000</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Tập đoàn Bưu chính Viễn thông Việt Nam</h4>
                    <span><i>200 giờ học cho 1 lớp gồm 11 học viên</i></span>
                    <p>Chương trình tiếng Anh học thuật và luyện thi IELTS giúp học viên đạt điểm IELTS 5.5 nhằm phục vụ mục đích công việc.</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Bộ Tài chính </h4>
                    <span><i>200 giờ học cho 1 lớp gồm 14 học viên</i></span>
                    <p>Chương trình tiếng Anh học thuật và luyện thi IELTS giúp học viên đạt điểm IELTS 6.5 nhằm phục vụ mục đích du học. 85% học viên trong lớp đạt điểm IELTS mong muốn</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Bênh viện đa khoa Phú Thọ</h4>
                    <span><i>Đào tạo tiếng Anh cho 7 học viên thuộc các trình độ khác nhau từ PAS đến IELTS </i></span>
                    <p>Mục tiêu học tập của học viên là nâng cao trình độ tiếng anh để có thể thi IELTS và đạt kết quả từ 5.5 – 6.5 trong vòng 6 tháng.</p>
                </div>
            </div>
            <div class="page-6 pg-22 hide">
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Bênh viện đa khoa Phú Thọ</h4>
                    <span><i>Khóa học Tiếng Anh tổng quát và Luyện thi IELTS cho 18 cán bộ.</i></span>
                    <p>18 học viên được gửi tới học tại ACET trong năm 2015 sau khi một số học viên đã học tại ACET và thi IELTS đạt kết quả tốt.</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Bộ Quốc phòng – Đại sứ quán Úc</h4>
                    <span><i>200 giờ học cho 1 lớp gồm 16 học viên</i></span>
                    <p>Chương trình tiếng Anh học thuật và luyện thi IELTS giúp học viên đạt điểm IELTS 6.5 nhằm phục vụ mục đích du học.</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Cơ quan phát triển quốc tế Newzealand (NZAID)</h4>
                    <span><i>Khóa học 15 giờ bồi dưỡng kỹ năng làm bài thi IELTS cho một lớp gồm 12 học viên</i></span>
                    <p>Khóa học nhằm cung cấp những kiến thức cơ bản trước khi tham gia kỳ thi IELTS cho các học viên được cử đi du học. Khóa học giúp học viên làm quen với các dạng câu hỏi và cách trả lời để đạt được điểm thi IELTS mong muốn. Các học viên tham gia khóa học được đại sứ quán New Zealand lựa chọn và điểm thi IELTS cần đạt được từ 4.5 – 5.5</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Viện kiểm sát nhân dân tối cao</h4>
                    <span><i>Các khóa học tiếng Anh tổng quát/học thuật cho các học viên ở các trình độ khác nhau từ AE3 đến AE6</i></span>
                    <p>Khóa học tiếng Anh học thuật cho các cán bộ chủ trốt nhằm phục vụ mục đích du học.</p>
                </div>
            </div>
            <div class="page-7 pg-22 hide">
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Cơ quan phát triển quốc tế Newzealand (NZAID)</h4>
                    <span><i>Khóa học 15 giờ bồi dưỡng kỹ năng làm bài thi IELTS cho một lớp gồm 12 học viên</i></span>
                    <p>Khóa học nhằm cung cấp những kiến thức cơ bản trước khi tham gia kỳ thi IELTS cho các học viên được cử đi du học. Khóa học giúp học viên làm quen với các dạng câu hỏi và cách trả lời để đạt được điểm thi IELTS mong muốn. Các học viên tham gia khóa học được đại sứ quán New Zealand lựa chọn và điểm thi IELTS cần đạt được từ 4.5 – 5.5</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Cơ quan Giáo dục Quốc tế Úc (AEI) Đại sứ quán Úc tại Việt Nam</h4>
                    <span><i>Khóa học tiếng Anh tổng quát/học thuật cho 21 các bộ của Bộ Lao động, Thương binh và Xã hội (MOLISA)</i></span>
                    <p>Cơ quan Giáo dục Quốc tế Úc tài trợ khóa học tiếng Anh tổng quát/học thuật cho 21 cán bộ của Bộ Lao động, Thương binh và Xã hội (MOLISA) nhằm mục đích nâng cao trình độ tiếng Anh.</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Ban Điều hành Dự án Đại học Dầu khí Việt Nam Tập đoàn Dầu khí Quốc gia Việt Nam</h4>
                    <span><i>Khóa học tiếng Anh tổng quát/học thuật cho 5 cán bộ tại Hà Nội và Thành phố Hồ Chí Minh</i></span>
                    <p>5 cán bộ đến từ Ban Điều hành Dự án Đại học Dầu khí Việt Nam theo học toàn bộ chương trình học tại ACET Hà Nội và Tp. Hồ Chí Minh nhằm mục đích đạt 6.5 IELTS phục vụ yêu cầu công việc</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Save The Children UK</h4>
                    <span><i>Các khóa học tiếng Anh tổng quát/học thuật cho các học viên ở các trình độ khác nhau từ AE3 đến IELTS</i></span>
                    <p>Mục đích của chương trình này nhằm nâng cao trình độ tiếng Anh của đội ngũ nhân viên tại văn phòng, để từ đó nâng cao hiệu quả làm việc và có thể tham gia các khóa đào tạo ở nước ngoài.</p>
                </div>
            </div>
            <div class="page-8 pg-22 hide">
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Bộ Quốc phòng – Đại sứ quán Úc</h4>
                    <span><i>200 giờ học cho 1 lớp gồm 16 học viên</i></span>
                    <p>Chương trình tiếng Anh học thuật và luyện thi IELTS giúp học viên đạt điểm IELTS 6.5 nhằm phục vụ mục đích du học.</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Cơ quan phát triển quốc tế Newzealand (NZAID)</h4>
                    <span><i>Khóa học 15 giờ bồi dưỡng kỹ năng làm bài thi IELTS cho một lớp gồm 9 học viên</i></span>
                    <p>Khóa học nhằm cung cấp những kiến thức cơ bản trước khi tham gia kỳ thi IELTS cho các học viên được cử đi du học. Khóa học giúp học viên làm quen với các dạng câu hỏi và cách trả lời để đạt được điểm thi IELTS mong muốn. Các học viên tham gia khóa học được đại sứ quán New Zealand lựa chọn và điểm thi IELTS cần đạt được từ 4.5 – 5.5.</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Viện kiểm sát nhân dân tối cao</h4>
                    <span><i>Các khóa học tiếng Anh tổng quát/học thuật cho các học viên ở các trình độ khác nhau từ AE3 đến AE7</i></span>
                    <p>Khóa học tiếng Anh học thuật cho các cán bộ chủ trốt nhằm phục vụ mục đích du học.</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Cơ quan phát triển quốc tế Newzealand (NZAID)</h4>
                    <span><i>Khóa học 15 giờ bồi dưỡng kỹ năng làm bài thi IELTS cho một lớp gồm 9 học viên</i></span>
                    <p>Khóa học nhằm cung cấp những kiến thức cơ bản trước khi tham gia kỳ thi IELTS cho các học viên được cử đi du học. Khóa học giúp học viên làm quen với các dạng câu hỏi và cách trả lời để đạt được điểm thi IELTS mong muốn. Các học viên tham gia khóa học được đại sứ quán New Zealand lựa chọn và điểm thi IELTS cần đạt được từ 4.5 – 5.5</p>
                </div>
            </div>
            <div class="page-9 pg-22 hide">
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Bộ Nông nghiệp và Phát triển Nông thôn (MARD). Vụ Tổ chức Cán bộ. Chương trình Hỗ trợ Ngành Thuỷ sản giai đoạn 2 (FSPS-II). Hợp phần STOFA</h4>
                    <span><i>100 giờ học cho 1 lớp gồm 15 học viên ở trình độ AE2. 100 giờ học cho 1 lớp gồm 15 học viên ở trình độ AE3.</i></span>
                    <p>Mục đích của chương trình này nhằm nâng cao trình độ tiếng Anh cho các cán bộ, công chức của Bộ, để từ đó nâng cao hiệu quả làm việc và có thể tham gia các khóa đào tạo ở nước ngoài.</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Bộ Quốc phòng – Đại sứ quán Úc</h4>
                    <span><i>200 giờ học cho 1 lớp gồm 17 học viên</i></span>
                    <p>Chương trình tiếng Anh học thuật và luyện thi IELTS giúp học viên đạt điểm IELTS 6.5 nhằm phục vụ mục đích du học</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Cơ quan phát triển quốc tế Newzealand (NZAID)</h4>
                    <span><i>Khóa học 15 giờ bồi dưỡng kỹ năng làm bài thi IELTS cho một lớp gồm 13 học viên</i></span>
                    <p>Khóa học nhằm cung cấp những kiến thức cơ bản trước khi tham gia kỳ thi IELTS cho các học viên được cử đi du học. Khóa học giúp học viên làm quen với các dạng câu hỏi và cách trả lời để đạt được điểm thi IELTS mong muốn. Các học viên tham gia khóa học được đại sứ quán New Zealand lựa chọn và điểm thi IELTS cần đạt được từ 4.5 – 5.5.</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Bộ Nông nghiệp và Phát triển Nông thôn (MARD). Vụ Tổ chức Cán bộ. Chương trình Hỗ trợ Ngành Thuỷ sản giai đoạn 2 (FSPS-II). Hợp phần STOFA</h4>
                    <span><i>Các khóa học tiếng Anh tổng quát/học thuật cho các học viên ở các trình độ khác nhau từ AE2A đến AE5</i></span>
                    <p>Mục đích của chương trình này nhằm nâng cao trình độ tiếng Anh cho các cán bộ, công chức của Bộ, để từ đó nâng cao hiệu quả làm việc và có thể tham gia các khóa đào tạo ở nước ngoài</p>
                </div>
            </div>
            <div class="page-10 pg-22 hide">
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Cơ quan phát triển quốc tế Newzealand (NZAID)</h4>
                    <span><i>Khóa học 15 giờ bồi dưỡng kỹ năng làm bài thi IELTS cho một lớp gồm 9 học viên</i></span>
                    <p>Khóa học nhằm cung cấp những kiến thức cơ bản trước khi tham gia kỳ thi IELTS cho các học viên được cử đi du học. Khóa học giúp học viên làm quen với các dạng câu hỏi và cách trả lời để đạt được điểm thi IELTS mong muốn. Các học viên tham gia khóa học được đại sứ quán New Zealand lựa chọn và điểm thi IELTS cần đạt được từ 4.5 – 5.5</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Trường Đại học Thủy lợi</h4>
                    <span><i>Các khóa học tiếng Anh tổng quát/học thuật cho các học viên ở các trình độ khác nhau từ AE2B đến AE5</i></span>
                    <p>Mục đích của chương trình này nhằm nâng cao trình độ tiếng Anh cho các giảng viên của trường, để từ đó nâng cao hiệu quả làm việc và có thể tham gia các khóa đào tạo ở nước ngoài.</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Công ty Thủy điện Sơn La</h4>
                    <span><i>Các khóa học tiếng Anh tổng quát/học thuật cho các học viên ở các trình độ khác nhau từ AE1B đến AE4</i></span>
                    <p>Mục đích của chương trình này nhằm nâng cao trình độ tiếng Anh cho các cán bộ, công chức của công ty, để từ đó nâng cao hiệu quả làm việc và có thể tham gia các khóa đào tạo ở nước ngoài.</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Cục Hàng hải Việt Nam</h4>
                    <span><i>Các khóa học tiếng Anh tổng quát/học thuật cho các học viên ở các trình độ khác nhau từ AE1A đến AE7</i></span>
                    <p>Mục đích của chương trình này nhằm nâng cao trình độ tiếng Anh cho các cán bộ, công chức của Cục, để từ đó nâng cao hiệu quả làm việc và có thể tham gia các khóa đào tạo ở nước ngoài.</p>
                </div>
            </div>
            <div class="page-11 pg-22 hide">
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Đại sứ quán New Zealand</h4>
                    <span><i>Các khóa học tiếng Anh tổng quát/học thuật cho 45 học viên là các cán bộ Nhà Nước tham gia Chương trình Hỗ trợ New Zealand (New Zealand Aid Programme) được điều phối bởi Đại Sứ quán New Zealand. Các học viên ở các trình độ khác nhau từ AE2B đến IELTS.</i></span>
                    <p>Chương trình đào tạo tiếng Anh và luyện thi IELTS được thiết kế phù hợp với nhu cầu, mục tiêu học viên. Học viên sau khi kết thúc khóa học tại ACET đã thi IELTS và đạt được mức điểm yêu cầu để tham gia học tập và đào tạo tại New Zealand sau đó.</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Đại học Kiểm Sát</h4>
                    <span><i>Các khóa học tiếng Anh tổng quát/học thuật cho 8 học viên ở các trình độ khác nhau từ AE1B đến IELTS</i></span>
                    <p>Chương trình đào tạo được thiết kế nhằm nâng cao trình độ tiếng Anh một cách toàn diện cho các cán bộ, công nhân viên.</p>
                    <p>Học viên sau khi đào tạo có thể ứng dụng tiếng Anh linh hoạt, nâng cao hiệu quả làm việc, đồng thời đạt trình độ IELTS yêu cầu để tiếp tục học tập ở nước ngoài.</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Bộ Tài Chính</h4>
                    <span><i>Các khóa học tiếng Anh tổng quát/học thuật cho 10 học viên ở các trình độ khác nhau từ PAE đến IELTS</i></span>
                    <p>Chương trình đào tạo được thiết kế nhằm đáp ứng nhu cầu, mục tiêu học tập của các cán bộ thuộc Cục Quản lý nợ và Tài chính đối ngoại – Bộ Tài Chính ở các trình độ khác nhau. Sau khóa học, cán bộ công chức của Bộ có thể nâng cao hiệu quả làm việc và phục vụ cho việc học tập tại nước ngoài.</p>
                </div>
                <div class="col-xs-12 itel-lk">
                    <h4 class="title">Trường THPT Chuyên Lê Hồng Phong –Nam Định</h4>
                    <span><i>Các khóa học tiếng Anh tổng quát/học thuật cho 7 giao vien tu PAE4 den AE3B</i></span>
                    <p>ACET cung cấp khóa học nâng cao trình độ  cho giáo viên tại trường một cách toàn diện, phục vụ cho công tác giảng dạy và trau dồi kĩ năng Tiếng anh cá nhân.</p>
                </div>
            </div>
          </div>
        <ul id="pagination-corp-hn" class="pagination"></ul>
    </div>
</div>


<div class="clearfix"></div>
<div class="couse_title">LIÊN HỆ ĐÀO TẠO</div>
<div class="col-xs-12" >
    <div class="clearfix" style="min-height:400px">
        <iframe class="hop-tac-iframe" frameborder="0" width="450" height="400" src="http://www.cjs.vn/subscribe/a421eb586dc4362cea047a095af959cc/" id="cjsform"></iframe>
        <script src="http://static.cjs.vn/js/form/source.js"></script>
    </div>
</div>
