﻿<div class="couse_title">HÌNH ẢNH</div>
<div id="nanoGallery" style="width:100%;    margin-left: -10px;
    margin-top: -10px;
    margin-bottom: 10px;">
    <a href="20150619_DaNgoai/FH9A4636.jpg"
       data-ngkind="album"
       data-ngid="1"
       data-ngthumb="20150619_DaNgoai/thumb/FH9A4636_t.jpg"
       data-ngdesc="">Teen First Steps và hoạt động dã ngoại hè vui tươi và bổ ích ngày 19/6/2015</a>

    <a href="20150619_DaNgoai/FH9A4289.jpg"
       data-ngthumb="20150619_DaNgoai/thumb/FH9A4289_t.jpg"
       data-ngid="10"
       data-ngalbumid="1">Image 1</a>
    <a href="20150619_DaNgoai/FH9A4292.jpg"
       data-ngthumb="20150619_DaNgoai/thumb/FH9A4292_t.jpg"
       data-ngid="11"
       data-ngalbumid="1">Image 2</a>
    <a href="20150619_DaNgoai/FH9A4298.jpg"
       data-ngthumb="20150619_DaNgoai/thumb/FH9A4298_t.jpg"
       data-ngid="12"
       data-ngalbumid="1">Image 3</a>
    <a href="20150619_DaNgoai/FH9A4310.jpg"
       data-ngthumb="20150619_DaNgoai/thumb/FH9A4310_t.jpg"
       data-ngid="13"
       data-ngalbumid="1">Image 4</a>
    <a href="20150619_DaNgoai/FH9A4318.jpg"
       data-ngthumb="20150619_DaNgoai/thumb/FH9A4318_t.jpg"
       data-ngid="14"
       data-ngalbumid="1">Image 5</a>
    <a href="20150619_DaNgoai/FH9A4333.jpg"
       data-ngthumb="20150619_DaNgoai/thumb/FH9A4333_t.jpg"
       data-ngid="15"
       data-ngalbumid="1">Image 6</a>
    <a href="20150619_DaNgoai/FH9A4343_t.jpg"
       data-ngthumb="20150619_DaNgoai/thumb/FH9A4343_t.jpg"
       data-ngid="16"
       data-ngalbumid="1">Image 7</a>
    <a href="20150619_DaNgoai/FH9A4346.jpg"
       data-ngthumb="20150619_DaNgoai/thumb/FH9A4346_t.jpg"
       data-ngid="17"
       data-ngalbumid="1">Image 8</a>
    <a href="20150619_DaNgoai/FH9A4406.jpg"
       data-ngthumb="20150619_DaNgoai/thumb/FH9A4406_t.jpg"
       data-ngid="18"
       data-ngalbumid="1">Image 9</a>
    <a href="20150619_DaNgoai/FH9A4422.jpg"
       data-ngthumb="20150619_DaNgoai/thumb/FH9A4422_t.jpg"
       data-ngid="19"
       data-ngalbumid="1">Image 10</a>
    <a href="20150619_DaNgoai/FH9A4475.jpg"
       data-ngthumb="20150619_DaNgoai/thumb/FH9A4475_t.jpg"
       data-ngid="20"
       data-ngalbumid="1">Image 11</a>
    <a href="20150619_DaNgoai/FH9A4481.jpg"
       data-ngthumb="20150619_DaNgoai/thumb/FH9A4481_t.jpg"
       data-ngid="21"
       data-ngalbumid="1">Image 12</a>
    <a href="20150619_DaNgoai/FH9A4508.jpg"
       data-ngthumb="20150619_DaNgoai/thumb/FH9A4508_t.jpg"
       data-ngid="22"
       data-ngalbumid="1">Image 13</a>
    <a href="20150619_DaNgoai/FH9A4512.jpg"
       data-ngthumb="20150619_DaNgoai/thumb/FH9A4512_t.jpg"
       data-ngid="23"
       data-ngalbumid="1">Image 14</a>
    <a href="20150619_DaNgoai/FH9A4597.jpg"
       data-ngthumb="20150619_DaNgoai/thumb/FH9A4597_t.jpg"
       data-ngid="24"
       data-ngalbumid="1">Image 15</a>
    <a href="20150619_DaNgoai/FH9A4597.jpg"
       data-ngthumb="20150619_DaNgoai/thumb/FH9A4597_t.jpg"
       data-ngid="25"
       data-ngalbumid="1">Image 16</a>
    <a href="20150619_DaNgoai/FH9A4636.jpg"
       data-ngthumb="20150619_DaNgoai/thumb/FH9A4636_t.jpg"
       data-ngid="26"
       data-ngalbumid="1">Image 17</a>
    <a href="20150619_DaNgoai/FH9A4647.jpg"
       data-ngthumb="20150619_DaNgoai/thumb/FH9A4647_t.jpg"
       data-ngid="27"
       data-ngalbumid="1">Image 18</a>
    <a href="20150619_DaNgoai/FH9A4757.jpg"
       data-ngthumb="20150619_DaNgoai/thumb/FH9A4757_t.jpg"
       data-ngid="28"
       data-ngalbumid="1">Image 19</a>
    <a href="20150619_DaNgoai/FH9A4766.jpg"
       data-ngthumb="20150619_DaNgoai/thumb/FH9A4766_t.jpg"
       data-ngid="29"
       data-ngalbumid="1">Image 20</a>
    <a href="20150619_DaNgoai/FH9A4768.jpg"
       data-ngthumb="20150619_DaNgoai/thumb/FH9A4768_t.jpg"
       data-ngid="30"
       data-ngalbumid="1">Image 21</a>
    <a href="20150619_DaNgoai/FH9A4769.jpg"
       data-ngthumb="20150619_DaNgoai/thumb/FH9A4769_t.jpg"
       data-ngid="31"
       data-ngalbumid="1">Image 22</a>
    <a href="20150619_DaNgoai/FH9A4771.jpg"
       data-ngthumb="20150619_DaNgoai/thumb/FH9A4771_t.jpg"
       data-ngid="32"
       data-ngalbumid="1">Image 23</a>

    <a href="20150803_NgayhoiFirstSteps/IMG_4214.jpg"
       data-ngkind="album"
       data-ngid="2"
       data-ngthumb="20150803_NgayhoiFirstSteps/thumb/IMG_4214_t.jpg">ACET Hà Nội – Tưng bừng Ngày hội thông tin First Steps khóa mùa thu 2015</a>

    <a href="20150803_NgayhoiFirstSteps/IMG_4145.jpg"
       data-ngthumb="20150803_NgayhoiFirstSteps/thumb/IMG_4145_t.jpg"
       data-ngid="33"
       data-ngalbumid="2"
       data-ngdesc="">Các vị phụ huynh đang lắng nghe những chia sẻ về khóa học First Steps mùa thu với thầy David Bell</a>
    <a href="20150803_NgayhoiFirstSteps/IMG_4148.jpg"
       data-ngthumb="20150803_NgayhoiFirstSteps/thumb/IMG_4148_t.jpg"
       data-ngid="34"
       data-ngalbumid="2"
       data-ngdesc="">Các vị phụ huynh đang lắng nghe những chia sẻ về khóa học First Steps mùa thu với thầy David Bell</a>
    <a href="20150803_NgayhoiFirstSteps/IMG_4162.jpg"
       data-ngthumb="20150803_NgayhoiFirstSteps/thumb/IMG_4162_t.jpg"
       data-ngid="35"
       data-ngalbumid="2"
       data-ngdesc="">Các vị phụ huynh đang lắng nghe những chia sẻ về khóa học First Steps mùa thu với thầy David Bell</a>
    <a href="20150803_NgayhoiFirstSteps/IMG_4184.jpg"
       data-ngthumb="20150803_NgayhoiFirstSteps/thumb/IMG_4184_t.jpg"
       data-ngid="36"
       data-ngalbumid="2"
       data-ngdesc="">Các em học sinh trung học cơ sở tham gia lớp học thử do thầy Mark P. giảng dạy</a>
    <a href="20150803_NgayhoiFirstSteps/IMG_4185.jpg"
       data-ngthumb="20150803_NgayhoiFirstSteps/thumb/IMG_4185_t.jpg"
       data-ngid="37"
       data-ngalbumid="2"
       data-ngdesc="">Các em học sinh trung học cơ sở tham gia lớp học thử do thầy Mark P. giảng dạy</a>
    <a href="20150803_NgayhoiFirstSteps/IMG_4186.jpg"
       data-ngthumb="20150803_NgayhoiFirstSteps/thumb/IMG_4186_t.jpg"
       data-ngid="38"
       data-ngalbumid="2"
       data-ngdesc="">Các tư vấn viên hướng dẫn thủ tục cho phụ huynh trong sự kiện</a>
    <a href="20150803_NgayhoiFirstSteps/IMG_4206.jpg"
       data-ngthumb="20150803_NgayhoiFirstSteps/thumb/IMG_4206_t.jpg"
       data-ngid="39"
       data-ngalbumid="2"
       data-ngdesc="">Phụ huynh thảo luận về khóa học trong lúc các em đang làm bài kiểm tra trình độ miễn phí</a>
    <a href="20150803_NgayhoiFirstSteps/IMG_4208.jpg"
       data-ngthumb="20150803_NgayhoiFirstSteps/thumb/IMG_4208_t.jpg"
       data-ngid="40"
       data-ngalbumid="2"
       data-ngdesc="">Thầy Richard Madden trao học bổng giá trị cho ba bạn học sinh may mắn</a>
    <a href="20150803_NgayhoiFirstSteps/IMG_4211.jpg"
       data-ngthumb="20150803_NgayhoiFirstSteps/thumb/IMG_4211_t.jpg"
       data-ngid="41"
       data-ngalbumid="2"
       data-ngdesc="">Thầy Richard Madden trao học bổng giá trị cho ba bạn học sinh may mắn</a>
    <a href="20150803_NgayhoiFirstSteps/IMG_4214.jpg"
       data-ngthumb="20150803_NgayhoiFirstSteps/thumb/IMG_4214_t.jpg"
       data-ngid="42"
       data-ngalbumid="2"
       data-ngdesc="">Thầy Richard Madden trao học bổng giá trị cho ba bạn học sinh may mắn</a>
 

    
	   
	<a href="20150729_firststep_gala_2015/first_steps_gala_2015_1.jpg"
       data-ngkind="album"
       data-ngid="5"
       data-ngthumb="20150729_firststep_gala_2015/thumb/first_steps_gala_2015_1_t.jpg"
       data-ngdesc="">Chương trình First Steps Gala 2015 diễn ra tại khách sạn Park Hyatt Saigon</a>
	<a href="20150729_firststep_gala_2015/first_steps_gala_2015_1.jpg"
       data-ngthumb="20150729_firststep_gala_2015/thumb/first_steps_gala_2015_1_t.jpg"
       data-ngid="200"
       data-ngalbumid="5"
       data-ngdesc="">Chương trình First Steps Gala 2015 diễn ra tại khách sạn Park Hyatt Saigon</a>
	<a href="20150729_firststep_gala_2015/first_steps_gala_2015_2.jpg"
       data-ngthumb="20150729_firststep_gala_2015/thumb/first_steps_gala_2015_2_t.jpg"
       data-ngid="51"
       data-ngalbumid="5"
       data-ngdesc="">bên trong hội trường</a>
	<a href="20150729_firststep_gala_2015/first_steps_gala_2015_3.jpg"
       data-ngthumb="20150729_firststep_gala_2015/thumb/first_steps_gala_2015_3_t.jpg"
       data-ngid="52"
       data-ngalbumid="5"
       data-ngdesc="">bên trong hội trường</a>
	<a href="20150729_firststep_gala_2015/first_steps_gala_2015_4.jpg"
       data-ngthumb="20150729_firststep_gala_2015/thumb/first_steps_gala_2015_4_t.jpg"
       data-ngid="53"
       data-ngalbumid="5"
       data-ngdesc="">bên trong hội trường</a>
	<a href="20150729_firststep_gala_2015/first_steps_gala_2015_5.jpg"
       data-ngthumb="20150729_firststep_gala_2015/thumb/first_steps_gala_2015_5_t.jpg"
       data-ngid="54"
       data-ngalbumid="5"
       data-ngdesc="">Góc hình ảnh của học viên First Steps</a>
	<a href="20150729_firststep_gala_2015/first_steps_gala_2015_6.jpg"
       data-ngthumb="20150729_firststep_gala_2015/thumb/first_steps_gala_2015_6_t.jpg"
       data-ngid="55"
       data-ngalbumid="5"
       data-ngdesc="">Màn trình diễn của học viên</a>
	<a href="20150729_firststep_gala_2015/first_steps_gala_2015_7.jpg"
       data-ngthumb="20150729_firststep_gala_2015/thumb/first_steps_gala_2015_7_t.jpg"
       data-ngid="56"
       data-ngalbumid="5"
       data-ngdesc="">Màn trình diễn của học viên</a>
	<a href="20150729_firststep_gala_2015/first_steps_gala_2015_8.jpg"
       data-ngthumb="20150729_firststep_gala_2015/thumb/first_steps_gala_2015_8_t.jpg"
       data-ngid="57"
       data-ngalbumid="5"
       data-ngdesc="">Màn trình diễn của học viên</a>
	<a href="20150729_firststep_gala_2015/first_steps_gala_2015_9.jpg"
       data-ngthumb="20150729_firststep_gala_2015/thumb/first_steps_gala_2015_9_t.jpg"
       data-ngid="59"
       data-ngalbumid="5"
       data-ngdesc="">Màn trình diễn của học viên</a>
	<a href="20150729_firststep_gala_2015/first_steps_gala_2015_10.jpg"
       data-ngthumb="20150729_firststep_gala_2015/thumb/first_steps_gala_2015_10_t.jpg"
       data-ngid="60"
       data-ngalbumid="5"
       data-ngdesc="">Màn trình diễn của học viên</a>
	<a href="20150729_firststep_gala_2015/first_steps_gala_2015_11.jpg"
       data-ngthumb="20150729_firststep_gala_2015/thumb/first_steps_gala_2015_11_t.jpg"
       data-ngid="61"
       data-ngalbumid="5"
       data-ngdesc="">Màn trình diễn của học viên</a>
	<a href="20150729_firststep_gala_2015/first_steps_gala_2015_12.jpg"
       data-ngthumb="20150729_firststep_gala_2015/thumb/first_steps_gala_2015_12_t.jpg"
       data-ngid="62"
       data-ngalbumid="5"
       data-ngdesc="">Màn trình diễn của học viên</a>
	<a href="20150729_firststep_gala_2015/first_steps_gala_2015_13.jpg"
       data-ngthumb="20150729_firststep_gala_2015/thumb/first_steps_gala_2015_13_t.jpg"
       data-ngid="63"
       data-ngalbumid="5"
       data-ngdesc="">Màn trình diễn của học viên</a>
	<a href="20150729_firststep_gala_2015/first_steps_gala_2015_14.jpg"
       data-ngthumb="20150729_firststep_gala_2015/thumb/first_steps_gala_2015_14_t.jpg"
       data-ngid="64"
       data-ngalbumid="5"
       data-ngdesc="">Mở màn là phần trình diễn sôi động của cá ... từ Học viện âm nhạc và nghệ thuật SOUL</a>
	<a href="20150729_firststep_gala_2015/first_steps_gala_2015_15.jpg"
       data-ngthumb="20150729_firststep_gala_2015/thumb/first_steps_gala_2015_15_t.jpg"
       data-ngid="65"
       data-ngalbumid="5"
       data-ngdesc="">Tiết mục dance ấn tượng nhất High School Musical</a>
	<a href="20150729_firststep_gala_2015/first_steps_gala_2015_16.jpg"
       data-ngthumb="20150729_firststep_gala_2015/thumb/first_steps_gala_2015_16_t.jpg"
       data-ngid="66"
       data-ngalbumid="5"
       data-ngdesc="">Tiết mục đồng ca của học viên các lớp</a>
	<a href="20150729_firststep_gala_2015/first_steps_gala_2015_17.jpg"
       data-ngthumb="20150729_firststep_gala_2015/thumb/first_steps_gala_2015_17_t.jpg"
       data-ngid="67"
       data-ngalbumid="5"
       data-ngdesc="">Rất đông phụ huynh và học sinh đến theo dõi chương trình</a>
	<a href="20150729_firststep_gala_2015/first_steps_gala_2015_18.jpg"
       data-ngthumb="20150729_firststep_gala_2015/thumb/first_steps_gala_2015_18_t.jpg"
       data-ngid="68"
       data-ngalbumid="5"
       data-ngdesc="">Rất đông phụ huynh và học sinh đến theo dõi chương trình</a>
	<a href="20150729_firststep_gala_2015/first_steps_gala_2015_19.jpg"
       data-ngthumb="20150729_firststep_gala_2015/thumb/first_steps_gala_2015_19_t.jpg"
       data-ngid="69"
       data-ngalbumid="5"
       data-ngdesc="">Học viên nhận chứng nhận và giấy khen từ giám đốc học vụ ACET, ông Jason Bednarz</a>
	<a href="20150729_firststep_gala_2015/first_steps_gala_2015_20.jpg"
       data-ngthumb="20150729_firststep_gala_2015/thumb/first_steps_gala_2015_20_t.jpg"
       data-ngid="70"
       data-ngalbumid="5"
       data-ngdesc="">Học viên nhận chứng chỉ và giấy khen từ đại diện trường ACET</a>
	   
	<a href="20150824_gapgocaothuielts/gap_go_cao_thu_ielts_1.jpg"
       data-ngkind="album"
       data-ngid="6"
       data-ngthumb="20150824_gapgocaothuielts/thumb/gap_go_cao_thu_ielts_1_t.jpg"
       data-ngdesc="">Bốn khách mời “cao thủ IELTS” tham dự chương trình: Hoàng Anh, Thùy Dương, Thành Hưng và Gia Thịnh</a>
	<a href="20150824_gapgocaothuielts/gap_go_cao_thu_ielts_2.jpg"
       data-ngthumb="20150824_gapgocaothuielts/thumb/gap_go_cao_thu_ielts_2_t.jpg"
       data-ngid="72"
       data-ngalbumid="6"
       data-ngdesc="">Các bạn khán giả hào hứng tham gia buổi giao lưu</a>
	<a href="20150824_gapgocaothuielts/gap_go_cao_thu_ielts_3.jpg"
       data-ngthumb="20150824_gapgocaothuielts/thumb/gap_go_cao_thu_ielts_3_t.jpg"
       data-ngid="73"
       data-ngalbumid="6"
       data-ngdesc="">Các khách mời chia sẻ về những kinh nghiệm luyện thi IELTS</a> 
	   
	<a href="20150728_hanoiacetoscar/ha_noi_acet_oscar_1.jpg"
       data-ngkind="album"
       data-ngid="7"
       data-ngthumb="20150728_hanoiacetoscar/thumb/ha_noi_acet_oscar_1_t.jpg"
       data-ngdesc="">ACET Hà Nội tổ chức thành công Lễ trao giải ACET OSCAR</a>
	<a href="20150728_hanoiacetoscar/ha_noi_acet_oscar_1.jpg"
       data-ngthumb="20150728_hanoiacetoscar/thumb/ha_noi_acet_oscar_1_t.jpg"
       data-ngid="201"
       data-ngalbumid="7"
       data-ngdesc="">Đại diện Ban tổ chức chụp ảnh kỷ niệm</a>
	<a href="20150728_hanoiacetoscar/ha_noi_acet_oscar_2.jpg"
       data-ngthumb="20150728_hanoiacetoscar/thumb/ha_noi_acet_oscar_2_t.jpg"
       data-ngid="75"
       data-ngalbumid="7"
       data-ngdesc="">Đại diện Ban tổ chức chụp ảnh kỷ niệm</a>
	<a href="20150728_hanoiacetoscar/ha_noi_acet_oscar_3.jpg"
       data-ngthumb="20150728_hanoiacetoscar/thumb/ha_noi_acet_oscar_3_t.jpg"
       data-ngid="76"
       data-ngalbumid="7"
       data-ngdesc="">Bà Hồ Thị Thủy Giang và Bà April Mislan phát biêu khai mạc chương trình</a>
	<a href="20150728_hanoiacetoscar/ha_noi_acet_oscar_4.jpg"
       data-ngthumb="20150728_hanoiacetoscar/thumb/ha_noi_acet_oscar_4_t.jpg"
       data-ngid="77"
       data-ngalbumid="7"
       data-ngdesc="">Bà Kim Cleary Đại sứ quán Úc tại Việt Nam phát biểu chào mừng sự kiện</a>   
	<a href="20150728_hanoiacetoscar/ha_noi_acet_oscar_5.jpg"
       data-ngthumb="20150728_hanoiacetoscar/thumb/ha_noi_acet_oscar_5_t.jpg"
       data-ngid="78"
       data-ngalbumid="7"
       data-ngdesc="">Phó Chủ tịch Hội sinh viên Việt Nam, trao bằng khen cho Lãnh đạo ACET ngay trong đêm First Steps Gala</a>
	<a href="20150728_hanoiacetoscar/ha_noi_acet_oscar_6.jpg"
       data-ngthumb="20150728_hanoiacetoscar/thumb/ha_noi_acet_oscar_6_t.jpg"
       data-ngid="79"
       data-ngalbumid="7"
       data-ngdesc=""></a>
	<a href="20150728_hanoiacetoscar/ha_noi_acet_oscar_7.jpg"
       data-ngthumb="20150728_hanoiacetoscar/thumb/ha_noi_acet_oscar_7_t.jpg"
       data-ngid="80"
       data-ngalbumid="7"
       data-ngdesc="">Nhóm LYNT với bài nhảy We're all in this together </a>   
	<a href="20150728_hanoiacetoscar/ha_noi_acet_oscar_8.jpg"
       data-ngthumb="20150728_hanoiacetoscar/thumb/ha_noi_acet_oscar_8_t.jpg"
       data-ngid="81"
       data-ngalbumid="7"
       data-ngdesc="">cùng với bản mash-up đầy ngẫu hứng</a> 
	<a href="20150728_hanoiacetoscar/ha_noi_acet_oscar_9.jpg"
       data-ngthumb="20150728_hanoiacetoscar/thumb/ha_noi_acet_oscar_9_t.jpg"
       data-ngid="82"
       data-ngalbumid="7"
       data-ngdesc="">Lớp First Steps 1A-Mon của cô Jess</a>
	<a href="20150728_hanoiacetoscar/ha_noi_acet_oscar_10.jpg"
       data-ngthumb="20150728_hanoiacetoscar/thumb/ha_noi_acet_oscar_10_t.jpg"
       data-ngid="83"
       data-ngalbumid="7"
       data-ngdesc="">Lớp First Steps 4B – Mon</a>
	<a href="20150728_hanoiacetoscar/ha_noi_acet_oscar_11.jpg"
       data-ngthumb="20150728_hanoiacetoscar/thumb/ha_noi_acet_oscar_11_t.jpg"
       data-ngid="84"
       data-ngalbumid="7"
       data-ngdesc=""></a>
	<a href="20150728_hanoiacetoscar/ha_noi_acet_oscar_12.jpg"
       data-ngthumb="20150728_hanoiacetoscar/thumb/ha_noi_acet_oscar_12_t.jpg"
       data-ngid="85"
       data-ngalbumid="7"
       data-ngdesc="">Lớp First Steps 3B – Mon </a>
	<a href="20150728_hanoiacetoscar/ha_noi_acet_oscar_13.jpg"
       data-ngthumb="20150728_hanoiacetoscar/thumb/ha_noi_acet_oscar_13_t.jpg"
       data-ngid="86"
       data-ngalbumid="7"
       data-ngdesc="">Lớp First Steps 4B – Tue</a>
	<a href="20150728_hanoiacetoscar/ha_noi_acet_oscar_14.jpg"
       data-ngthumb="20150728_hanoiacetoscar/thumb/ha_noi_acet_oscar_14_t.jpg"
       data-ngid="87"
       data-ngalbumid="7"
       data-ngdesc=""> Lớp First Steps 4B – Mon </a>
	<a href="20150728_hanoiacetoscar/ha_noi_acet_oscar_15.jpg"
       data-ngthumb="20150728_hanoiacetoscar/thumb/ha_noi_acet_oscar_15_t.jpg"
       data-ngid="88"
       data-ngalbumid="7"
       data-ngdesc=""></a>
	<a href="20150728_hanoiacetoscar/ha_noi_acet_oscar_16.jpg"
       data-ngthumb="20150728_hanoiacetoscar/thumb/ha_noi_acet_oscar_16_t.jpg"
       data-ngid="89"
       data-ngalbumid="7"
       data-ngdesc="">Cả bốn lớp First Steps </a>
	<a href="20150728_hanoiacetoscar/ha_noi_acet_oscar_17.jpg"
       data-ngthumb="20150728_hanoiacetoscar/thumb/ha_noi_acet_oscar_17_t.jpg"
       data-ngid="90"
       data-ngalbumid="7"
       data-ngdesc="">Lớp First Steps 1B – Tue</a>
	<a href="20150728_hanoiacetoscar/ha_noi_acet_oscar_18.jpg"
       data-ngthumb="20150728_hanoiacetoscar/thumb/ha_noi_acet_oscar_18_t.jpg"
       data-ngid="91"
       data-ngalbumid="7"
       data-ngdesc="">Các em học sinh lớp FS 3B Mon</a>
	<a href="20150728_hanoiacetoscar/ha_noi_acet_oscar_19.jpg"
       data-ngthumb="20150728_hanoiacetoscar/thumb/ha_noi_acet_oscar_19_t.jpg"
       data-ngid="92"
       data-ngalbumid="7"
       data-ngdesc=""></a>
	<a href="20150728_hanoiacetoscar/ha_noi_acet_oscar_20.jpg"
       data-ngthumb="20150728_hanoiacetoscar/thumb/ha_noi_acet_oscar_20_t.jpg"
       data-ngid="93"
       data-ngalbumid="7"
       data-ngdesc=""> </a>
	<a href="20150728_hanoiacetoscar/ha_noi_acet_oscar_21.jpg"
       data-ngthumb="20150728_hanoiacetoscar/thumb/ha_noi_acet_oscar_21_t.jpg"
       data-ngid="94"
       data-ngalbumid="7"
       data-ngdesc="">  </a>
	<a href="20150728_hanoiacetoscar/ha_noi_acet_oscar_22.jpg"
       data-ngthumb="20150728_hanoiacetoscar/thumb/ha_noi_acet_oscar_22_t.jpg"
       data-ngid="95"
       data-ngalbumid="7"
       data-ngdesc=""></a>
	<a href="20150728_hanoiacetoscar/ha_noi_acet_oscar_23.jpg"
       data-ngthumb="20150728_hanoiacetoscar/thumb/ha_noi_acet_oscar_23_t.jpg"
       data-ngid="96"
       data-ngalbumid="7"
       data-ngdesc=""></a>

	<a href="20150703_acet_hanoi_dangoai/acet_hanoi_dangoai_1.jpg"
       data-ngkind="album"
       data-ngid="8"
       data-ngthumb="20150703_acet_hanoi_dangoai/thumb/acet_hanoi_dangoai_1_t.jpg"
       data-ngdesc="">ACET Hà Nội tổ chức thành công Chuyến dã ngoại Hè</a>
	<a href="20150703_acet_hanoi_dangoai/acet_hanoi_dangoai_1.jpg"
       data-ngthumb="20150703_acet_hanoi_dangoai/thumb/acet_hanoi_dangoai_1_t.jpg"
       data-ngid="202"
       data-ngalbumid="8"
       data-ngdesc=""></a>
	<a href="20150703_acet_hanoi_dangoai/acet_hanoi_dangoai_2.jpg"
       data-ngthumb="20150703_acet_hanoi_dangoai/thumb/acet_hanoi_dangoai_2_t.jpg"
       data-ngid="98"
       data-ngalbumid="8"
       data-ngdesc=""></a>
	<a href="20150703_acet_hanoi_dangoai/acet_hanoi_dangoai_3.jpg"
       data-ngthumb="20150703_acet_hanoi_dangoai/thumb/acet_hanoi_dangoai_3_t.jpg"
       data-ngid="99"
       data-ngalbumid="8"
       data-ngdesc=""></a>
	<a href="20150703_acet_hanoi_dangoai/acet_hanoi_dangoai_4.jpg"
       data-ngthumb="20150703_acet_hanoi_dangoai/thumb/acet_hanoi_dangoai_4_t.jpg"
       data-ngid="100"
       data-ngalbumid="8"
       data-ngdesc=""></a>
	<a href="20150703_acet_hanoi_dangoai/acet_hanoi_dangoai_5.jpg"
       data-ngthumb="20150703_acet_hanoi_dangoai/thumb/acet_hanoi_dangoai_5_t.jpg"
       data-ngid="101"
       data-ngalbumid="8"
       data-ngdesc=""></a>
	<a href="20150703_acet_hanoi_dangoai/acet_hanoi_dangoai_6.jpg"
       data-ngthumb="20150703_acet_hanoi_dangoai/thumb/acet_hanoi_dangoai_6_t.jpg"
       data-ngid="102"
       data-ngalbumid="8"
       data-ngdesc=""></a>
	<a href="20150703_acet_hanoi_dangoai/acet_hanoi_dangoai_7.jpg"
       data-ngthumb="20150703_acet_hanoi_dangoai/thumb/acet_hanoi_dangoai_7_t.jpg"
       data-ngid="103"
       data-ngalbumid="8"
       data-ngdesc=""></a>
	<a href="20150703_acet_hanoi_dangoai/acet_hanoi_dangoai_8.jpg"
       data-ngthumb="20150703_acet_hanoi_dangoai/thumb/acet_hanoi_dangoai_8_t.jpg"
       data-ngid="104"
       data-ngalbumid="8"
       data-ngdesc=""></a>
	<a href="20150703_acet_hanoi_dangoai/acet_hanoi_dangoai_9.jpg"
       data-ngthumb="20150703_acet_hanoi_dangoai/thumb/acet_hanoi_dangoai_9_t.jpg"
       data-ngid="105"
       data-ngalbumid="8"
       data-ngdesc=""></a>
	<a href="20150703_acet_hanoi_dangoai/acet_hanoi_dangoai_10.jpg"
       data-ngthumb="20150703_acet_hanoi_dangoai/thumb/acet_hanoi_dangoai_10_t.jpg"
       data-ngid="106"
       data-ngalbumid="8"
       data-ngdesc=""></a>
	<a href="20150703_acet_hanoi_dangoai/acet_hanoi_dangoai_11.jpg"
       data-ngthumb="20150703_acet_hanoi_dangoai/thumb/acet_hanoi_dangoai_11_t.jpg"
       data-ngid="107"
       data-ngalbumid="8"
       data-ngdesc=""></a>
	<a href="20150703_acet_hanoi_dangoai/acet_hanoi_dangoai_12.jpg"
       data-ngthumb="20150703_acet_hanoi_dangoai/thumb/acet_hanoi_dangoai_12_t.jpg"
       data-ngid="108"
       data-ngalbumid="8"
       data-ngdesc=""></a>
	   
	<a href="20150507_dautusinhloi/dautusinhloi_1.jpg"
       data-ngkind="album"
       data-ngid="9"
       data-ngthumb="20150507_dautusinhloi/thumb/dautusinhloi_1_t.jpg"
       data-ngdesc="">Đầu tư đúng để sinh lợi cao nhất</a>
	<a href="20150507_dautusinhloi/dautusinhloi_1.jpg"
       data-ngthumb="20150507_dautusinhloi/thumb/dautusinhloi_1_t.jpg"
       data-ngid="203"
       data-ngalbumid="9"
       data-ngdesc="">Môi trường học tập hiện đại có thư viện riêng</a>
	<a href="20150507_dautusinhloi/dautusinhloi_2.jpg"
       data-ngthumb="20150507_dautusinhloi/thumb/dautusinhloi_2_t.jpg"
       data-ngid="110"
       data-ngalbumid="9"
       data-ngdesc="">“Candy Jar – một hoạt động gây quỹ từ thiện của các học viên ACET”</a>
	<a href="20150507_dautusinhloi/dautusinhloi_3.jpg"
       data-ngthumb="20150507_dautusinhloi/thumb/dautusinhloi_3_t.jpg"
       data-ngid="111"
       data-ngalbumid="9"
       data-ngdesc="">Giáo viên tận tâm hỗ trợ ngoài giờ học</a>
	<a href="20150507_dautusinhloi/dautusinhloi_4.jpg"
       data-ngthumb="20150507_dautusinhloi/thumb/dautusinhloi_4_t.jpg"
       data-ngid="112"
       data-ngalbumid="9"
       data-ngdesc="">Câu lạc bộ tiếng Anh tại trung tâm tự học của ACET</a>
	
	<a href="20150804_acet_nhan_bangkhen/acet_nhan_bangkhen_1.jpg"
       data-ngkind="album"
       data-ngid="10"
       data-ngthumb="20150804_acet_nhan_bangkhen/thumb/acet_nhan_bangkhen_1_t.jpg"
       data-ngdesc="">ACET vinh dự nhận bằng khen từ Trung Ương Hội Sinh Viên Việt Nam</a>
	   <a href="20150804_acet_nhan_bangkhen/acet_nhan_bangkhen_1.jpg"
       data-ngthumb="20150804_acet_nhan_bangkhen/thumb/acet_nhan_bangkhen_1_t.jpg"
       data-ngid="204"
       data-ngalbumid="10"
       data-ngdesc=""></a>
	<a href="20150804_acet_nhan_bangkhen/acet_nhan_bangkhen_2.jpg"
       data-ngthumb="20150804_acet_nhan_bangkhen/thumb/acet_nhan_bangkhen_2_t.jpg"
       data-ngid="114"
       data-ngalbumid="10"
       data-ngdesc=""></a>
	<a href="20150804_acet_nhan_bangkhen/acet_nhan_bangkhen_3.jpg"
       data-ngthumb="20150804_acet_nhan_bangkhen/thumb/acet_nhan_bangkhen_3_t.jpg"
       data-ngid="115"
       data-ngalbumid="10"
       data-ngdesc=""></a>
	   
	<a href="20130618_acet_du_an_rungoi/acet_du_an_rungoi_1.jpg"
       data-ngkind="album"
       data-ngid="11"
       data-ngthumb="20130618_acet_du_an_rungoi/thumb/acet_du_an_rungoi_1_t.jpg"
       data-ngdesc="">ACET phối hợp cùng dự án “Rừng ơi”</a>
	<a href="20130618_acet_du_an_rungoi/acet_du_an_rungoi_1.jpg"
       data-ngthumb="20130618_acet_du_an_rungoi/thumb/acet_du_an_rungoi_1_t.jpg"
       data-ngid="205"
       data-ngalbumid="11"
       data-ngdesc="">Hiếu Anh- du học sinh tại Costa Rica</a>
	<a href="20130618_acet_du_an_rungoi/acet_du_an_rungoi_2.jpg"
       data-ngthumb="20130618_acet_du_an_rungoi/thumb/acet_du_an_rungoi_2_t.jpg"
       data-ngid="117"
       data-ngalbumid="11"
       data-ngdesc="">Chia làm 9 nhóm để chơi trò chơi </a>
	<a href="20130618_acet_du_an_rungoi/acet_du_an_rungoi_3.jpg"
       data-ngthumb="20130618_acet_du_an_rungoi/thumb/acet_du_an_rungoi_3_t.jpg"
       data-ngid="118"
       data-ngalbumid="11"
       data-ngdesc="">Các em học điệu nhảy flashmob "Earth were in it together"</a>
	<a href="20130618_acet_du_an_rungoi/acet_du_an_rungoi_4.jpg"
       data-ngthumb="20130618_acet_du_an_rungoi/thumb/acet_du_an_rungoi_4_t.jpg"
       data-ngid="119"
       data-ngalbumid="11"
       data-ngdesc="">Chị Ninh Phương Thảo-Trung tâm Giáo dục Thiên nhiên ENV</a>
	
	<a href="20131008_tuvantructuyen/tuvantructuyen_1.jpg"
       data-ngkind="album"
       data-ngid="12"
       data-ngthumb="20131008_tuvantructuyen/thumb/tuvantructuyen_1_t.jpg"
       data-ngdesc="">Tư vấn trực tuyến Tiếng Anh Du Học & Tư vấn Du Học</a>
	<a href="20131008_tuvantructuyen/tuvantructuyen_1.jpg"
       data-ngthumb="20131008_tuvantructuyen/thumb/tuvantructuyen_1_t.jpg"
       data-ngid="206"
       data-ngalbumid="12"
       data-ngdesc="">Phần tư vấn của các chuyên gia với độc giả báo VTVNews</a>
	<a href="20131008_tuvantructuyen/tuvantructuyen_2.jpg"
       data-ngthumb="20131008_tuvantructuyen/thumb/tuvantructuyen_2_t.jpg"
       data-ngid="121"
       data-ngalbumid="12"
       data-ngdesc="">Ông Garrath Bell, Giám đốc Học vụ, Trung tâm ACET </a>
	<a href="20131008_tuvantructuyen/tuvantructuyen_3.jpg"
       data-ngthumb="20131008_tuvantructuyen/thumb/tuvantructuyen_3_t.jpg"
       data-ngid="122"
       data-ngalbumid="12"
       data-ngdesc="">Bà Nguyễn Thị Trung Hà, Giám đốc Chi nhánh tổ chức giáo dục IDP Hà Nội</a>
	<a href="20131008_tuvantructuyen/tuvantructuyen_4.jpg"
       data-ngthumb="20131008_tuvantructuyen/thumb/tuvantructuyen_4_t.jpg"
       data-ngid="123"
       data-ngalbumid="12"
       data-ngdesc="">Bạn Hoàng Thu Giang chia sẻ những kinh nghiệm du học tại Úc </a>
	<a href="20131008_tuvantructuyen/tuvantructuyen_5.jpg"
       data-ngthumb="20131008_tuvantructuyen/thumb/tuvantructuyen_5_t.jpg"
       data-ngid="124"
       data-ngalbumid="12"
       data-ngdesc="">Quán quân Đường lên đỉnh Olympia Hoàng Thế Anh (ngoài cùng bên trái)</a>
	   
	<a href="20121105_hocbongacet_2012/hocbongacet_2012_1.jpg"
       data-ngkind="album"
       data-ngid="13"
       data-ngthumb="20121105_hocbongacet_2012/thumb/hocbongacet_2012_1_t.jpg"
       data-ngdesc="">Chương trình học bổng ACET – Mùa tựu trường 2012</a>
	<a href="20121105_hocbongacet_2012/hocbongacet_2012_1.jpg"
       data-ngthumb="20121105_hocbongacet_2012/thumb/hocbongacet_2012_1_t.jpg"
       data-ngid="207"
       data-ngalbumid="13"
       data-ngdesc="">Bạn Nguyễn Ngọc Thảo Ly – THPT Trần Phú (Hà Nội)</a>
	<a href="20121105_hocbongacet_2012/hocbongacet_2012_2.jpg"
       data-ngthumb="20121105_hocbongacet_2012/thumb/hocbongacet_2012_2_t.jpg"
       data-ngid="126"
       data-ngalbumid="13"
       data-ngdesc="">Nguyễn Đức Nam và Trần Thái Thảo </a>
	<a href="20121105_hocbongacet_2012/hocbongacet_2012_3.jpg"
       data-ngthumb="20121105_hocbongacet_2012/thumb/hocbongacet_2012_3_t.jpg"
       data-ngid="127"
       data-ngalbumid="13"
       data-ngdesc="">Nguyễn Hoàng Như Mai và thầy Andrew Hollins</a>
	<a href="20121105_hocbongacet_2012/hocbongacet_2012_4.jpg"
       data-ngthumb="20121105_hocbongacet_2012/thumb/hocbongacet_2012_4_t.jpg"
       data-ngid="128"
       data-ngalbumid="13"
       data-ngdesc="">Phụ huynh cũng tới tham dự buổi lễ</a>
	<a href="20121105_hocbongacet_2012/hocbongacet_2012_5.jpg"
       data-ngthumb="20121105_hocbongacet_2012/thumb/hocbongacet_2012_5_t.jpg"
       data-ngid="129"
       data-ngalbumid="13"
       data-ngdesc="">Nguyễn Quỳnh Trang chụp ảnh lưu niệm cùng mẹ</a>
	<a href="20121105_hocbongacet_2012/hocbongacet_2012_6.jpg"
       data-ngthumb="20121105_hocbongacet_2012/thumb/hocbongacet_2012_6_t.jpg"
       data-ngid="133"
       data-ngalbumid="13"
       data-ngdesc="">Các bạn cùng chụp ảnh với lãnh đạo cao cấp tại ACET Hà Nội</a>
	<a href="20121105_hocbongacet_2012/hocbongacet_2012_7.jpg"
       data-ngthumb="20121105_hocbongacet_2012/thumb/hocbongacet_2012_7_t.jpg"
       data-ngid="131"
       data-ngalbumid="13"
       data-ngdesc="">Khách mời tham dự cùng tham gia và nhận quà từ ACET</a>
	   
	
	
	   
</div>
<div class="couse_title">VIDEO</div>
<ul class="videoSlider">
    <li>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=CQD1wV4j2Vs" data-toggle="lightbox"><img src="http://img.youtube.com/vi/CQD1wV4j2Vs/hqdefault.jpg" width="100%"></a>
        </div>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=7y1xaz1KB1A" data-toggle="lightbox"><img src="http://img.youtube.com/vi/7y1xaz1KB1A/hqdefault.jpg" width="100%"></a>
        </div>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=N4-1jE0dH7I" data-toggle="lightbox"><img src="http://img.youtube.com/vi/N4-1jE0dH7I/hqdefault.jpg" width="100%"></a>
        </div>
        
    </li>
    <li>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=tUC4YIGzHs4" data-toggle="lightbox"><img src="http://img.youtube.com/vi/tUC4YIGzHs4/hqdefault.jpg" width="100%"></a>
        </div>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=azjPVJBZ3ho" data-toggle="lightbox"><img src="http://img.youtube.com/vi/azjPVJBZ3ho/hqdefault.jpg" width="100%"></a>
        </div>
		<div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=YrYcn87G54U" data-toggle="lightbox"><img src="http://img.youtube.com/vi/YrYcn87G54U/hqdefault.jpg" width="100%"></a>
        </div>
    </li>
	<li>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=OxE729NrcQU" data-toggle="lightbox"><img src="http://img.youtube.com/vi/OxE729NrcQU/hqdefault.jpg" width="100%"></a>
        </div>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=hKg-XTi8fAk" data-toggle="lightbox"><img src="http://img.youtube.com/vi/hKg-XTi8fAk/hqdefault.jpg" width="100%"></a>
        </div>
		<div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=inF0Sbx20Qs" data-toggle="lightbox"><img src="http://img.youtube.com/vi/inF0Sbx20Qs/hqdefault.jpg" width="100%"></a>
        </div>
    </li>
	<li>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=WUJ9dqy5igY" data-toggle="lightbox"><img src="http://img.youtube.com/vi/WUJ9dqy5igY/hqdefault.jpg" width="100%"></a>
        </div>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=ESKNdBLyiAQ" data-toggle="lightbox"><img src="http://img.youtube.com/vi/ESKNdBLyiAQ/hqdefault.jpg" width="100%"></a>
        </div>
		<div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=3JpkuF22BZg" data-toggle="lightbox"><img src="http://img.youtube.com/vi/3JpkuF22BZg/hqdefault.jpg" width="100%"></a>
        </div>
    </li>
	<li>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=b8fNXM2VR0Y" data-toggle="lightbox"><img src="http://img.youtube.com/vi/b8fNXM2VR0Y/hqdefault.jpg" width="100%"></a>
        </div>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=chWfGvpFWwQ" data-toggle="lightbox"><img src="http://img.youtube.com/vi/chWfGvpFWwQ/hqdefault.jpg" width="100%"></a>
        </div>
		<div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=B5fjk4Ms42k" data-toggle="lightbox"><img src="http://img.youtube.com/vi/B5fjk4Ms42k/hqdefault.jpg" width="100%"></a>
        </div>
	</li>
	<li>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=JzHc0Jf9ZBw" data-toggle="lightbox"><img src="http://img.youtube.com/vi/JzHc0Jf9ZBw/hqdefault.jpg" width="100%"></a>
        </div>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=agU-2H7pEyY" data-toggle="lightbox"><img src="http://img.youtube.com/vi/agU-2H7pEyY/hqdefault.jpg" width="100%"></a>
        </div>
		<div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=lxia7y7tmXY" data-toggle="lightbox"><img src="http://img.youtube.com/vi/lxia7y7tmXY/hqdefault.jpg" width="100%"></a>
        </div>
	</li>
	<li>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=yEQ85FQywV8" data-toggle="lightbox"><img src="http://img.youtube.com/vi/yEQ85FQywV8/hqdefault.jpg" width="100%"></a>
        </div>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=abW_-GWUqDw" data-toggle="lightbox"><img src="http://img.youtube.com/vi/abW_-GWUqDw/hqdefault.jpg" width="100%"></a>
        </div>
		<div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=HIcyNsuv56U" data-toggle="lightbox"><img src="http://img.youtube.com/vi/HIcyNsuv56U/hqdefault.jpg" width="100%"></a>
        </div>
	</li>
	<li>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=7vXmkQLX5ek" data-toggle="lightbox"><img src="http://img.youtube.com/vi/7vXmkQLX5ek/hqdefault.jpg" width="100%"></a>
        </div>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=_eUsRF9G5FI" data-toggle="lightbox"><img src="http://img.youtube.com/vi/_eUsRF9G5FI/hqdefault.jpg" width="100%"></a>
        </div>
		<div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=sP01b5O8kJo" data-toggle="lightbox"><img src="http://img.youtube.com/vi/sP01b5O8kJo/hqdefault.jpg" width="100%"></a>
        </div>
	</li>
	<li>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=bh2nVIKzCZY" data-toggle="lightbox"><img src="http://img.youtube.com/vi/bh2nVIKzCZY/hqdefault.jpg" width="100%"></a>
        </div>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=CQD1wV4j2Vs" data-toggle="lightbox"><img src="http://img.youtube.com/vi/CQD1wV4j2Vs/hqdefault.jpg" width="100%"></a>
        </div>
		<div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=yEQb5FEOueg" data-toggle="lightbox"><img src="http://img.youtube.com/vi/yEQb5FEOueg/hqdefault.jpg" width="100%"></a>
        </div>
	</li>
	<li>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=o8R8C4bSo4o" data-toggle="lightbox"><img src="http://img.youtube.com/vi/o8R8C4bSo4o/hqdefault.jpg" width="100%"></a>
        </div>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=kMj5O6V7Wp0" data-toggle="lightbox"><img src="http://img.youtube.com/vi/kMj5O6V7Wp0/hqdefault.jpg" width="100%"></a>
        </div>
		<div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=_YdSl6p2qAA" data-toggle="lightbox"><img src="http://img.youtube.com/vi/_YdSl6p2qAA/hqdefault.jpg" width="100%"></a>
        </div>
	</li>
	<li>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=ZmAJQbzpUB4" data-toggle="lightbox"><img src="http://img.youtube.com/vi/ZmAJQbzpUB4/hqdefault.jpg" width="100%"></a>
        </div>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=Sb9PpYydD8A" data-toggle="lightbox"><img src="http://img.youtube.com/vi/Sb9PpYydD8A/hqdefault.jpg" width="100%"></a>
        </div>
		<div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=pLHejel2ME4" data-toggle="lightbox"><img src="http://img.youtube.com/vi/pLHejel2ME4/hqdefault.jpg" width="100%"></a>
        </div>
	</li>
	<li>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=uFUDsbOpN9I" data-toggle="lightbox"><img src="http://img.youtube.com/vi/uFUDsbOpN9I/hqdefault.jpg" width="100%"></a>
        </div>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=Arsj1nOIqBc" data-toggle="lightbox"><img src="http://img.youtube.com/vi/Arsj1nOIqBc/hqdefault.jpg" width="100%"></a>
        </div>
		<div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=ZNrFZxxB4ZQ" data-toggle="lightbox"><img src="http://img.youtube.com/vi/ZNrFZxxB4ZQ/hqdefault.jpg" width="100%"></a>
        </div>
	</li>
	<li>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=aHqE7XhlXv0" data-toggle="lightbox"><img src="http://img.youtube.com/vi/aHqE7XhlXv0/hqdefault.jpg" width="100%"></a>
        </div>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=w-WrTXWXl8s" data-toggle="lightbox"><img src="http://img.youtube.com/vi/w-WrTXWXl8s/hqdefault.jpg" width="100%"></a>
        </div>
		<div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=K3s3O0aZrZ8" data-toggle="lightbox"><img src="http://img.youtube.com/vi/K3s3O0aZrZ8/hqdefault.jpg" width="100%"></a>
        </div>
	</li>
	<li>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=3JH9xiip_b8" data-toggle="lightbox"><img src="http://img.youtube.com/vi/3JH9xiip_b8/hqdefault.jpg" width="100%"></a>
        </div>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=3lE2ChkbXPw" data-toggle="lightbox"><img src="http://img.youtube.com/vi/3lE2ChkbXPw/hqdefault.jpg" width="100%"></a>
        </div>
		<div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=C9cA7yX71B4" data-toggle="lightbox"><img src="http://img.youtube.com/vi/C9cA7yX71B4/hqdefault.jpg" width="100%"></a>
        </div>
	</li>
	<li>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=BAxIi9P2KTo" data-toggle="lightbox"><img src="http://img.youtube.com/vi/BAxIi9P2KTo/hqdefault.jpg" width="100%"></a>
        </div>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=MeTH4rsEn-s" data-toggle="lightbox"><img src="http://img.youtube.com/vi/MeTH4rsEn-s/hqdefault.jpg" width="100%"></a>
        </div>
		<div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=C9W-zC1b4mM" data-toggle="lightbox"><img src="http://img.youtube.com/vi/C9W-zC1b4mM/hqdefault.jpg" width="100%"></a>
        </div>
	</li>
	<li>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=TmjMlgY3s6c" data-toggle="lightbox"><img src="http://img.youtube.com/vi/TmjMlgY3s6c/hqdefault.jpg" width="100%"></a>
        </div>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=cpcS8VbwuEE" data-toggle="lightbox"><img src="http://img.youtube.com/vi/cpcS8VbwuEE/hqdefault.jpg" width="100%"></a>
        </div>
		<div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=9NxPqZquRYM" data-toggle="lightbox"><img src="http://img.youtube.com/vi/9NxPqZquRYM/hqdefault.jpg" width="100%"></a>
        </div>
	</li>
	<li>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=sCVRfrNUGws" data-toggle="lightbox"><img src="http://img.youtube.com/vi/sCVRfrNUGws/hqdefault.jpg" width="100%"></a>
        </div>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=n4jL-xNf7Kk" data-toggle="lightbox"><img src="http://img.youtube.com/vi/n4jL-xNf7Kk/hqdefault.jpg" width="100%"></a>
        </div>
		<div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=PfGxkvqZlK4" data-toggle="lightbox"><img src="http://img.youtube.com/vi/PfGxkvqZlK4/hqdefault.jpg" width="100%"></a>
        </div>
	</li>
	<li>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=-Hn0cbE9JcI" data-toggle="lightbox"><img src="http://img.youtube.com/vi/-Hn0cbE9JcI/hqdefault.jpg" width="100%"></a>
        </div>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=sf7r19wrxbk" data-toggle="lightbox"><img src="http://img.youtube.com/vi/sf7r19wrxbk/hqdefault.jpg" width="100%"></a>
        </div>
		<div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=gsvN0sYK7Xo" data-toggle="lightbox"><img src="http://img.youtube.com/vi/gsvN0sYK7Xo/hqdefault.jpg" width="100%"></a>
        </div>
	</li>
	<li>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=qgIrRB5E2UQ" data-toggle="lightbox"><img src="http://img.youtube.com/vi/qgIrRB5E2UQ/hqdefault.jpg" width="100%"></a>
        </div>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=lEIOfVJhlvg" data-toggle="lightbox"><img src="http://img.youtube.com/vi/lEIOfVJhlvg/hqdefault.jpg" width="100%"></a>
        </div>
		<div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=36C7RP3vHhc" data-toggle="lightbox"><img src="http://img.youtube.com/vi/36C7RP3vHhc/hqdefault.jpg" width="100%"></a>
        </div>
	</li>
	<li>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=LSJudd5-Veg" data-toggle="lightbox"><img src="http://img.youtube.com/vi/LSJudd5-Veg/hqdefault.jpg" width="100%"></a>
        </div>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=g9kC_-hLjgQ" data-toggle="lightbox"><img src="http://img.youtube.com/vi/g9kC_-hLjgQ/hqdefault.jpg" width="100%"></a>
        </div>
		<div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=MB7-lwWgBv4" data-toggle="lightbox"><img src="http://img.youtube.com/vi/MB7-lwWgBv4/hqdefault.jpg" width="100%"></a>
        </div>
	</li>
	<li>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=z3Dq2mPptGc" data-toggle="lightbox"><img src="http://img.youtube.com/vi/z3Dq2mPptGc/hqdefault.jpg" width="100%"></a>
        </div>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=1Bv6h7fHoP0" data-toggle="lightbox"><img src="http://img.youtube.com/vi/1Bv6h7fHoP0/hqdefault.jpg" width="100%"></a>
        </div>
		<div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=BaPmYJ4bnw4" data-toggle="lightbox"><img src="http://img.youtube.com/vi/BaPmYJ4bnw4/hqdefault.jpg" width="100%"></a>
        </div>
	</li>
	<li>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=0r1HTeytyTo" data-toggle="lightbox"><img src="http://img.youtube.com/vi/0r1HTeytyTo/hqdefault.jpg" width="100%"></a>
        </div>
        <div class="col-xs-12 col-md-4 item-post">
            <a href="http://www.youtube.com/watch?v=CQD1wV4j2Vs" data-toggle="lightbox"><img src="http://img.youtube.com/vi/CQD1wV4j2Vs/hqdefault.jpg" width="100%"></a>
        </div>
		
	</li>
</ul>
<div class="outside">
    <p><span id="vslider-prev"></span>  <span id="vslider-next"></span></p>
</div>