﻿<div id="dvLeft"><a href="http://acet.edu.vn/Home/News/1682"><img src="/home/img/home160x600.png"></a></div>
<div id="dvRight">
    <a href="/dang-ky-khoa-hoc.html"><img src="/home/img/register_now.jpg" width="100%"></a>
    <p></p>
    <a href="/thoi-khoa-bieu.html"><img src="/home/img/timetable.jpg" width="100%"></a>
    <p></p>
    
    <img src="/home/img/callnow.jpg" width="100%" />
    <p></p>
    <div id='calendar'></div>
    <ul id="list_calendar"></ul>
</div>