﻿<div class="couse_title tkb">THỜI KHOÁ BIỂU </div>
<div class="col-sm-12 no-padding" style="margin-right:16px;padding-right:16px">
    <ul class="nav nav-tabs tintuc_nav">
        <li class="active"><a href="#ho-chi-minh-ae" class="tphcm" data-toggle="tab" style="z-index:4">TP. HỒ CHÍ MINH</a></li>
        <li><a href="#ha-noi-ae" data-toggle="tab" style="z-index:3;margin-left:-40px;">HÀ NỘI</a></li>
    </ul>
</div>

<div class="tab-content couse_content">
    <div class="tab-pane fade in active" id="ho-chi-minh-ae">
        <h4 class="center title">THỜI KHOÁ BIỂU TRONG TUẦN</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td class="center " colspan=2>THỜI LƯỢNG </td>
                    <td class="center ">NGÀY HỌC </td>
                    <td class="center ">BUỔI </td>
                    <td class="center ">GIỜ HỌC </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="center middle" rowspan="2" style="text-align:left;width:20%;padding-left:3%;">Toàn thời gian</td>
                    <td class="center middle" rowspan="2" style="width:15%">5 tuần</td>
                    <td class="center middle" rowspan="2"> Từ thứ Hai đến thứ Sáu</td>
                    <td class="center middle" style="text-align:left;padding-left:2%;"> Sáng</td>
                    <td class="center middle" style="text-align: right; padding-right: 3%;"> 07.45 AM - 12.00 PM</td>
                </tr>
                <tr>
                    <td class="center middle" style="text-align: left; padding-left: 2%;"> Chiều</td>
                    <td class="center middle" style="text-align: right; padding-right: 3%;"> 01.15 PM - 05.30 PM</td>
                </tr>
                <tr>
                    <td class="center middle" rowspan="5" style="text-align: left; padding-left: 3%;">Bán thời gian</td>
                    <td class="center middle" rowspan="3">10 tuần</td>
                    <td class="center middle" rowspan="3"> Từ thứ Hai đến thứ Sáu</td>
                    <td class="center middle" rowspan="1" style="text-align: left; padding-left: 2%;"> Sáng</td>
                    <td class="center middle" style="text-align: right; padding-right: 3%;"> 07.45 AM - 09.45 AM<br /> hoặc 10.00 AM - 12.00 AM</td>
                </tr>
                <tr>
                    <td class="center middle" rowspan="1" style="text-align: left; padding-left: 2%;"> Chiều</td>
                    <td class="center middle" style="text-align: right; padding-right: 3%;"> 01.00 PM - 03.00 PM<br /> hoặc 03.15 PM - 05.15 PM</td>
                </tr>
                <tr>
                    <td class="center middle" rowspan="1" style="text-align: left; padding-left: 2%;"> Tối</td>
                    <td class="center middle" style="text-align: right; padding-right: 3%;"> 06.15 PM - 08.15 PM<br /> hoặc 06.00 PM - 09.00 PM</td>
                </tr>
                <tr>
                    <td class="center middle" rowspan="2">10 tuần</td>
                    <td class="center middle" rowspan="2">Hai - Tư - Sáu <br /> hoặc Ba - Năm - Bảy</td>
                    <td class="center middle" style="text-align: left; padding-left: 2%;"> Sáng</td>
                    <td class="center middle" style="text-align: right; padding-right: 3%;"> 08.00 AM - 11.35 AM</td>
                </tr>
                <tr>
                    <td class="center middle" style="text-align: left; padding-left: 2%;"> Chiều</td>
                    <td class="center middle" style="text-align: right; padding-right: 3%;"> 01.00 PM - 04.35 PM</td>
                </tr>
                <tr>
                    <td class="center middle" rowspan="3" style="text-align: left; padding-left: 3%;">Lớp cách ngày </td>
                    <td class="center middle" rowspan="3">15 tuần <br />(Áp dụng tại <br />Lê Văn Sỹ)</td>
                    <td class="center middle" rowspan="3">Hai - Tư - Sáu <br /> hoặc Ba - Năm - Bảy</td>
                    <td class="center middle" style="text-align: left; padding-left: 2%;"> Sáng</td>
                    <td class="center middle" style="text-align: right; padding-right: 3%;"> 08.00 AM - 10.15 AM</td>
                </tr>
                <tr>
                    <td class="center middle" style="text-align: left; padding-left: 2%;"> Chiều</td>
                    <td class="center middle" style="text-align: right; padding-right: 3%;"> 01.00 PM - 03.15 PM</td>
                </tr>
                <tr>
                    <td class="center middle" style="text-align: left; padding-left: 2%;"> Tối </td>
                    <td class="center middle" style="text-align: right; padding-right: 3%;"> 06.15 PM - 08.30 PM</td>
                </tr>
            </tbody>
        </table>
        <h4 class="center title">THỜI KHOÁ BIỂU CUỐI TUẦN </h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td class="center " colspan=2>THỜI LƯỢNG</td>
                    <td class="center ">NGÀY HỌC </td>
                    <td class="center " colspan=2>GIỜ HỌC </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="center middle" rowspan="2" style="width:20%">Chỉ áp dụng tại <br />Lê Văn Sỹ và Võ Thị Sáu</td>
                    <td class="center middle" rowspan="2" style="width:15%">5 tuần</td>
                    <td class="center middle"> Thứ Bảy và Chủ Nhật</td>
                    <td class="center middle red" style="border-right-color:white;"> hoặc</td>
                    <td class="center middle" style="text-align: right; padding-right: 3%;"> Sáng 08.25 AM - 12.00 PM<br />Chiều 01.00 PM - 04.35 PM</td>
                </tr>
                <tr>
                    <td class="center middle"> Thứ Bảy hoặc Chủ Nhật</td>
                    <td class="center middle red" style="border-right-color:white;"> và</td>
                    <td class="center middle" style="text-align: right; padding-right: 3%;"> Sáng 08.25 AM - 12.00 PM<br />Chiều 01.00 PM - 04.35 PM</td>
                </tr>

            </tbody>
        </table>


    </div>
    <div class="tab-pane fade" id="ha-noi-ae">
        <h4 class="center title">THỜI KHOÁ BIỂU</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td class="center " colspan=2>THỜI LƯỢNG </td>
                    <td class="center ">NGÀY HỌC </td>
                    <td class="center ">BUỔI </td>
                    <td class="center ">GIỜ HỌC </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="center middle" rowspan="2">Toàn thời gian</td>
                    <td class="center middle" rowspan="2">5 tuần</td>
                    <td class="center middle" rowspan="2"> Từ thứ 2 đến thứ 6</td>
                    <td class="center middle"> Sáng</td>
                    <td class="center middle"> 07.45 AM - 12.00 AM</td>
                </tr>
                <tr>
                    <td class="center middle"> Chiều</td>
                    <td class="center middle"> 01.15 PM - 05.30 PM</td>
                </tr>
                <tr>
                    <td class="center middle" rowspan="1">Bán thời gian</td>
                    <td class="center middle" rowspan="1">10 tuần</td>
                    <td class="center middle" rowspan="1"> Từ thứ 2 đến thứ 6</td>
                    <td class="center middle" rowspan="1"> Tối</td>
                    <td class="center middle">  06.15 PM - 08.15 PM</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
<div class="couse_title">LỊCH KHAI GIẢNG</div>
<div class="couse_content">
    <div class="year_title">
        <i class="fa fa-angle-left"></i>
        <span>NĂM HỌC 2015</span>
        <i class="fa fa-angle-right"></i>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td class="center middle">CÁC KHOÁ</td>
                <td class="center middle">NGÀY KHAI GIẢNG</td>
                <td class="center middle"> NGÀY KẾT THÚC</td>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td class="center middle"> KHOÁ 1</td>
                <td class="center middle"> 26/01/2015</td>
                <td class="center middle"> 13/03/2015</td>
            </tr>
            <tr>
                <td class="center middle"> KHOÁ 2</td>
                <td class="center middle"> 16/03/2015</td>
                <td class="center middle"> 17/04/2015</td>
            </tr>

            <tr>
                <td class="center middle"> KHOÁ 3</td>
                <td class="center middle"> 20/04/2015</td>
                <td class="center middle"> 29/05/2015</td>
            </tr>

            <tr>
                <td class="center middle"> KHOÁ 4</td>
                <td class="center middle"> 01/06/2015</td>
                <td class="center middle"> 03/07/2015</td>
            </tr>

            <tr>
                <td class="center middle"> KHOÁ 5</td>
                <td class="center middle"> 06/07/2015</td>
                <td class="center middle"> 07/08/2015</td>
            </tr>

            <tr>
                <td class="center middle"> KHOÁ 6</td>
                <td class="center middle"> 10/08/2015</td>
                <td class="center middle"> 11/09/2015</td>
            </tr>

            <tr>
                <td class="center middle"> KHOÁ 7</td>
                <td class="center middle"> 10/08/2015</td>
                <td class="center middle"> 11/09/2015</td>
            </tr>

            <tr>
                <td class="center middle"> KHOÁ 8</td>
                <td class="center middle"> 19/10/2015</td>
                <td class="center middle"> 20/11/2015</td>
            </tr>

            <tr>
                <td class="center middle"> KHOÁ 9</td>
                <td class="center middle"> 23/11/2015</td>
                <td class="center middle"> 24/12/2015</td>
            </tr>

            <tr>
                <td class="center middle"> KHOÁ 10</td>
                <td class="center middle"> 28/12/2015</td>
                <td class="center middle"> 29/01/2016</td>
            </tr>

        </tbody>
    </table>
</div>

