﻿<div class="couse_title  tkb">THỜI KHOÁ BIỂU </div>
<div class="col-sm-12 no-padding" style="margin-right:16px;padding-right:16px">
    <ul class="nav nav-tabs tintuc_nav">
        <li class="active"><a href="#ho-chi-minh-fs" class="tphcm" data-toggle="tab" style="z-index:4">TP. HỒ CHÍ MINH</a></li>
        <li><a href="#ha-noi-fs" data-toggle="tab" style="z-index:3;margin-left:-38px;">HÀ NỘI</a></li>
    </ul>
</div>

<div class="tab-content couse_content" style="padding-right:16px">
    <div class="tab-pane fade in active" id="ho-chi-minh-fs">
        <h4 class="center title">THỜI KHÓA BIỂU DÀNH CHO CÁC KHÓA HỌC MÙA HÈ (KHÓA 2/2015)</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td class="center" style="width:20%">THỜI KHÓA BIỂU </td>
                    <td class="center" style="width:10%">SỐ GIỜ</td>
                    <td class="center" style="width:18%">THỜI LƯỢNG </td>
                    <td class="center" style="width:25%">NGÀY HỌC </td>
                    <td class="center">GIỜ HỌC </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="center middle">TKB 1</td>
                    <td class="center middle">100</td>
                    <td class="center middle">8 Tuần + Gala</td>
                    <td class="center middle">Thứ Hai đến thứ Sáu</td>
                    <td style="text-align: right;">08.00 AM - 10.40 AM<br />hoặc 01.00 PM - 03.40 PM</td>
                </tr>
                <tr>
                    <td class="center middle">TKB 2</td>
                    <td class="center middle">100</td>
                    <td class="center middle">8 Tuần + Gala</td>
                    <td class="center middle">Thứ Hai đến thứ Năm</td>
                    <td style="text-align: right;">08.00 AM - 11.15 PM <br />hoặc 01.00 PM - 04.15 PM</td>
                </tr>
                <tr>
                    <td class="center middle">TKB 3</td>
                    <td class="center middle">100</td>
                    <td class="center middle">8 Tuần + Gala</td>
                    <td class="center middle">Hai - Tư - Sáu</td>
                    <td style="text-align: right;">07.45 AM - 12.05 AM<br />hoặc 01.00 PM - 05.20 PM</td>
                </tr>
                <tr>
                    <td class="center middle">TKB 4</td>
                    <td class="center middle">100</td>
                    <td class="center middle">8 Tuần + Gala</td>
                    <td class="center middle">Ba - Năm - Bảy</td>
                    <td style="text-align: right;">07.45 AM - 12.05 AM<br />hoặc 01.00 PM - 05.20 PM</td>
                </tr>
                <tr>
                    <td class="center middle">TKB 5</td>
                    <td class="center middle">50</td>
                    <td class="center middle">8 Tuần + Gala</td>
                    <td class="center middle">Thứ Bảy - Chủ nhật</td>
                    <td style="text-align: right;">08.00 AM - 11.15 AM<br />hoặc 01.00 PM - 04.15 PM</td>
                </tr>
            </tbody>
        </table>
        <h4 class="center title">THỜI KHÓA BIỂU DÀNH CHO CÁC KHÓA HỌC MÙA THU (KHÓA 3/2015)</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td class="center" style="width:20%">THỜI KHÓA BIỂU </td>
                    <td class="center" style="width:10%">SỐ GIỜ</td>
                    <td class="center" style="width:18%">THỜI LƯỢNG </td>
                    <td class="center" style="width:25%">NGÀY HỌC </td>
                    <td class="center">GIỜ HỌC </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="center middle">TKB 1</td>
                    <td class="center middle">100</td>
                    <td class="center middle">17 Tuần</td>
                    <td class="center middle">Thứ 7 - Chủ nhật</td>
                    <td style="text-align: right">08.00 AM - 11.15 AM<br />hoặc 01.30 PM - 04.45 PM</td>
                </tr>
                <tr>
                    <td class="center middle">TKB 2</td>
                    <td class="center middle">50</td>
                    <td class="center middle">8 Tuần + 1 ngày</td>
                    <td class="center middle">Thứ 7 - Chủ nhật</td>
                    <td style="text-align: right">08.00 AM - 11.15 AM<br />hoặc 01.30 PM - 04.45 PM</td>
                </tr>
                <tr>
                    <td class="center middle">TKB 3</td>
                    <td class="center middle">50</td>
                    <td class="center middle">17 Tuần</td>
                    <td class="center middle">Thứ 7</td>
                    <td style="text-align: right">08.00 AM - 11.15 AM<br />hoặc 01.30 PM - 04.45 PM</td>
                </tr>
                <tr>
                    <td class="center middle">TKB 4</td>
                    <td class="center middle">50</td>
                    <td class="center middle">17 Tuần</td>
                    <td class="center middle">Chủ nhật</td>
                    <td style="text-align:right">08.00 AM - 11.15 AM<br />hoặc 01.30 PM - 04.45 PM</td>
                </tr>

            </tbody>
        </table>



    </div>
    <div class="tab-pane fade" id="ha-noi-fs">
        <h4 class="center title">THỜI KHOÁ BIỂU</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td class="center">THỜI KHOÁ BIỂU </td>
                    <td class="center">THỜI LƯỢNG </td>
                    <td class="center">NGÀY HỌC </td>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="center middle">Áp dụng trong mùa hè<br />TKB1</td>
                    <td class="center middle">8 tuần: 4 giờ/buổi x 3 buổi/tuần </td>
                    <td class="center middle">Chiều thứ 2-4-6 hoặc 3-5-7</td>

                </tr>
                <tr>
                    <td class="center middle">Áp dụng trong năm học <br />TKB2<br />TKB3<br />TKB4</td>
                    <td class="center middle"><br />8 tuần: 3 giờ/buổi x 2 buổi/tuần<br />17 tuần: 3 giờ/buổi x 1 buổi/tuần<br />   17 tuần: 3giờ/buổi x 1 buổi/tuần </td>
                    <td class="center middle"><br />Thứ Bảy – Chủ Nhật<br />Chiều thứ Bảy<br />Sáng hoặc chiều Chủ Nhật</td>

                </tr>

            </tbody>
        </table>
    </div>
</div>
<div class="couse_title">LỊCH KHAI GIẢNG </div>
<div class="couse_content" style="padding-right:16px">
    <div class="year_title">
        <i class="fa fa-angle-left"></i>
        <span>NĂM HỌC 2015</span>
        <i class="fa fa-angle-right"></i>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td class="center middle">CÁC KHOÁ</td>
                <td class="center middle">NGÀY KHAI GIẢNG</td>
                <td class="center middle"> NGÀY KẾT THÚC</td>
                <td class="center middle">GHI CHÚ</td>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td class="center middle"> KHOÁ 1</td>
                <td class="center middle"> 10/01/2015</td>
                <td class="center middle"> 23/05/2015</td>
                <td>
                    - Khóa học mùa tựu trường 100 giờ, học viên có thể nhập học trễ 20 giờ.
                    <br />
                    - Khóa học mùa tựu trường 50 giờ, học viên có thể nhập học trễ 10 giờ.
                </td>
            </tr>
            <tr>
                <td class="center middle" rowspan="2"> KHOÁ 2</td>
                <td class="center middle"> 06/06/2015</td>
                <td class="center middle"> 25/07/2015</td>
                <td>Khóa học mùa hè 50 giờ, học viên có thể nhập học trễ 10 giờ</td>
            </tr>

            <tr>
                <td class="center middle"> 01/06/2015</td>
                <td class="center middle"> 25/07/2015</td>
                <td>Khóa học mùa hè 100 giờ, học viên có thể nhập học trễ 20 giờ</td>
            </tr>

            <tr>
                <td class="center middle"> KHOÁ 3</td>
                <td class="center middle"> 22/08/2015</td>
                <td class="center middle"> 12/12/2015</td>
                <td>
                    - Khóa học mùa tựu trường 100 giờ, học viên có thể nhập học trễ 20 giờ.
                    <br /> - Khóa học mùa tựu trường 50 giờ, học viên có thể nhập học trễ 10 giờ.
                </td>
            </tr>
        </tbody>
    </table>
</div>
