﻿<div class="couse_title tkb">THỜI KHOÁ BIỂU </div>
<div class="col-sm-12 no-padding" style="margin-right:16px;padding-right:16px">
    <ul class="nav nav-tabs tintuc_nav">
        <li class="active"><a href="#ho-chi-minh-ie" class="tphcm" data-toggle="tab" style="z-index:4">TP. HỒ CHÍ MINH</a></li>
        <li><a href="#ha-noi-ie" data-toggle="tab" style="z-index:3; margin-left:-38px;">HÀ NỘI</a></li>
    </ul>
</div>

<div class="tab-content couse_content">
    <div class="tab-pane fade in active" id="ho-chi-minh-ie">
        <h4 class=" title">IELTS Express</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td class="center" style="width:25%">NGÀY HỌC </td>
                    <td class="center" style="width:40%">BUỔI </td>
                    <td class="center">GIỜ HỌC </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="center middle"> Từ thứ Hai đến thứ Sáu</td>
                    <td class="center middle"> 2.5 giờ/buổi x 5 buổi/tuần x 2 tuần</td>
                    <td class="middle" style="text-align:right;padding-right:5%;"> 06:15 PM - 08:45 PM</td>
                </tr>

            </tbody>
        </table>
        <h4 class=" title">IELTS Plus </h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td class="center" style="width:24%">NGÀY HỌC </td>
                    <td class="center" style="width:40%">BUỔI </td>
                    <td class="center">GIỜ HỌC </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="center middle"> Từ thứ Hai đến thứ Sáu</td>
                    <td class="center middle"> 2 giờ/buổi x 5 buổi/tuần x 5 tuần</td>
                    <td class="middle" style="text-align: right; padding-right: 5%;">
                        07.45 AM - 09.45 AM<br />
                        10.00 AM - 12.00 PM<br />
                        01.15 PM - 03.15 PM<br />
                        03.30 PM - 05.30 PM<br />
                        06.15 PM - 08.15 PM
                    </td>
                </tr>
                <tr>
                    <td class="center middle"> Thứ Ba & Thứ Năm</td>
                    <td class="center middle"> 2,5 giờ/buổi x 5 buổi/tuần x 10 tuần (LVS)</td>
                    <td class="middle" style="text-align: right; padding-right: 5%;"> 06.15 PM - 08.45 PM<br />hoặc 06.30 PM - 09.00 PM</td>
                </tr>
                <tr>
                    <td class="center middle"> Thứ Hai, Tư, Sáu hoặc <br /> Thứ Ba, Năm, Bảy</td>
                    <td class="center middle">  3 giờ 20 phút/buổi x 3 buổi/tuần x 5 tuần</td>
                    <td class="middle" style="text-align: right; padding-right: 5%;"> 08.00 AM - 11.40 AM<br />hoặc 01.20 PM - 05.00 PM</td>
                </tr>
                <tr>
                    <td class="center middle"> Thứ Bảy và Chủ Nhật</td>
                    <td class="center middle"> 5 giờ/buổi x 2 buổi/tuần x 5 tuần (LVS & NTN)</td>
                    <td class="middle" style="text-align: right; padding-right: 5%;"> 08.50 AM - 12.00 PM<br />và 01.00 PM - 03.00 PM</td>
                </tr>
                <tr>
                    <td class="center middle"> Thứ Bảy hoặc Chủ Nhật</td>
                    <td class="center middle"> 5 giờ/buổi  x 1 buổi/tuần x 10 tuần (LVS & NTN)</td>
                    <td class="middle" style="text-align: right; padding-right: 5%;"> 08.50 AM - 12.00 PM<br />và 01.00 PM - 03.00 PM</td>
                </tr>

            </tbody>
        </table>
        <h4 class=" title">IELTS PRO </h4>
        <h5 class="center title">THỜI KHÓA BIỂU TRONG TUẦN</h5>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td class="center " colspan="2" style="width:24%">THỜI LƯỢNG </td>
                    <td class="center " style="width:30%">NGÀY HỌC </td>
                    <td class="center " style="width:10%">BUỔI </td>
                    <td class="center ">GIỜ HỌC </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="center middle" rowspan="2">Toàn thời gian</td>
                    <td class="center middle" rowspan="2">5 tuần</td>
                    <td class="center middle" rowspan="2"> Từ thứ 2 đến thứ 6</td>
                    <td class="center middle"> Sáng </td>
                    <td class="middle" style="text-align:right; padding-right:5%;"> 07.45 AM - 12.00 PM</td>
                </tr>
                <tr>

                    <td class="center middle"> Chiều</td>
                    <td class="middle" style="text-align:right; padding-right:5%;"> 01.00 PM - 05.15 PM</td>
                </tr>
                <tr>
                    <td class="center middle" rowspan="4">Bán thời gian</td>
                    <td class="center middle" rowspan="3">10 tuần</td>
                    <td class="center middle" rowspan="3"> Từ thứ 2 đến thứ 6</td>
                    <td class="center middle"> Sáng </td>
                    <td class="middle" style="text-align:right; padding-right:5%;"> 07.45 AM - 09.45 AM<br /> hoặc 10.00 AM - 12.00 PM</td>
                </tr>
                <tr>
                    <td class="center middle"> Chiều</td>
                    <td class="middle" style="text-align:right; padding-right:5%;">01.00 PM - 03.00 PM<br /> hoặc 03.15 PM - 05.15 PM</td>
                </tr>
                <tr>
                    <td class="center middle"> Tối</td>
                    <td class="middle" style="text-align:right; padding-right:5%;"> 06.15 PM - 08.15 PM<br /> hoặc 06.30 PM - 08.30 PM<br />  hoặc 07.00 PM - 09.00 PM</td>
                </tr>
                <tr>
                    <td class="center middle">15 tuần</td>
                    <td class="center middle"> Từ thứ Hai đến thứ Sáu</td>
                    <td class="center middle">Tối</td>
                    <td class="middle" style="text-align:right; padding-right:5%;"> 05.15 PM - 06.35 PM</td>
                </tr>
                <tr>
                    <td class="center middle" rowspan="5">Lớp cách ngày</td>
                    <td class="center middle" rowspan="2">10 tuần</td>
                    <td class="center middle" rowspan="2"> Hai - Tư - Sáu hoặc<br /> Ba - Năm - Bảy</td>
                    <td class="center middle"> Sáng </td>
                    <td class="middle" style="text-align:right; padding-right:5%;"> 08.00 AM - 11.35 AM</td>
                </tr>
                <tr>
                    <td class="center middle">  Chiều</td>
                    <td class="middle" style="text-align:right; padding-right:5%;"> 01.00 PM - 04.35 PM</td>
                </tr>
                <tr>
                    <td class="center middle" rowspan="3">15 tuần <br /> (áp dụng tại<br /> 226 Lê Văn Sỹ) </td>
                    <td class="center middle" rowspan="3"> Hai - Tư - Sáu hoặc<br /> Ba - Năm - Bảy</td>
                    <td class="center middle"> Sáng </td>
                    <td class="middle" style="text-align:right; padding-right:5%;"> 08.00 AM - 10.35 AM</td>
                </tr>
                <tr>
                    <td class="center middle">  Chiều </td>
                    <td class="middle" style="text-align:right; padding-right:5%;">01.00 PM - 03.35 PM</td>
                </tr>
                <tr>
                    <td class="center middle"> Tối</td>
                    <td class="middle" style="text-align:right; padding-right:5%;">06.15 PM - 08.30 PM<br />hoặc 06.30 PM - 08.45 PM</td>
                </tr>
            </tbody>
        </table>
        <h5 class="center title">THỜI KHÓA BIỂU CUỐI TUẦN</h5>
        <p class="center">(chỉ áp dụng tại 226 Lê Văn Sỹ và 63 Ngô Thời Nhiệm.)</p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td class="center " style="width:24%;">THỜI LƯỢNG </td>
                    <td class="center " style="width:40%;">NGÀY HỌC </td>
                    <td class="center ">GIỜ HỌC </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="center middle">10 tuần</td>
                    <td class="center middle"> Thứ Bảy và Chủ Nhật</td>

                    <td class="middle" style="text-align:right; padding-right:5%;"> 08.45 AM - 12.00 PM<br />  và  01.00 PM - 03.00 PM</td>
                </tr>
                <tr>
                    <td class="center middle">15 tuần</td>
                    <td class="center middle"> Thứ Bảy và Chủ Nhật</td>
                    <td class="middle" style="text-align:right; padding-right:5%;"> 08.25 AM – 12.00 PM<br /> hoặc 01.00 PM –  04.35 PM</td>
                </tr>
                <tr>
                    <td class="center middle">15 tuần</td>
                    <td class="center middle"> Thứ Bảy hoặc Chủ Nhật</td>
                    <td class="middle" style="text-align:right; padding-right:5%;"> 08.25 AM – 12.00 PM<br /> và 01.00 PM –  04.35 PM</td>
                </tr>
                <tr>
                    <td class="center middle">20 tuần</td>
                    <td class="center middle"> Thứ Bảy hoặc Chủ Nhật</td>
                    <td class="middle" style="text-align:right; padding-right:5%;"> 08.45 AM - 12.00 PM<br />  và  01.00 PM - 03.00 PM</td>
                </tr>
                <tr>
                    <td class="center middle">25 tuần</td>
                    <td class="center middle"> Thứ Bảy hoặc Chủ Nhật</td>
                    <td class="middle" style="text-align:right; padding-right:5%;"> 07.45 AM - 12.00 AM<br />  hoặc  01.00 PM - 05.15 PM</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="ha-noi-ie">
        <h4 class=" title">IELTS Express</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td class="center ">THỜI LƯỢNG </td>
                    <td class="center ">NGÀY HỌC </td>
                    <td class="center ">BUỔI </td>
                    <td class="center ">GIỜ HỌC </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="center middle">25 giờ</td>
                    <td class="center middle"> Từ thứ Hai đến thứ Sáu</td>
                    <td class="center middle"> 2.5 giờ/buổi x 5 buổi/tuần x 2 tuần</td>
                    <td class="center middle"> 06.15 PM - 08.45 PM</td>
                </tr>

            </tbody>
        </table>
        <h4 class=" title">IELTS Plus  </h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td class="center ">THỜI LƯỢNG </td>
                    <td class="center ">NGÀY HỌC </td>
                    <td class="center ">BUỔI </td>
                    <td class="center ">GIỜ HỌC </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="center middle">50 giờ</td>
                    <td class="center middle"> Từ thứ Hai đến thứ Sáu</td>
                    <td class="center middle"> 2 giờ/buổi x 5 buổi/tuần x 5 tuần</td>
                    <td class="center middle"> 06.15 PM - 08.15 PM</td>
                </tr>

            </tbody>
        </table>
        <h4 class=" title">IELTS Pro  </h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td class="center ">THỜI LƯỢNG </td>
                    <td class="center ">NGÀY HỌC </td>
                    <td class="center ">BUỔI </td>
                    <td class="center ">GIỜ HỌC </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="center middle" rowspan="2">Toàn thời gian – 5 tuần</td>
                    <td class="center middle" rowspan="2"> Từ thứ 2 đến thứ 6</td>
                    <td class="center middle">Sáng</td>
                    <td class="center middle"> 07.45 AM – 12.00 PM</td>
                </tr>
                <tr>
                    <td class="center middle">Chiều</td>
                    <td class="center middle"> 01.00 PM – 05.15 PM</td>
                </tr>
                <tr>
                    <td class="center middle">Bán thời gian – 10 tuần</td>
                    <td class="center middle"> Từ thứ 2 đến thứ 6</td>
                    <td class="center middle">Tối</td>
                    <td class="center middle"> 06.15 PM – 08.15 PM</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="couse_title">LỊCH KHAI GIẢNG</div>
<div class="couse_content" style="padding-right:16px">
    <div class="year_title">
        <i class="fa fa-angle-left"></i>
        <span>NĂM HỌC 2015</span>
        <i class="fa fa-angle-right"></i>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td class="center middle">CÁC KHOÁ</td>
                <td class="center middle">NGÀY KHAI GIẢNG</td>
                <td class="center middle"> NGÀY KẾT THÚC</td>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td class="center middle"> KHOÁ 1</td>
                <td class="center middle"> 26/01/2015</td>
                <td class="center middle"> 13/03/2015</td>
            </tr>
            <tr>
                <td class="center middle"> KHOÁ 2</td>
                <td class="center middle"> 16/03/2015</td>
                <td class="center middle"> 17/04/2015</td>
            </tr>

            <tr>
                <td class="center middle"> KHOÁ 3</td>
                <td class="center middle"> 20/04/2015</td>
                <td class="center middle"> 29/05/2015</td>
            </tr>

            <tr>
                <td class="center middle"> KHOÁ 4</td>
                <td class="center middle"> 01/06/2015</td>
                <td class="center middle"> 03/07/2015</td>
            </tr>

            <tr>
                <td class="center middle"> KHOÁ 5</td>
                <td class="center middle"> 06/07/2015</td>
                <td class="center middle"> 07/08/2015</td>
            </tr>

            <tr>
                <td class="center middle"> KHOÁ 6</td>
                <td class="center middle"> 10/08/2015</td>
                <td class="center middle"> 11/09/2015</td>
            </tr>

            <tr>
                <td class="center middle"> KHOÁ 7</td>
                <td class="center middle"> 10/08/2015</td>
                <td class="center middle"> 11/09/2015</td>
            </tr>

            <tr>
                <td class="center middle"> KHOÁ 8</td>
                <td class="center middle"> 19/10/2015</td>
                <td class="center middle"> 20/11/2015</td>
            </tr>

            <tr>
                <td class="center middle"> KHOÁ 9</td>
                <td class="center middle"> 23/11/2015</td>
                <td class="center middle"> 24/12/2015</td>
            </tr>

            <tr>
                <td class="center middle"> KHOÁ 10</td>
                <td class="center middle"> 28/12/2015</td>
                <td class="center middle"> 29/01/2016</td>
            </tr>

        </tbody>
    </table>
</div>
