﻿@{
    ViewBag.Title = "Error 404 ";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@section AddToHeadCss{
    <style type="text/css">
    </style>
}
@section AddToEndBodyJs{
    <script type="text/javascript">
    </script>
}
<!-- Home Slider -->
<div class="home-slider">
    <!-- Carousel -->
    <div id="home-slider" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#home-slider" data-slide-to="0" class="active"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <!-- Slide #1 -->
            <div class="item active" id="item-1">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 hide">
                            <h3 class="animated slideInDown delay-3">ACET DISCOUNT 15% FOR NEW FIRST STEPS CLASS</h3>

                            <a href="#" class="btn btn-lg btn-red animated fadeInUpBig delay-5">Register Now</a>
                        </div>
                        <div class="col-sm-6 hidden-xs hide">
                            <img class="img-responsive" src="/home/img/tintuc_banner.jpg" alt="...">
                        </div>
                    </div> <!-- / .row -->
                </div> <!-- / .container -->
            </div> <!-- / .item -->
            <!-- Slide #2 -->

        </div> <!-- / .carousel -->
        <!-- Controls -->
        <a class="carousel-arrow carousel-arrow-prev" href="#home-slider" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-arrow carousel-arrow-next" href="#home-slider" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div> <!-- / .home-slider -->
<!-- Services -->
<div class="container">
    <ul class="breakcrumb">
        <li>TRANG CHỦ</li>
        <li>> Error 404</li>
    </ul>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="center">404 Not Found.</h2>

        </div>
    </div>
</div>
@Html.Partial("~/Views/Shared/BottomPage1.cshtml")
@Html.Partial("~/Views/Shared/RightPage.cshtml")