﻿@{
    ViewBag.Breadcrumbs = "Index";
    ViewBag.Title = "Australian Centre for English Training";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@using ExtensionMethods;
<style type="text/css">
    ul.eventsSlider li, ul.promotionSlider li {
        list-style: none;
    }
</style>
<!-- Home Slider -->
@Html.Partial("~/Views/Shared/HomeSlider.cshtml")
<!-- Services -->
<div class="home-services">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h2 class="title">Chào mừng bạn đến với trung tâm anh ngữ ACET</h2>
                <p> Sứ mệnh của ACET là trang bị cho học viên nền tảng tiếng Anh và kỹ năng học thuật vững chắc để có thể học tập thành công khi theo học tại các trường Cao đẳng và Đại học trong và ngoài nước. </p>
            </div>
            <div class="col-sm-12 col-md-12 no-padding">
                <ul>
                    <li>
                        <a href="/first-step.html">
                            <div class="box-item">
                                <img src="/home/img/step_1.jpg" width="100%" />
                                <p class="title">First Steps</p>
                                <p class="space_center">_</p>
                                <p>Chương trình tiếng Anh nền tảng dành cho học sinh Trung học cơ sở.</p>
                            </div>
                            <input class="btn btn-readmore">
                        </a>
                    </li>
                    <li>
                        <a href="/anh-ngu-hoc-thuat.html">
                            <div class="box-item">
                                <img src="/home/img/step_2.jpg" width="100%" />
                                <p class="title">ANH NGỮ HỌC THUẬT</p>
                                <p class="space_center">_</p>
                                <p>Chương trình tiếng Anh nâng cao kỹ năng ngôn ngữ và học thuật toàn diện.</p>
                            </div>
                            <input class="btn btn-readmore">
                        </a>
                    </li>
                    <li>
                        <a href="/luyen-thi-ielts.html">
                            <div class="box-item">
                                <img src="/home/img/step_3.jpg" width="100%" />
                                <p class="title">LUYỆN THI IELTS</p>
                                <p class="space_center">_</p>
                                <p>Chương trình luyện thi IELTS từ 4.0 – 7.0 với thời gian linh hoạt từ 25 – 100 giờ.</p>
                            </div>
                            <input class="btn btn-readmore">
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.idp.com/vietnam/ielts?sc_lang=vi-VN&utm_source=ACET&utm_medium=banner&utm_campaign=ACETwebsite">
                            <div class="box-item">
                                <img src="/home/img/step_4.jpg" width="100%" />
                                <p class="title">ĐĂNG KÝ THI IELTS</p>
                                <p class="space_center">_</p>
                                <p>Bạn muôn đăng ký thi IELTS? Click ngay để đăng ký!<br />&nbsp;</p>

                            </div>
                            <input class="btn btn-readmore">
                        </a>
                    </li>
                </ul>
            </div>

        </div> <!-- / .row -->
    </div> <!-- / .container -->
</div> <!-- / .services -->
<div class="container show_1024">
    <div class="row">
        @Html.Partial("~/Views/Shared/CenterBar.cshtml")
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <a href="/gioi-thieu-trung-tam-anh-ngu-acet.html">
                <div class="col-xs-6 col-md-2">
                    <div class="item-pro center">
                        <img src="/home/img/why_acet.png" />
                        <p style="padding-top: 10px;">TẠI SAO CHỌN ACET?</p>
                    </div>
                </div>
            </a>
            <a href="/chuong-trinh-hop-tac.html">
                <div class="col-xs-6 col-md-2">
                    <div class="item-pro center">
                        <img src="/home/img/service_2.png" />
                        <p style="padding-top: 10px;">CHƯƠNG TRÌNH HỢP TÁC</p>
                    </div>
                </div>
            </a>
            <a href="/Home/UnderConstruction">
                <div class="col-xs-6 col-md-2">
                    <div class="item-pro center">
                        <img src="/home/img/service_3.png" />
                        <p style="padding-top: 10px;">KIỂM TRA TIẾNG ANH</p>
                    </div>
                </div>
            </a>
            <a href="/tin-uu-dai.html">
                <div class="col-xs-6 col-md-2">
                    <div class="item-pro center">
                        <img src="/home/img/service_4.png" />
                        <p style="padding-top: 10px;">KHUYẾN MÃI</p>
                    </div>
                </div>
            </a>
            <a href="/hoc-bong.html">
                <div class="col-xs-6 col-md-2">
                    <div class="item-pro center">
                        <img src="/home/img/service_5.png" />
                        <p style="padding-top: 10px;">HỌC BỔNG</p>
                    </div>
                </div>
            </a>
            <a href="http://www.idp.com/vietnam" target="_blank">
                <div class="col-xs-6 col-md-2">
                    <div class="item-pro center">
                        <img src="/home/img/service_6.png" />
                        <p style="padding-top:10px;">DU HỌC CÙNG IDP</p>
                    </div>
                </div>
            </a>
        </div>
    </div> <!-- / .row -->
</div> <!-- / .container -->
<!-- Browser Showcase -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="title box">Giới thiệu</h2>
            <p>
                <span class="col-sm-12 col-md-5 no-padding">
                    <iframe class="yt_frame" width="100%" height="200" src="https://www.youtube.com/embed/IYJBpLkFKII" frameborder="0" allowfullscreen></iframe>
                </span><span class="col-sm-12 col-md-7 justify no-home-pading-right"> Được thành lập từ năm 2002 tại Hà Nội và Tp. Hồ Chí Minh, ACET là dự án hợp tác giữa Tổ chức Giáo dục IDP (www.vietnam.idp.com) và Học viện Insearch (www.insearch.edu.au), trường Đại học Công nghệ Sydney.<br /><br />ACET giảng dạy các khóa học tiếng Anh được biên soạn và cập nhật bởi Học viện Insearch thuộc Đại học Công nghệ Sydney với định hướng phát triển những kỹ năng ngôn ngữ quan trọng  bao gồm tiếng Anh Tổng quát, tiếng Anh Học thuật và Luyện thi IELTS nhằm giúp học viên có thể sử dụng tiếng Anh một cách tự tin và thành thạo trong môi trường học tập và làm việc. Các khóa học này hiện đang được sử dụng để giảng dạy tại Insearch Sydney và Insearch Thượng Hải.</span>

            </p>
            <a href="/gioi-thieu-trung-tam-anh-ngu-acet.html"><button class="btn btn-red pull-right">Xem thêm ></button></a>
        </div>
    </div> <!-- / .row -->
</div> <!-- / .container -->
<p></p>
<!-- Browser Showcase -->
<div class="container hide">
    <div class="row" style="margin-left: 12px; margin-right: 12px;">
        <div class="col-sm-12 bg_dkh">
            <div class="col-sm-12 col-md-5"></div>
            <div class="col-sm-12 col-md-7">
                <p class="white center" style="  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;">ACET DISCOUNT 15% FOR NEW FIRST STEPS CLASS</p>
                <div id="countdown1"></div>
                <p class="center">
                    <span><input type="email" class="form-control" placeholder="Email" style="width:40%;float:left" /></span><span>
                        <select class="form-control" style="width:40%;float:left;margin-left:10px"><option>Place to study</option></select>
                    </span><span><button class="btn btn-white">Send</button></span>
                </p>
            </div>


        </div>
    </div> <!-- / .row -->
</div> <!-- / .container -->
<p></p>
<!-- Browser Showcase -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="title box">Tin Ưu Đãi</h2>
            <div class="promotionSlider"></div>
            <div class="clearfix"><a href="/tin-uu-dai.html"><button class="btn btn-red pull-right">Xem thêm ></button></a></div>

        </div>
    </div> <!-- / .row -->
</div> <!-- / .container -->
<!-- Browser Showcase -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="title box">SỰ KIỆN NỔI BẬT</h2>
            <div class="eventsSlider"></div>
            <div class="clearfix"><a href="/su-kien.html"><button class="btn btn-red pull-right">Xem thêm ></button></a></div>


        </div>
    </div> <!-- / .row -->
</div> <!-- / .container -->
<p></p>
<div class="container">
    <div class="xs-col-12" style="    margin-right: -3px;
    margin-left: -3px;">
        <img src="/home/img/acet_home_2.jpg" style="width:100%" />
    </div>
</div>
<p></p><p></p>

<!-- Feedback -->
<div class="feedbacks">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <a href="/cau-chuyen-thanh-cong.html"><h2 class="text-center" style="color: red; font-size: 22px; margin-bottom: 5px;">CÂU CHUYỆN THÀNH CÔNG</h2></a>
                <span style="border-top: 4px solid #ff0000;width:5%;display:block;margin:0px auto;">&nbsp;</span>
            </div>
        </div> <!-- / .row -->
        <div class="row">
            <div class="container-fluid">
                <div id="custom_carousel" class="carousel slide" data-ride="carousel" data-interval="false">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" id="testimi">
                        @{var i = 0;}
                        @foreach (var item in (ACET_WEB.Post[])Model)
                        {
                            <div class="item @if(i==0){@Html.Raw("active") }">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-4 no-padding">
                                            <a href="/cau-chuyen-thanh-cong/@{@item.Title.NonUnicode()}_@{@item.Id}.html">  <img src="@item.Image" width="100%" class="img-responsive"></a>
                                        </div>
                                        <div class="col-md-8">
                                            <a href="/cau-chuyen-thanh-cong/@{@item.Title.NonUnicode()}_@{@item.Id}.html">
                                                <h3 class="center" style="font-size:18px;font-weight:700;">HỌC VIÊN ACET <br>@item.Title</h3>
                                                <p>@item.Desc</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                             i++;
                        }
                        <!-- End Item -->
                    </div>
                    <!-- End Carousel Inner -->
                    <div class="controls">
                        <ul class="nav tab1" id="testimi_thim">
                            @{var j = 0;}
                            @foreach (var item in Model)
                            {

                                <li data-target="#custom_carousel" data-slide-to="@j" class="@if(j==0){@Html.Raw("active") }">
                                    <a href="#" style="outline:none">
                                        <div class="hexagon">
                                            <div class="outer">
                                                <div class="inner" style="background: url(@item.Image) center center no-repeat;  background-size: contain;">
                                                    <div class="textWrapper">                         </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                                                                             j++;
                            }
                        </ul>
                    </div>
                    <a href="/cau-chuyen-thanh-cong.html"><button class="btn btn-red pull-right mrtop10">Xem thêm</button></a>
                </div>
                <!-- End Carousel -->
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</div> <!-- / .feedback -->
<!-- Recent Blog Posts -->
<div class="container">
    <div class="row bottom-page">

        <div class="col-sm-4">
            <div class="fb-page" style=" border: 1px solid red;padding:0 1px 2px 0;" data-href="https://www.facebook.com/acetvn" data-height="260" data-width="100%" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/acetvn"><a href="https://www.facebook.com/acetvn">ACET</a></blockquote></div></div>

        </div>
        @Html.Partial("~/Views/Shared/ResourceDocument.cshtml")
        <div class="col-sm-4">
            <div class="couse_title center" style="font-size:18px;margin-right:0px;">ĐĂNG KÝ ĐỂ ĐƯỢC TƯ VẤN</div>
            <div style="padding: 10px 12px 0px 12px; margin: -12px 0px 0px 0px; border: 1px solid red;min-height:230px;">
                <iframe frameborder="0" width="100%" height="200" src="http://www.cjs.vn/subscribe/96a4999dd571c9080d16dd6895beb564/" id="cjsform" scrolling="no" seamless="seamless"></iframe>
                <script src="http://static.cjs.vn/js/form/source.js"></script>
            </div>
            @*<form>
                    <div class="col-sm-6 padding-10">  <input class="form-control" placeholder="Họ tên" /> </div>
                    <div class="col-sm-6 padding-10"><input class="form-control" placeholder="Số điện thoại" /></div>
                    <div class="col-sm-6 padding-10"><input class="form-control" placeholder="Email" /></div>
                    <div class="col-sm-6 padding-10"><select class="form-control"><option>Chọn khu vực</option></select></div>
                    <div class="col-sm-12 padding-10"><textarea class="form-control" placeholder="Message"></textarea></div>
                    <button class="btn btn-red pull-right">Gửi thông tin</button>
                    <div class="clearfix"></div>
                </form>*@
        </div>
    </div> <!-- / .row -->
</div> <!-- / .container -->
@Html.Partial("~/Views/Shared/RightHome.cshtml")

@section AddToHeadCss{
    <style type="text/css">
        .show_1024 {
            margin-top: -20px;
        }
    </style>
}
@section AddToEndBodyJs{
    <script type="text/javascript">

        function list_event_news() {
            $.get('/api/articles/', { cus_type: 3, limit: 2, offset: 0 }).done(function (rs) {
                var htmlstr = '';

                if (rs.data.length > 0) {
                    $.each(rs.data, function (i, j) {
                        if(i%2==0){
                            tclass="even";
                        }else{
                            tclass="odd"
                        }
                        htmlstr += '<div class="col-sm-12 col-md-6 item-post no-padding '+tclass+'">';
                        htmlstr += '<a class="" href="/' + j[5] + '_' + j[0] + '.html">'
                        htmlstr += '  <div class="col-sm-5 col-md-5 no-padding">';
                        htmlstr += '     <img src="' + j[3] + '" width="100%" />';
                        htmlstr += ' </div>';
                        htmlstr += ' <div class="col-sm-7 col-md-7 ellipsis"><div>';
                        htmlstr += '     <p class="title">' + j[1] + '</p>';
                        htmlstr += '     <p>' + j[2] + ' </p>';
                        htmlstr += ' </div></div> </a> </div>';


                    })
                    $('div.eventsSlider').html(htmlstr);
                    /* $('.eventsSlider').bxSlider({
                        pager: false,
                        nextSelector: '#eslider-next',
                        prevSelector: '#eslider-prev',
                        nextText: '<img src="/home/img/arrow_r.png" />',
                        prevText: '<img src="/home/img/arrow_l.png" />'
                    });
                    */
                }
            });
        }
        function list_promotion_news() {
            $.get('/api/articles/', { cus_type: 2, limit: 4, offset: 0 }).done(function (rs) {
                var htmlstr = '';
                console.log(rs.data);
                if (rs.data.length > 0) {
                    $.each(rs.data, function (i, j) {
                        if(i%2==0){
                            tclass="even";
                        }else{
                            tclass="odd"
                        }

                        htmlstr += ' <div class="col-sm-12 col-md-6 no-padding item-post '+tclass+'">';
                        htmlstr += ' <a class="" href="/' + j[5] + '_' + j[0] + '.html">';
                        htmlstr += '     <div class="col-sm-4 col-md-4 no-padding">';
                        htmlstr += '         <img src="' + j[3] + '" width="100%" />';
                        htmlstr += '     </div>';
                        htmlstr += '     <div class="col-sm-8 col-md-8 ellipsis "><div>';
                        htmlstr += '          <p class="title">' + j[1] + '</p>';
                        htmlstr += '         <p>' + j[2] + ' </p>';
                        htmlstr += '     </div></div>  </a>  </div>';

                    })
                    $('div.promotionSlider').html(htmlstr);
                    /*$('.promotionSlider').bxSlider({
                        pager: false,
                        nextSelector: '#slider-next',
                        prevSelector: '#slider-prev',
                        nextText: '<img src="/home/img/arrow_r.png" />',
                        prevText: '<img src="/home/img/arrow_l.png" />'
                    });*/
                }
            });
        }


        list_promotion_news();
        list_event_news();
    </script>
    <script type="text/javascript" src="/home/js/jssor.js"></script>
    <script type="text/javascript" src="/home/js/jssor.slider.js"></script>
    <script>
        jQuery(document).ready(function ($) {

            var _CaptionTransitions = [];
            _CaptionTransitions["L"] = { $Duration: 900, x: 0.6, $Easing: { $Left: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["R"] = { $Duration: 900, x: -0.6, $Easing: { $Left: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["T"] = { $Duration: 900, y: 0.6, $Easing: { $Top: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["B"] = { $Duration: 900, y: -0.6, $Easing: { $Top: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["ZMF|10"] = { $Duration: 900, $Zoom: 11, $Easing: { $Zoom: $JssorEasing$.$EaseOutQuad, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 };
            _CaptionTransitions["RTT|10"] = { $Duration: 900, $Zoom: 11, $Rotate: 1, $Easing: { $Zoom: $JssorEasing$.$EaseOutQuad, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInExpo }, $Opacity: 2, $Round: { $Rotate: 0.8 } };
            _CaptionTransitions["RTT|2"] = { $Duration: 900, $Zoom: 3, $Rotate: 1, $Easing: { $Zoom: $JssorEasing$.$EaseInQuad, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInQuad }, $Opacity: 2, $Round: { $Rotate: 0.5 } };
            _CaptionTransitions["RTTL|BR"] = { $Duration: 900, x: -0.6, y: -0.6, $Zoom: 11, $Rotate: 1, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Top: $JssorEasing$.$EaseInCubic, $Zoom: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInCubic }, $Opacity: 2, $Round: { $Rotate: 0.8 } };
            _CaptionTransitions["CLIP|LR"] = { $Duration: 900, $Clip: 15, $Easing: { $Clip: $JssorEasing$.$EaseInOutCubic }, $Opacity: 2 };
            _CaptionTransitions["MCLIP|L"] = { $Duration: 900, $Clip: 1, $Move: true, $Easing: { $Clip: $JssorEasing$.$EaseInOutCubic } };
            _CaptionTransitions["MCLIP|R"] = { $Duration: 900, $Clip: 2, $Move: true, $Easing: { $Clip: $JssorEasing$.$EaseInOutCubic } };

            var options = {
                $HWA: false,
                $FillMode: 2,                                       //[Optional] The way to fill image in slide, 0 stretch, 1 contain (keep aspect ratio and put all inside slide), 2 cover (keep aspect ratio and cover whole slide), 4 actual size, 5 contain for large image, actual size for small image, default value is 0
                $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlayInterval: 4000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $PauseOnHover: 1,                                   //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

                $ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                $SlideEasing: $JssorEasing$.$EaseOutQuint,          //[Optional] Specifies easing for right to left animation, default value is $JssorEasing$.$EaseOutQuad
                $SlideDuration: 800,                               //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
                //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
                //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
                $SlideSpacing: 0, 					                //[Optional] Space between each slide in pixels, default value is 0
                $DisplayPieces: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
                $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
                $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
                $DragOrientation: 1,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)

                $CaptionSliderOptions: {                            //[Optional] Options which specifies how to animate caption
                    $Class: $JssorCaptionSlider$,                   //[Required] Class to create instance to animate caption
                    $CaptionTransitions: _CaptionTransitions,       //[Required] An array of caption transitions to play caption, see caption transition section at jssor slideshow transition builder
                    $PlayInMode: 1,                                 //[Optional] 0 None (no play), 1 Chain (goes after main slide), 3 Chain Flatten (goes after main slide and flatten all caption animations), default value is 1
                    $PlayOutMode: 3                                 //[Optional] 0 None (no play), 1 Chain (goes before main slide), 3 Chain Flatten (goes before main slide and flatten all caption animations), default value is 1
                },

                $BulletNavigatorOptions: {                          //[Optional] Options to specify and enable navigator or not
                    $Class: $JssorBulletNavigator$,                 //[Required] Class to create navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 1,                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                    $Lanes: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
                    $SpacingX: 8,                                   //[Optional] Horizontal space between each item in pixel, default value is 0
                    $SpacingY: 8,                                   //[Optional] Vertical space between each item in pixel, default value is 0
                    $Orientation: 1                                 //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
                },

                $ArrowNavigatorOptions: {                           //[Optional] Options to specify and enable arrow navigator or not
                    $Class: $JssorArrowNavigator$,                  //[Requried] Class to create arrow navigator instance
                    $ChanceToShow: 1,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 2,                                 //[Optional] Auto center arrows in parent container, 0 No, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1                                       //[Optional] Steps to go for each navigation request, default value is 1
                }
            };
            if ($(window).width() > 768) {
                var jssor_slider1 = new $JssorSlider$("slider1_container", options);

            } else {
                var jssor_slider2 = new $JssorSlider$("slider2_container", options);
            }
           // 
            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizes
            function ScaleSlider() {
                var bodyWidth = document.body.clientWidth;
                if (bodyWidth) {
                    if ($(window).width() > 768) {
                        jssor_slider1.$ScaleWidth(Math.min(bodyWidth, 1920));
                    } else {
                        jssor_slider2.$ScaleWidth(Math.min(bodyWidth, 768));
                    }
                    
                  //  jssor_slider2.$ScaleWidth(Math.min(bodyWidth, 1920));
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }
            ScaleSlider();

            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });
    </script>
}
</div>
<div class="wrapper2">
    <div class="container center doitac">
        <img title="Australian Centre for Education And Training - ACET" src="/Uploads/doitac/logo.png" />
        <img title="IDP" src="/Uploads/doitac/idp_logo.png" />
        <img title="INSERT" src="/Uploads/doitac/insert_logo.png" />
        @* <img title="NEAS" src="/Uploads/doitac/neas_logo.png" /> *@
    </div>

