﻿@{
    ViewBag.Title = "Test Online - Australian Centre for Education And Training";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@section AddToHeadCss{
    <style type="text/css">
    .error {
        color: red;
        font-weight: normal;
    }
    </style>
}
@section AddToEndBodyJs{
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.validation/1.14.0/jquery.validate.min.js"></script>
   <script type="text/javascript">
    var rs = '{"draw":1,"data":[[["1","test"],["very","A"],["really","B"],["most","C"],["best","D"]],[["1","test"],["come","A"],["go","B"],["visit","C"],["travel","D"]],[["1","test"],["won","A"],["had won","B"],["wins","C"],["has won","D"]],[["1","test"],["see","A"],["watch","B"],["know","C"],["look","D"]],[["1","test"],["in","A"],["at","B"],["on","C"],["for","D"]],[["1","test"],["took","A"],["takes","B"],["taken","C"],["has taken","D"]],[["1","test"],["by","A"],["for","B"],["on","C"],["to","D"]],[["1","test"],["However","A"],["Even though","B"],["Even","C"],["Despite","D"]],[["1","test"],["gives","A"],["puts on","B"],["makes","C"],["entertains","D"]],[["1","test"],[null,"A"],["can","B"],["could","C"],["should","D"]]],"groupQuestion":"<h3>The Sydney Opera House</h3><p>The Sydney Opera House is a very beautiful and important building in Australia.  It is one of the ${question_1}  famous places in the country and millions of people ${question_2} the opera house each year.  Since it opened in 1973, it ${question_3}  many prizes for its design.  It is amazing to ${question_4} its bright white walls above the blue water of Sydney Harbour.  Many people think it shows how clever and creative Australians can be.</p><h3>Then and now</h3><p>The construction of the Sydney Opera House was not quick.  Building started ${question_5}  2 March 1959 and it ${question_6} many years to finish.  Engineers spent over 4 years ${question_7} the roof, but it was finally complete in 1973.  ${question_8} many Australians were upset by the cost and delays of the project, they were extremely happy about the final design.Today the Sydney Opera House ${question_9} thousands of shows every year.  It is a cultural centre where people ${question_10} enjoy concerts, plays, ballet and of course, the opera.  Even people who do not enjoy the performing arts, love to come and admire its unique design.</p>"}';

    answer_option = [[{ 'value': 'A', 'text': 'very' }, { 'value': 'B', 'text': 'really' }, { 'value': 'C', 'text': 'most' }, { 'value': 'D', 'text': 'best' }], [{ 'value': 'A', 'text': 'come' }, { 'value': 'B', 'text': 'go' }, { 'value': 'C', 'text': 'visit' }, { 'value': 'D', 'text': 'travel' }], [{ 'value': 'A', 'text': 'won' }, { 'value': 'B', 'text': 'had won' }, { 'value': 'C', 'text': 'wins' }, { 'value': 'D', 'text': 'has won' }], [{ 'value': 'A', 'text': 'see' }, { 'value': 'B', 'text': 'watch' }, { 'value': 'C', 'text': 'know' }, { 'value': 'D', 'text': 'look' }], [{ 'value': 'A', 'text': 'in' }, { 'value': 'B', 'text': 'at' }, { 'value': 'C', 'text': 'on' }, { 'value': 'D', 'text': 'for' }], [{ 'value': 'A', 'text': 'took' }, { 'value': 'B', 'text': 'takes' }, { 'value': 'C', 'text': 'taken' }, { 'value': 'D', 'text': 'has taken' }], [{ 'value': 'A', 'text': 'by' }, { 'value': 'B', 'text': 'for' }, { 'value': 'C', 'text': 'on' }, { 'value': 'D', 'text': 'to' }], [{ 'value': 'A', 'text': 'However' }, { 'value': 'B', 'text': 'Even though' }, { 'value': 'C', 'text': 'Even' }, { 'value': 'D', 'text': 'Despite' }], [{ 'value': 'A', 'text': 'gives' }, { 'value': 'B', 'text': 'puts on' }, { 'value': 'C', 'text': 'makes' }, { 'value': 'D', 'text': 'entertains' }], [{ 'value': 'A', 'would': 'very' }, { 'value': 'B', 'text': 'can' }, { 'value': 'C', 'text': 'could' }, { 'value': 'D', 'text': 'should' }]];

    rs_obj = JSON.parse(rs);

    function build_test_page() {
        $("#question_group_2").addClass('hide');
        $("#question_group_1").removeClass('hide');
        var htmlss = rs_obj.groupQuestion;
         rs_obj = JSON.parse(rs);
        $.each(rs_obj.data, function (i, j) {
            htmlss = htmlss.replace("${question_" + (i + 1) + "}", build_answer_option(i + 1, j));
        });

        $('#answer_text').html(htmlss);
    }
    function build_answer_option(id, answer_option) {
        
        answer_text_obj = $("#selection_anwser").clone();
        answer_text_obj.find("select").attr("id", "answer_option_" + id);
        answer_text_obj.find("select").attr("question-data", answer_option[0][0]);
        str = "<option>Answer</option>";
        answer_option.shift()
        $.each(answer_option, function (i, j) {
            str += "<option value='" + j[1] + "'>" + j[0] + "</option>";
        });
        answer_text_obj.find("select").html(str);
        return answer_text_obj.html();
    }

    function build_test_page1125() {
           var a = [[[1, "11. To get to the hospital, go straight on ${question} the end of the street and then turn right."], ["before", "A"], ["at", "B"], ["until", "C"], ["by", "D"]], [[1, "12. My father intends ${question} a new car this year."], ["buying", "A"], ["to buy", "B"], ["for buying", "C"], ["about buying", "D"]], [[1, "13. I’m not sure, but it ${question} rain later."], ["can", "A"], ["could", "B"], ["should", "C"], ["will", "D"]], [[1, "14. Mary looks up ${question} her sister because her sister is so kind."], ["at", "A"], ["to", "B"], ["for", "C"], ["with", "D"]], [[1, "15. Sometimes it is difficult for children to ${question} their shoes, so their parents need to help them before they go out."], ["put on", "A"], ["get dressed", "B"], ["carry", "C"], ["wear", "D"]], [[1, "16. Let’s consider ${question} swimming for the next social event."], ["to go", "A"], ["going", "B"], ["for going", "C"], ["about going", "D"]], [[1, "17. In Vietnam, you can read ${question} news about the national football team."], ["many", "A"], ["a", "B"], ["much", "C"], ["a lot of", "D"]], [[1, "18   The new laws should help families save money so that all citizens have ${question} future."], ["a prosperous", "A"], ["an upscale", "B"], ["a generous", "C"], ["an affluent", "D"]], [[1, "19. We must be careful to reduce pollution, or it will ${question} our environment dramatically."], ["affect to", "A"], ["affect on", "B"], ["affect for", "C"], ["affect", "D"]], [[1, "20 . You should never ${question} a lie to your mother."], ["say", "A"], ["speak", "B"], ["tell", "C"], ["talk", "D"]], [[1, "21. Exhibits in the museum have items which date ${question} more than 500 years."], ["back", "A"], ["from", "B"], ["to", "C"], ["around", "D"]], [[1, "22. I don’t think Lucy was treated fairly.  It seems like she really got a ${question} deal."], ["wrong", "A"], ["raw", "B"], ["stick", "C"], ["bias", "D"]], [[1, "23. You can listen to the radio, but please turn it ${question} so I can study."], ["down", "A"], ["off", "B"], ["up", "C"], ["on", "D"]], [[1, "24. The weather will probably be fine tomorrow, but even ${question} it rains, we can still have a picnic."], ["though", "A"], ["if", "B"], ["when", "C"], ["for", "D"]], [[1, "25. Jim is always ranting and ${question} about things which bother him."], ["roaring", "A"], ["raving", "B"], ["reeling", "C"], ["raring", "D"]]];     
        $("#question_group_1").addClass('hide');
        $("#question_group_2").removeClass('hide');
        htmlss = "";
        $.each(a, function (i, j) {
            htmlss += '<p>';
            htmlss += j[0][1].replace("${question}", build_answer_option(i + 1, j));
            htmlss += '</p>'
        });
        $('#answer_text').html(htmlss);
    }
    build_test_page();
    var user_anser=[];
    $('.btn-next').on('click', function(e){
        user_anser=[];
        for(i=1;i<=10;i++){
            user_anser.push([$('#answer_option_'+i).attr('question-data'),$('#answer_option_'+i).val()]);
        }
        build_test_page1125();
        $(this).addClass('hide');
        $('.btn-prev').removeClass('hide');
        $('.btn-done').removeClass('hide');
    });
    $('.btn-prev').on('click', function(e){
        build_test_page();
        $(this).addClass('hide');
        $('.btn-next').removeClass('hide');
        $('.btn-done').addClass('hide');
    });
    $('.btn-done').on('click', function(e){
        for(i=1;i<=15;i++){
            user_anser.push([$('#answer_option_'+i).attr('question-data'),$('#answer_option_'+i).val()]);
        }
        $('#question_go').addClass('hide');
        $('#question_done').removeClass('hide');
    });
   $("#register_form").validate({
      rules: {
        // simple rule, converted to {required:true}
        input_name: "required",
        // compound rule
        input_email: {
          required: true,
          email: true
        }
      }
    });
    $('.btn-register').on('click', function(e){
        e.preventDefault();
        if(!$('#register_form').valid()){
            return false;
        }
        showLoading();
         $.ajax({
            url: 'https://api.pipedrive.com/v1/persons?api_token=cf04e66aa7a14cc1797ca78f1bf3b3bc71ca00fb',
            type: 'post',
            dataType: 'json',
            success: function (data) {
                $.post('/api/TestOnline/', { name: $('#input_name').val(), email: $('#input_email').val(), phone: $('#input_phone').val(), user_anser: user_anser }).success(function (rs) {
                    $('#register_done').removeClass('hide');
                    $('#question_done').addClass('hide');
                    hideLoading();
                }).fail(function (rs) {
                    hideLoading();
                });
            },
            data: {name:$('#input_name').val(), email:$('#input_email').val(), phone:$('#input_phone').val()}
        });
        return false;
    });
</script>

}
<!-- Home Slider -->
@section cusJs{
    <script type="text/javascript" src="/home/js/jssor.js"></script>
    <script type="text/javascript" src="/home/js/jssor.slider.js"></script>
    <script>
        jQuery(document).ready(function ($) {

            var _CaptionTransitions = [];
            _CaptionTransitions["L"] = { $Duration: 900, x: 0.6, $Easing: { $Left: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["R"] = { $Duration: 900, x: -0.6, $Easing: { $Left: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["T"] = { $Duration: 900, y: 0.6, $Easing: { $Top: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["B"] = { $Duration: 900, y: -0.6, $Easing: { $Top: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["ZMF|10"] = { $Duration: 900, $Zoom: 11, $Easing: { $Zoom: $JssorEasing$.$EaseOutQuad, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 };
            _CaptionTransitions["RTT|10"] = { $Duration: 900, $Zoom: 11, $Rotate: 1, $Easing: { $Zoom: $JssorEasing$.$EaseOutQuad, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInExpo }, $Opacity: 2, $Round: { $Rotate: 0.8 } };
            _CaptionTransitions["RTT|2"] = { $Duration: 900, $Zoom: 3, $Rotate: 1, $Easing: { $Zoom: $JssorEasing$.$EaseInQuad, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInQuad }, $Opacity: 2, $Round: { $Rotate: 0.5 } };
            _CaptionTransitions["RTTL|BR"] = { $Duration: 900, x: -0.6, y: -0.6, $Zoom: 11, $Rotate: 1, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Top: $JssorEasing$.$EaseInCubic, $Zoom: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInCubic }, $Opacity: 2, $Round: { $Rotate: 0.8 } };
            _CaptionTransitions["CLIP|LR"] = { $Duration: 900, $Clip: 15, $Easing: { $Clip: $JssorEasing$.$EaseInOutCubic }, $Opacity: 2 };
            _CaptionTransitions["MCLIP|L"] = { $Duration: 900, $Clip: 1, $Move: true, $Easing: { $Clip: $JssorEasing$.$EaseInOutCubic } };
            _CaptionTransitions["MCLIP|R"] = { $Duration: 900, $Clip: 2, $Move: true, $Easing: { $Clip: $JssorEasing$.$EaseInOutCubic } };

            var options = {
                $HWA: false,
                $FillMode: 2,                                       //[Optional] The way to fill image in slide, 0 stretch, 1 contain (keep aspect ratio and put all inside slide), 2 cover (keep aspect ratio and cover whole slide), 4 actual size, 5 contain for large image, actual size for small image, default value is 0
                $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlayInterval: 4000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $PauseOnHover: 1,                                   //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

                $ArrowKeyNavigation: true,                          //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                $SlideEasing: $JssorEasing$.$EaseOutQuint,          //[Optional] Specifies easing for right to left animation, default value is $JssorEasing$.$EaseOutQuad
                $SlideDuration: 800,                               //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
                //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
                //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
                $SlideSpacing: 0,                                   //[Optional] Space between each slide in pixels, default value is 0
                $DisplayPieces: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
                $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
                $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
                $DragOrientation: 1,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)

                $CaptionSliderOptions: {                            //[Optional] Options which specifies how to animate caption
                    $Class: $JssorCaptionSlider$,                   //[Required] Class to create instance to animate caption
                    $CaptionTransitions: _CaptionTransitions,       //[Required] An array of caption transitions to play caption, see caption transition section at jssor slideshow transition builder
                    $PlayInMode: 1,                                 //[Optional] 0 None (no play), 1 Chain (goes after main slide), 3 Chain Flatten (goes after main slide and flatten all caption animations), default value is 1
                    $PlayOutMode: 3                                 //[Optional] 0 None (no play), 1 Chain (goes before main slide), 3 Chain Flatten (goes before main slide and flatten all caption animations), default value is 1
                },

                $BulletNavigatorOptions: {                          //[Optional] Options to specify and enable navigator or not
                    $Class: $JssorBulletNavigator$,                 //[Required] Class to create navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 1,                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                    $Lanes: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
                    $SpacingX: 8,                                   //[Optional] Horizontal space between each item in pixel, default value is 0
                    $SpacingY: 8,                                   //[Optional] Vertical space between each item in pixel, default value is 0
                    $Orientation: 1                                 //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
                },

                $ArrowNavigatorOptions: {                           //[Optional] Options to specify and enable arrow navigator or not
                    $Class: $JssorArrowNavigator$,                  //[Requried] Class to create arrow navigator instance
                    $ChanceToShow: 1,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 2,                                 //[Optional] Auto center arrows in parent container, 0 No, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1                                       //[Optional] Steps to go for each navigation request, default value is 1
                }
            };

            if ($(window).width() > 768) {
                var jssor_slider1 = new $JssorSlider$("slider1_container", options);

            } else {
                var jssor_slider2 = new $JssorSlider$("slider2_container", options);
            }
            //
            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizes
            function ScaleSlider() {
                var bodyWidth = document.body.clientWidth;
                if (bodyWidth) {
                    if ($(window).width() > 768) {
                        jssor_slider1.$ScaleWidth(Math.min(bodyWidth, 1920));
                    } else {
                        jssor_slider2.$ScaleWidth(Math.min(bodyWidth, 768));
                    }

                    //  jssor_slider2.$ScaleWidth(Math.min(bodyWidth, 1920));
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }
            ScaleSlider();

            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });

    </script>
}
@Html.Partial("~/Views/Shared/PageBanner.cshtml")
<div class="container">
    <ul class="breakcrumb">
        <li><a href="/">TRANG CHỦ</a></li>
        <li>> Test Online</li>
    </ul>
</div>
<div class="container show_1024">
    <div class="row">
        @Html.Partial("~/Views/Shared/CenterBar.cshtml")
    </div>
</div>
<div class="container" id="question_go">
    <div class="row">
        <div class="col-sm-12" >
            <div id="question_group_1">
                <h3>Question 1 - 10</h3>
                <ul>
                    <li>In this section you must choose the word which best fits each space in the texts. </li>
                    <li>For questions 1 to 10, choose the correct answer from the drop down menu.</li>
                </ul>
            </div>
            <div id="question_group_2" class="hide">
               <h3>Question 11 - 25</h3>
                <ul>
                    <li>In this section you must choose the word or phrase which best completes each sentence</li>
                    <li>For questions 11 to 25, choose the correct answer from the drop down menu.</li>
                </ul>
            </div>
            <div id="answer_text">

            </div>
            <div class="hide" id="selection_anwser">
                <select id="id_select">
                    <option>Answer</option>
                </select>
            </div>
            <p>&nbsp;</p>
            <button class="btn btn-red btn-next">Next ></button>
             <button class="btn btn-red btn-prev hide">< Prev</button>
             <button class="btn btn-red btn-done hide">Finish</button>
        </div>
       
    </div>
</div>
<div class="container hide" id="register_done">
     <div class="row">
        <div class="col-sm-12" >
            <div id="">
                <h3>Congratulations</h3>
                <p>Hãy kiểm tra email để nhận điểm số bài test. Cảm ơn bạn đã tham gia.</p>
               
            </div>
        </div>
    </div>
</div>
<div class="container hide" id="question_done">
    <div class="row">
        <div class="col-sm-12" >
            <div id="">
                <h3>Finish</h3>
                <p>Chúc mừng bạn đã hoàn thành bài test, vui lòng điền thông tin để nhận kết quả</p>
               
            </div>
           <div id="cjform-submit">
             <form class="form-horizontal" id="register_form">
                 <div class="form-group">
                        <label for="input_name" class="col-sm-2 control-label">Name*</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="input_name" id="input_name" placeholder="Name">
                        </div>
                      </div>
                  <div class="form-group">
                    <label for="input_email" class="col-sm-2 control-label">Email*</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" name="input_email" id="input_email" placeholder="Email">
                    </div>
                  </div>
               
                   <div class="form-group">
                        <label for="input_phone" class="col-sm-2 control-label">Phone</label>
                        <div class="col-sm-10">
                          <input type="tel" class="form-control" id="input_phone" placeholder="Phone">
                        </div>
                      </div>
                  <div class="form-group">
                    <label for="input_region" class="col-sm-2 control-label">Khu vực</label>
                    <div class="col-sm-10">
                      <select class="form-control" id="input_region">
                          <option value="">Khu vực</option>
                          <option value="ha-noi">Hà Nội</option>
                          <option value="ho-chi-minh">Hồ Chí Minh</option>

                        </select>
                    </div>
                  </div>
                   <div class="form-group">
                    <label for="input_time" class="col-sm-2 control-label">Thời gian học</label>
                    <div class="col-sm-10">
                      <select class="form-control" id="input_time">
                          <option value="">Chọn thời gian học</option>
                          <option value="0">Ngay bây giờ</option>
                          <option value="1">Trong 1 tháng tới </option>
                          <option value="6">Trong 6 tháng tới </option>
                        </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-default btn-register">Đăng ký</button>
                    </div>
                  </div>
                </form>
           </div>
           
        </div>
       
    </div>
</div>

<div class="container" style="margin-top:20px;">
    <div class="row">
        <div class="col-sm-4">
            <img src="/home/img/ads_news_right.jpg" width='100%' />
        </div>
        <div class="col-sm-4">

            <img src="/home/img/hoc_bong.jpg" width='100%' style="margin-bottom:4px">
            <a href="http://www.idp.com/vietnam"><img src="/home/img/du_hoc.jpg" width='100%' style="margin-top:4px"></a>

        </div>
        @Html.Partial("~/Views/Shared/ResourceDocument.cshtml")
    </div> <!-- / .row -->
</div> <!-- / .container -->
@Html.Partial("~/Views/Shared/RightPage.cshtml")
