﻿@media (max-width:767px){
     .couse_title {
        margin-right: 10px!important;
    }
     .row.bottom-page .col-sm-4{
        padding:0;
     }
     .couse_title.center{
margin-right: 0px!important;
     }
}
@media (width: 768px){
  .couse_content, .couse_title {
      margin-right: 12px!important;
  }
  .home_dk {
    font-size: 16px!important;
    padding-left: 5px!important;
    padding-top: 5px!important;
    padding-right: 0;
    margin-right: -1px!important;
    margin-left: -1px;
  }
}