﻿@model IEnumerable<ACET_WEB.Question>

@{
    ViewBag.Title = "Add New Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AddToHeadCss{
    <link rel="stylesheet" href="@Url.Content("/assets/css/jquery-ui.custom.min.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/chosen.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/datepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/bootstrap-timepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/daterangepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/bootstrap-datetimepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/colorpicker.css")" />
}
@section AddToEndBodyJs{
    <script src="@Url.Content("/Content/ckeditor/ckeditor.js")"></script>
    <script src="@Url.Content("/Content/ckfinder/ckfinder.js")"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/additional-methods.min.js"></script>
    <script src="/assets/js/bootbox.min.js"></script>
    <script src="/assets/js/jquery.maskedinput.min.js"></script>
    <script src="/assets/js/select2.min.js"></script>
    <script type="text/javascript">
        var editor = CKEDITOR.replace('post_content_vi', {
        });

    </script>
}
@{
    ViewBag.Title = "Index";
}

<div class="page-header">
    <h1>
        Group Question
    </h1>
</div>
<div class="row">
    <div class="col-xs-12">


        <p>
            @Html.ActionLink("Create New", "Create", new  { group=ViewBag.gid})
        </p>
        <table class="table table-bordered table-striped" >
            <tr>
                <th>
                  Question
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Created)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Modified)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AnswerKey)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuestionGroup.Name)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Question1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Modified)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnswerKey)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuestionGroup.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("List Answer", "Index", "Answer", new { question = item.Id }, new  { }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
</div></div>