﻿<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/home/ico/favicon.ico">

    <title>Coming Soon</title>

    <!-- Bootstrap core CSS -->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <link href="/home/css/style.css" rel="stylesheet">

    <!-- Resources -->
    <link href="/home/fonts/font-awesome-4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/home/css/animate.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="coming-soon">

    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <!-- Main Content -->
          <h1 class="text-center">Coming Soon...</h1>
          <p class="lead text-center">
            We are currently working on a new version of our website.<br />
           
          </p>
          <form class="form-inline text-center hide" role="form">
            <div class="form-group">
                <label class="sr-only" for="email">Email address</label>
              <input type="email" class="form-control border-color col-sm-12" id="email" placeholder="Email">
            </div>
            <button type="submit" class="btn btn-red">Subscribe</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div id="countdown"></div>
        </div>
      </div>  <!-- / .row -->
    </div> <!-- / .container -->    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/home/js/bootstrap.min.js"></script>
    <script src="/home/js/scrolltopcontrol.js"></script>
    <script src="/home/js/jquery.plugin.min.js"></script>
    <script src="/home/js/jquery.countdown.min.js"></script>
    <script src="/home/js/custom.js"></script>
    <script src="/home/js/coming-soon.js"></script>
  </body>
</html>