﻿@{
    ViewBag.Breadcrumbs = "Index";
    ViewBag.Title = "Australian Centre for English Training";
    if(ViewBag.lang.Equals("vi")){
        Layout = "~/Views/Shared/_HomeLayout.cshtml";
    }else{
        Layout = "~/Views/Shared/_HomeLayoutEng.cshtml";
    }
}
@using ExtensionMethods;
<style type="text/css">
    ul.eventsSlider li, ul.promotionSlider li {
        list-style: none;
    }
</style>
<!-- Home Slider -->
@Html.Partial("~/Views/Shared/HomeSlider.cshtml")
<!-- Services -->
<div class="home-services">
    <div class="container">
        <div class="row">
            @Html.Raw(ViewBag.home_about.Value)

        </div> <!-- / .row -->
    </div> <!-- / .container -->
</div> <!-- / .services -->
<div class="container show_1024">
    <div class="row">
        @Html.Partial("~/Views/Shared/CenterBar.cshtml")
    </div>
</div>
<div class="container">
    <div class="row" id="six_symbol">
        @Html.Raw(ViewBag.home_6block.Value)
    </div> <!-- / .row -->
</div> <!-- / .container -->
<!-- Browser Showcase -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @Html.Raw(ViewBag.home_intro.Value)
        </div>
    </div> <!-- / .row -->
</div> <!-- / .container -->

<p></p>
<!-- Browser Showcase -->
<div class="container hide">
    <div class="row" style="margin-left: 12px; margin-right: 12px;">
        <div class="col-sm-12 bg_dkh">
            <div class="col-sm-12 col-md-5"></div>
            <div class="col-sm-12 col-md-7">
                <p class="white center" style="  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;">ACET DISCOUNT 15% FOR NEW FIRST STEPS CLASS</p>
                <div id="countdown1"></div>
                <p class="center">
                    <span><input type="email" class="form-control" placeholder="Email" style="width:40%;float:left" /></span><span>
                        <select class="form-control" style="width:40%;float:left;margin-left:10px"><option>Place to study</option></select>
                    </span><span><button class="btn btn-white">Send</button></span>
                </p>
            </div>


        </div>
    </div> <!-- / .row -->
</div> <!-- / .container -->
<p></p>
<!-- Browser Showcase -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
         @if(ViewBag.lang.Equals("vi")){
            <a href="/tin-uu-dai.html"><h2 class="title box">Tin Ưu Đãi</h2></a>
            <div class="promotionSlider"></div>
            <div class="clearfix"><a href="/tin-uu-dai.html"><button class="btn btn-red pull-right">Xem thêm ></button></a></div>
            }else{
           <a href="/promotion.html"><h2 class="title box hide">Promotion</h2></a>
            <div class="promotionSlider hide"></div>
            <div class="clearfix hide"><a href="/promotion.html"><button class="btn btn-red pull-right">See more ></button></a></div>
            }
        </div>
    </div> <!-- / .row -->
</div> <!-- / .container -->
<!-- Browser Showcase -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
        @if(ViewBag.lang.Equals("vi")){
            <a href="/tin-uu-dai.html"><h2 class="title box">SỰ KIỆN NỔI BẬT</h2></a>
            <div class="eventsSlider"></div>
            <div class="clearfix"><a href="/su-kien.html"><button class="btn btn-red pull-right">Xem thêm ></button></a></div>
            }else{
            <a href="/promotion.html"><h2 class="title box hide">Events</h2></a>
            <div class="eventsSlider hide"></div>
            <div class="clearfix hide"><a href="/events.html"><button class="btn btn-red pull-right">See more ></button></a></div>
            }

        </div>
    </div> <!-- / .row -->
</div> <!-- / .container -->
<p></p>
@if(ViewBag.mid_banner_home!=null){
<div class="container hidden-xs hidden-sm">
    <div class="xs-col-12" style="    margin-right: -3px;
    margin-left: -3px;">
       <a href="@ViewBag.mid_banner_home.DisplayName"> <img src="@ViewBag.mid_banner_home.LastName" alt="@ViewBag.mid_banner_home.FirstName" title="@ViewBag.mid_banner_home.FirstName" style="width:100%" /></a>
    </div>
</div>
}
@if(ViewBag.mid_banner_home_mobile!=null){
<div class="container hidden-md hidden-lg">
    <div class="xs-col-12" style="    margin-right: -3px;
    margin-left: -3px;">
       <a href="@ViewBag.mid_banner_home_mobile.DisplayName"> <img src="@ViewBag.mid_banner_home_mobile.LastName" alt="@ViewBag.mid_banner_home_mobile.FirstName" title="@ViewBag.mid_banner_home_mobile.FirstName" style="width:100%" /></a>
    </div>
</div>
}
<p></p><p></p>

<!-- Feedback -->
<div class="feedbacks">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
            @if(ViewBag.lang.Equals("vi")){
                <a href="/cau-chuyen-thanh-cong.html"><h2 class="text-center" style="color: red; font-size: 22px; margin-bottom: 5px;">CÂU CHUYỆN THÀNH CÔNG</h2></a>
                <span style="border-top: 4px solid #ff0000;width:5%;display:block;margin:0px auto;">&nbsp;</span>
                }else{
                <a href="/testimonials.html"><h2 class="text-center" style="color: red; font-size: 22px; margin-bottom: 5px;">TESTIMONIALS</h2></a>
                <span style="border-top: 4px solid #ff0000;width:5%;display:block;margin:0px auto;">&nbsp;</span>
                }
            </div>
        </div> <!-- / .row -->
        <div class="row">
            <div class="container-fluid">
                @if(ViewBag.lang.Equals("vi")){
                <div id="custom_carousel" class="carousel slide" data-ride="carousel" data-interval="false">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" id="testimi">
                        @{var i = 0;}
                        @foreach (var item in (ACET_WEB.Post[])Model)
                        {
                            <div class="item @if(i==0){@Html.Raw("active") }">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-4 no-padding">
                                            <a href="/cau-chuyen-thanh-cong/@{@item.Slug}.html">  <img alt="@item.Title" src="@item.Image" width="100%" class="img-responsive"></a>
                                        </div>
                                        <div class="col-md-8">
                                            <a href="/cau-chuyen-thanh-cong/@{@item.Slug}.html">
                                                <h3 class="center" style="font-size:18px;font-weight:700;">HỌC VIÊN ACET <br>@item.Title</h3>
                                                <p>@item.Desc</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                             i++;
                        }
                        <!-- End Item -->
                    </div>
                    <!-- End Carousel Inner -->
                    <div class="controls">
                        <ul class="nav tab1" id="testimi_thim">
                            @{var j = 0;}
                            @foreach (var item in Model)
                            {

                                <li data-target="#custom_carousel" data-slide-to="@j" class="@if(j==0){@Html.Raw("active") }">
                                    <a href="#" style="outline:none">
                                        <div class="hexagon">
                                            <div class="outer">
                                                <div class="inner" style="background: url(@item.Image) center center no-repeat;  background-size: contain;">
                                                    <div class="textWrapper">                         </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                                                                             j++;
                            }
                        </ul>
                    </div>
                    <a href="/cau-chuyen-thanh-cong.html"><button class="btn btn-red pull-right mrtop10">Xem thêm</button></a>
                </div>
                }else{
                <div id="custom_carousel" class="carousel slide" data-ride="carousel" data-interval="false">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" id="testimi">
                        @{var i = 0;}
                        @foreach (var item in (ACET_WEB.Post[])Model)
                        {
                            <div class="item @if(i==0){@Html.Raw("active") }">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-4 no-padding">
                                            <a href="/testimonials/@{@item.SlugEng}.html">  <img  alt="@item.Title" src="@item.Image" width="100%" class="img-responsive"></a>
                                        </div>
                                        <div class="col-md-8">
                                            <a href="/testimonials/@{@item.SlugEng}.html">
                                                <h3 class="center" style="font-size:18px;font-weight:700;">ACET STUDENT<br>@item.TitleEng</h3>
                                                <p>@item.DescEng</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                             i++;
                        }
                        <!-- End Item -->
                    </div>
                    <!-- End Carousel Inner -->
                    <div class="controls">
                        <ul class="nav tab1" id="testimi_thim">
                            @{var j = 0;}
                            @foreach (var item in Model)
                            {

                                <li data-target="#custom_carousel" data-slide-to="@j" class="@if(j==0){@Html.Raw("active") }">
                                    <a href="#" style="outline:none">
                                        <div class="hexagon">
                                            <div class="outer">
                                                <div class="inner" style="background: url(@item.Image) center center no-repeat;  background-size: contain;">
                                                    <div class="textWrapper">                         </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                                                                             j++;
                            }
                        </ul>
                    </div>
                    <a href="/testimonials.html"><button class="btn btn-red pull-right mrtop10">See more</button></a>
                </div>
                }
                <!-- End Carousel -->
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</div> <!-- / .feedback -->
<!-- Recent Blog Posts -->
<div class="container">
    <div class="row bottom-page">
    	@foreach(var item in ViewBag.HomeBottom){
        <div class="col-sm-4">
			@Html.Raw(item.Value)
        </div>
        }       
    </div> <!-- / .row -->
</div> <!-- / .container -->
@Html.Partial("~/Views/Shared/RightHome.cshtml")

@section AddToHeadCss{
    <style type="text/css">
        .show_1024 {
            margin-top: -20px;
        }
    </style>
}
@section AddToEndBodyJs{
    <script type="text/javascript">

        function list_event_news() {
            $.get('/api/articles/', { cus_type: 73, limit: 2, offset: 0 , clang:'@ViewBag.lang'}).done(function (rs) {
                var htmlstr = '';

                if (rs.data.length > 0) {
                    $.each(rs.data, function (i, j) {
                        if(i%2==0){
                            tclass="even";
                        }else{
                            tclass="odd"
                        }
                        htmlstr += '<div class="col-sm-12 col-md-6 item-post no-padding '+tclass+'">';
                        htmlstr += '<a class="" href="/' + j[8] + '/' + j[5] + '.html">'
                        htmlstr += '  <div class="col-sm-5 col-md-5 no-padding">';
                        htmlstr += '     <img src="' + j[3] + '" width="100%" alt="' + j[1] + '" />';
                        htmlstr += ' </div>';
                        htmlstr += ' <div class="col-sm-7 col-md-7 ellipsis"><div>';
                        htmlstr += '     <p class="title">' + j[1] + '</p>';
                        htmlstr += '     <p>' + j[2] + ' </p>';
                        htmlstr += ' </div></div> </a> </div>';


                    })
                    $('div.eventsSlider').html(htmlstr);
                    /* $('.eventsSlider').bxSlider({
                        pager: false,
                        nextSelector: '#eslider-next',
                        prevSelector: '#eslider-prev',
                        nextText: '<img src="/home/img/arrow_r.png" alt="next"/>',
                        prevText: '<img src="/home/img/arrow_l.png" alt="prev"/>'
                    });
                    */
                }
            });
        }
        function list_promotion_news() {
            $.get('/api/articles/', { cus_type: 72, limit: 4, offset: 0, clang:'@ViewBag.lang' }).done(function (rs) {
                var htmlstr = '';
                console.log(rs.data);
                if (rs.data.length > 0) {
                    $.each(rs.data, function (i, j) {
                        if(i%2==0){
                            tclass="even";
                        }else{
                            tclass="odd"
                        }

                        htmlstr += ' <div class="col-sm-12 col-md-6 no-padding item-post '+tclass+'">';
                        htmlstr += ' <a class="" href="/' + j[8] + '/' + j[5] + '.html">';
                        htmlstr += '     <div class="col-sm-4 col-md-4 no-padding">';
                        htmlstr += '         <img src="' + j[3] + '" width="100%"  alt="' + j[1] + '"/>';
                        htmlstr += '     </div>';
                        htmlstr += '     <div class="col-sm-8 col-md-8 ellipsis "><div>';
                        htmlstr += '          <p class="title">' + j[1] + '</p>';
                        htmlstr += '         <p>' + j[2] + ' </p>';
                        htmlstr += '     </div></div>  </a>  </div>';

                    })
                    $('div.promotionSlider').html(htmlstr);
                    /*$('.promotionSlider').bxSlider({
                        pager: false,
                        nextSelector: '#slider-next',
                        prevSelector: '#slider-prev',
                        nextText: '<img src="/home/img/arrow_r.png" alt="next"/>',
                        prevText: '<img src="/home/img/arrow_l.png" alt="prev"/>'
                    });*/
                }
            });
        }


        list_promotion_news();
        list_event_news();
    </script>
    <script type="text/javascript" src="/home/js/jssor.js"></script>
    <script type="text/javascript" src="/home/js/jssor.slider.js"></script>
    <script>
        jQuery(document).ready(function ($) {

            var _CaptionTransitions = [];
            _CaptionTransitions["L"] = { $Duration: 900, x: 0.6, $Easing: { $Left: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["R"] = { $Duration: 900, x: -0.6, $Easing: { $Left: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["T"] = { $Duration: 900, y: 0.6, $Easing: { $Top: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["B"] = { $Duration: 900, y: -0.6, $Easing: { $Top: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["ZMF|10"] = { $Duration: 900, $Zoom: 11, $Easing: { $Zoom: $JssorEasing$.$EaseOutQuad, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 };
            _CaptionTransitions["RTT|10"] = { $Duration: 900, $Zoom: 11, $Rotate: 1, $Easing: { $Zoom: $JssorEasing$.$EaseOutQuad, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInExpo }, $Opacity: 2, $Round: { $Rotate: 0.8 } };
            _CaptionTransitions["RTT|2"] = { $Duration: 900, $Zoom: 3, $Rotate: 1, $Easing: { $Zoom: $JssorEasing$.$EaseInQuad, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInQuad }, $Opacity: 2, $Round: { $Rotate: 0.5 } };
            _CaptionTransitions["RTTL|BR"] = { $Duration: 900, x: -0.6, y: -0.6, $Zoom: 11, $Rotate: 1, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Top: $JssorEasing$.$EaseInCubic, $Zoom: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInCubic }, $Opacity: 2, $Round: { $Rotate: 0.8 } };
            _CaptionTransitions["CLIP|LR"] = { $Duration: 900, $Clip: 15, $Easing: { $Clip: $JssorEasing$.$EaseInOutCubic }, $Opacity: 2 };
            _CaptionTransitions["MCLIP|L"] = { $Duration: 900, $Clip: 1, $Move: true, $Easing: { $Clip: $JssorEasing$.$EaseInOutCubic } };
            _CaptionTransitions["MCLIP|R"] = { $Duration: 900, $Clip: 2, $Move: true, $Easing: { $Clip: $JssorEasing$.$EaseInOutCubic } };

            var options = {
                $HWA: false,
                $FillMode: 2,                                       //[Optional] The way to fill image in slide, 0 stretch, 1 contain (keep aspect ratio and put all inside slide), 2 cover (keep aspect ratio and cover whole slide), 4 actual size, 5 contain for large image, actual size for small image, default value is 0
                $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlayInterval: 4000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $PauseOnHover: 1,                                   //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1
                
                $ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                $SlideEasing: $JssorEasing$.$EaseOutQuint,          //[Optional] Specifies easing for right to left animation, default value is $JssorEasing$.$EaseOutQuad
                $SlideDuration: 800,                               //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
                //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
                //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
                $SlideSpacing: 0, 					                //[Optional] Space between each slide in pixels, default value is 0
                $DisplayPieces: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
                $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
                $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
                $DragOrientation: 1,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)

                $CaptionSliderOptions: {                            //[Optional] Options which specifies how to animate caption
                    $Class: $JssorCaptionSlider$,                   //[Required] Class to create instance to animate caption
                    $CaptionTransitions: _CaptionTransitions,       //[Required] An array of caption transitions to play caption, see caption transition section at jssor slideshow transition builder
                    $PlayInMode: 1,                                 //[Optional] 0 None (no play), 1 Chain (goes after main slide), 3 Chain Flatten (goes after main slide and flatten all caption animations), default value is 1
                    $PlayOutMode: 3                                 //[Optional] 0 None (no play), 1 Chain (goes before main slide), 3 Chain Flatten (goes before main slide and flatten all caption animations), default value is 1
                },

                $BulletNavigatorOptions: {                          //[Optional] Options to specify and enable navigator or not
                    $Class: $JssorBulletNavigator$,                 //[Required] Class to create navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 1,                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                    $Lanes: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
                    $SpacingX: 8,                                   //[Optional] Horizontal space between each item in pixel, default value is 0
                    $SpacingY: 8,                                   //[Optional] Vertical space between each item in pixel, default value is 0
                    $Orientation: 1                                 //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
                },

                $ArrowNavigatorOptions: {                           //[Optional] Options to specify and enable arrow navigator or not
                    $Class: $JssorArrowNavigator$,                  //[Requried] Class to create arrow navigator instance
                    $ChanceToShow: 1,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 2,                                 //[Optional] Auto center arrows in parent container, 0 No, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1                                       //[Optional] Steps to go for each navigation request, default value is 1
                }
            };
            if ($(window).width() > 768) {
                var jssor_slider1 = new $JssorSlider$("slider1_container", options);

            } else {
                var jssor_slider2 = new $JssorSlider$("slider2_container", options);
            }
           // 
            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizes
            function ScaleSlider() {
                var bodyWidth = document.body.clientWidth;
                if (bodyWidth) {
                    if ($(window).width() > 768) {
                        jssor_slider1.$ScaleWidth(Math.min(bodyWidth, 1920));
                    } else {
                        jssor_slider2.$ScaleWidth(Math.min(bodyWidth, 768));
                    }
                    
                  //  jssor_slider2.$ScaleWidth(Math.min(bodyWidth, 1920));
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }
            ScaleSlider();

            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });
    </script>
}
</div>
<div class="wrapper2">
   @if(ViewBag.lang.Equals("vi")){
    <div class="container center doitac">
       <a href="http://acet.edu.vn" target=_blank> <img title="Australian Centre for Education And Training - ACET" alt="Australian Centre for Education And Training - ACET" src="/Uploads/doitac/logo.png" /></a>
       <a href="http://www.idp.com/vietnam" target=_blank> <img title="IDP" alt="IDP" src="/Uploads/doitac/idp_logo.png" /></a>
      <a href="http://www.insearch.edu.au/vn/home" target=_blank>  <img title="INSERT" alt="INSERT" src="/Uploads/doitac/insert_logo.png" /></a>
    </div>
    }else{
     <div class="container center doitac">
       <a href="http://acet.edu.vn" target=_blank> <img title="Australian Centre for Education And Training - ACET" alt="Australian Centre for Education And Training - ACET" src="/Uploads/doitac/logo_en.png" /></a>
       <a href="http://www.idp.com/vietnam" target=_blank> <img title="IDP" alt="IDP" src="/Uploads/doitac/idp_logo_en.png" /></a>
      <a href="http://www.insearch.edu.au/vn/home" target=_blank>  <img title="INSERT" alt="INSERT" src="/Uploads/doitac/insert_logo_en.png" /></a>
    </div>
    }
