﻿<div class="tc-grid">
    <div class="tc-grid-item">
        <div class="img">
            <img src="/Uploads/teacher/Jason.jpg" />
            <p style="padding-right:25px">
                Jason Ryan Bednarz
            </p>
        </div>

        <div class="desc-r">
            “Hi, my name is Jason and I’m from the east coast of America. I’ve been living in Vietnam for 10 years, teaching at ACET since 2007.  I enjoy trying new and interesting foods from all around Vietnam.  I am very keen on teaching Academic English, and especially enjoy exploring vocabulary and collocations in the classroom to help improve the style and formality of my students’ writing.”
        </div>
    </div>
    <div class="tc-grid-item">
        <div class="img">
            <img src="/Uploads/teacher/MarkHanson.jpg" />
            <p style="padding-right:25px">
                Mark Hanson
            </p>
        </div>

        <div class="desc-r">
            "Hi my name is Mark and I come Minneapolis, Minnesota in the USA.  I have taught English for 10 years in countries such as Russia, Vietnam, Slovakia and the United Arab Emirates near Dubai.  I previously taught in Vietnam in 2009 and I loved it so much that I came back to teach at ACET in 2013.
            My main interests in teaching are related to Academic English.  In particular I enjoy helping students improve their writing skills through focus on the writing process and structuring academic writing".
        </div>
    </div>
    <div class="tc-grid-item">
        <div class="img">
            <img src="/Uploads/teacher/RamoncitoMandia.jpg" />
            <p style="padding-right:25px">
                Ramoncito Mandia
            </p>
        </div>

        <div class="desc-r">
            "I'm Chito Mandia and I come from a tiny island in the Philippines. I've been working with ACET for almost 6 years now and before that I had worked for the Australian Development Scholarship project in Hanoi after a stint with the Asian Institute of Technology (Center in Vietnam). My areas of interest include helping professionals and students communicate their ideas through writing effective research articles, essays and reports. In addition to teaching, I've also done consultancies related to media communication and teacher training".
        </div>
    </div>
    <div class="tc-grid-item">
        <div class="img">
            <img src="/Uploads/teacher/MattWard.jpg" />
            <p style="padding-right:25px">
                Matt Ward
            </p>
        </div>

        <div class="desc-r">
            "Hi, my name is Matt and I’m from Manchester, England.  I’ve been teaching at ACET for over 3 years.  I enjoy visiting new places all around Vietnam and tasting new delicious dishes.  I am very keen on teaching Academic English, and especially enjoy helping students improve their vocabulary ranges and style of writing".
        </div>
    </div>
    <div class="tc-grid-item">
        <div class="img">
            <img src="/Uploads/teacher/DavidOn.jpg" />
            <p style="padding-right:25px">
                David On
            </p>
        </div>

        <div class="desc-r">
            “Hello, my name is David On and I am from London, England.  My favourite football team is Arsenal FC and my hobby is ironing.  I have lived in Vietnam since 2006 and I really love it here, especially the food.  When I am not working you can find me in a restaurant eating ‘fried chicken with rice’ or ‘banh cuon’, which are two of my favourite dishes in the world.  In the class room my teaching is very much focused on speaking activities and essay writing, so if you see me in the class room, be ready to share your ideas with me through some speaking and get ready to write a few academic style essays”.
        </div>
    </div>
    <div class="tc-grid-item">
        <div class="img">
            <img src="/Uploads/teacher/JasdevGrewal.jpg" />
            <p style="padding-right:25px">
                Jasdev Grewal
            </p>
        </div>

        <div class="desc-r">
            'Hi, my name is Jas. I come from a small city in Central England called Derby but have been living in HCMC since 2007 and working at Acet for the past 5 years. I really enjoy teaching Academic English and IELTS here because the students are so hard-working and enthusiastic and I feel a great sense of pride in them when they achieve their targets. Aside from teachingat Acet, I also love to keep fit and help other people do the same!'
        </div>
    </div>
    <div class="tc-grid-item">
        <div class="img">
            <img src="/Uploads/teacher/AnnaMendoza.jpg" />
            <p style="padding-right:25px">
                Anna Mendoza
            </p>
        </div>

        <div class="desc-r">
            "Hi, I'm Anna and I'm interested in a wide variety of topics, so I'm a bit of a voracious reader. I especially love Stephen King and Tom Clancy. Apart from that, I love to travel to new places to seek new flavors as I love to cook. As a teacher, I like working with both kids and adults as both groups have very unique things to offer in the classroom. My favorite things to do in class is to teach vocabulary and writing".
        </div>
    </div>
    <div class="tc-grid-item">
        <div class="img">
            <img src="/Uploads/teacher/TonNuQuynhTien.jpg" />
            <p style="padding-right:25px">
                Ton Nu Quynh Tien
            </p>
        </div>

        <div class="desc-r">
            " I'm Vietnamese. I'm dedicated to everything I love doing, especially teaching. A party animal, I spend my weekends hanging out with friends or family. A homebody, I devote my time to taking care of my nearest and dearest. Overall, I'm fun to be with."
        </div>
    </div>
    <div class="tc-grid-item">
        <div class="img">
            <img src="/Uploads/teacher/RustyToddMassie.jpg" />
            <p style="padding-right:25px">
                Rusty Todd Massie
            </p>
        </div>

        <div class="desc-r">
            "Hi, my name is Rusty and I'm originally from America, but I've been teaching abroad  since 2003. I lived in the Czech Republic for 6 years before moving to Vietnam, where I've been working since 2009. In my free time I like playing music, reading and researching online,and traveling. In the classroom, I try to encourage students to expand their vocabulary as well as to speak more fluently using pronunciation activities".
        </div>
    </div>
    <div class="tc-grid-item">
        <div class="img">
            <img src="/Uploads/teacher/DangTranPhong.jpg" />
            <p style="padding-right:25px">
                Dang Tran Phong
            </p>
        </div>

        <div class="desc-r">
            "I have been in the field of education for nearly 20 years. I have a Master’s in TESOL. It’s my fervent belief that it is important to find out how each student learns best and to help them maximise their potentials. Dedicated, flexible and caring, I always strive to create a classroom atmosphere that is stimulating, encouraging, and conducive to learning".
        </div>
    </div>
    <div class="tc-grid-item">
        <div class="img">
            <img src="/Uploads/teacher/TungLe.jpg" />
            <p style="padding-right:25px">
                Tung Le
            </p>
        </div>

        <div class="desc-r">
            "Hello, my name's Tung and I've been teaching English at ACET since 2008. Returning to Vietnam after studying and working in the South Bay area of California in America for about 10 years, I decided to get the CELTA, an English teaching certificate of Cambridge University for English teachers worldwide. Teaching Academic English has become my passion ever since, and especially, I'm devoted to exploring collocations and vocabulary in context to enhance the fluency and accuracy of my students' speaking".
        </div>
    </div>
    <div class="tc-grid-item">
        <div class="img">
            <img src="/Uploads/teacher/NhanNguyen.jpg" />
            <p style="padding-right:25px">
                Nhan Nguyen
            </p>
        </div>
        <div class="desc-r">
            "Greetings! I’m Nhan Nguyen. I’m simply a down to earth, amiable person and can become easily tailored to any situation. Others consider me a sincere man and overall good company. At work, I can relate to the difficulties that my students face in their studies and thus, I want to inspire them to work hard and raise their own limits.  I believe in staying focused and bringing the best ethics to the table!"
        </div>
    </div>
</div>

@*<div class="paginator">
    <ul id="pagination-news" class="pagination"></ul>
</div>*@