﻿@{
    ViewBag.Title = "Test Online - Australian Centre for Education And Training";
    if(ViewBag.lang.Equals("vi")){
        Layout = "~/Views/Shared/_HomeLayout.cshtml";
    }else{
        Layout = "~/Views/Shared/_HomeLayoutEng.cshtml";
    }
}

@section AddToHeadCss{
    <style type="text/css">
    .error {
        color: red;
        font-weight: normal;
    }
    #answer_text li {
        list-style:none;
    }
    .select-form-1 {
            margin: 3px;
            height: 40px;
            display: inline-block;
            width: 192px;
            line-height: 40px;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            background-color: #ffffff;
            background-image: none;
            border: 1px solid #e4e4e4;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) 0 10px rgba(0, 0, 0, 0.175);
            -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) 0 10px rgba(0, 0, 0, 0.175);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) 0 10px rgba(0, 0, 0, 0.175);
            -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    </style>
}
@section AddToEndBodyJs{
@if(ViewBag.lang.Equals("vi")){
<script type="text/javascript">
 function get_level(score){
	 if( 0<= score <=4){
	 	return "A1/Beginner";
	 }
	 if( 5<= score <=8){
	 	return "A2/Elementary";
	 }
	 if( 9<= score <=10){
	 	return "A2+/High Elementary";
	 }
	 if( 11<= score <=14){
	 	return "B1/Pre-Intermediate";
	 }
	 if( 15<= score <=16){
	 	return "B1+/Intermediate";
	 }
	 if( 17<= score <=19){
	 	return "B2/Upper-Intermediate";
	 }
	 if( 20<= score <=21){
	 	return "B2+/Pre-advanced";
	 }
	 if( 22<= score <=25){
	 	return "C1/Advanced";
	 }  	
 }
</script>
}else{
<script type="text/javascript">
 function get_level(score){
	 if( 0<= score <=4){
	 	return "A1/Beginner";
	 }
	 if( 5<= score <=8){
	 	return "A2/Elementary";
	 }
	 if( 9<= score <=10){
	 	return "A2+/High Elementary";
	 }
	 if( 11<= score <=14){
	 	return "B1/Pre-Intermediate";
	 }
	 if( 15<= score <=16){
	 	return "B1+/Intermediate";
	 }
	 if( 17<= score <=19){
	 	return "B2/Upper-Intermediate";
	 }
	 if( 20<= score <=21){
	 	return "B2+/Pre-advanced";
	 }
	 if( 22<= score <=25){
	 	return "C1/Advanced";
	 }  	
 }
</script>
}
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.validation/1.14.0/jquery.validate.min.js"></script>
@if(ViewBag.lang.Equals("vi")){
<script type="text/javascript">
jQuery.extend(jQuery.validator.messages, {
 required: "Hãy nhập.",
 remote: "Hãy sửa cho đúng.",
 email: "Hãy nhập email.",
 url: "Hãy nhập URL.",
 date: "Hãy nhập ngày.",
 dateISO: "Hãy nhập ngày (ISO).",
 number: "Hãy nhập số.",
 digits: "Hãy nhập chữ số.",
 creditcard: "Hãy nhập số thẻ tín dụng.",
 equalTo: "Hãy nhập thêm lần nữa.",
 accept: "Phần mở rộng không đúng.",
 maxlength: jQuery.validator.format("Hãy nhập từ {0} kí tự trở xuống."),
 minlength: jQuery.validator.format("Hãy nhập từ {0} kí tự trở lên."),
 rangelength: jQuery.validator.format("Hãy nhập từ {0} đến {1} kí tự."),
 range: jQuery.validator.format("Hãy nhập từ {0} đến {1}."),
 max: jQuery.validator.format("Hãy nhập từ {0} trở xuống."),
 min: jQuery.validator.format("Hãy nhập từ {1} trở lên."),
 phoneStart0: "Số điện thoại bắt đầu bằng số 0",
});
 jQuery.validator.addMethod("phoneStart0", function(phone_number, element) {
	    phone_number = phone_number.replace(/\s+/g, ""); 
	    return this.optional(element) || phone_number.match(/^0\d{8,}$/);
	}, "Phone number should start with 0");
</script>
}else{
<script  type="text/javascript">
 jQuery.validator.addMethod("phoneStart0", function(phone_number, element) {
	    phone_number = phone_number.replace(/\s+/g, ""); 
	    return this.optional(element) || phone_number.match(/^0\d{8,}$/);
	}, "Số điện thoại bắt đầu bằng số 0");
</script>

}

   <script type="text/javascript">
    function build_question(type) {
        $.get('/api/testonline/', { cus_type: type }).success(function (data) {
            console.log(data);
            switch (type) {
                case 1:
                    build_test_group1(data);
                    break;
                case 2:
                    build_test_group2(data);
                    break;
                case 3:
                    build_test_group3(data);
                    break;
                case 4:
                    build_test_group4(data);
                    break;
                case 5:
                    build_test_group5(data);
                    break;
                case 6:
                    build_test_group6(data);
                    break;
                default:
                    break;
            }
            
        }).fail(function (e) {
            alert('Network Error');
            return false;
        });
    }
    function build_ul_li_option(id, answer_option){
        thhss = '<p>'+answer_option[0][1]+'</p><ul>';
        answer_option.shift();
        $.each(answer_option, function (i, j) {
            thhss+='<li><input class="checkbox11" type="radio" name="answer_'+id+'" /><span>'+j[1]+' . '+j[0]+'</span></li>';
        });
        thhss+='</ul>';
        return thhss;
    }
    function build_test_group6(data) {
        $("#question_group_1").addClass('hide');
        $("#question_group_2").addClass('hide');
        $("#question_group_3").addClass('hide');
        $("#question_group_4").removeClass('hide');
        question_str = data.groupQuestion;

        $.each(data.data, function (i, j) {
            question_str += '<p>';
            question_str += j[0][1].replace("${question}", build_answer_option(i + 1, j));
            question_str += '</p>'
        });

        $('#answer_text').html(question_str);
    }
    function build_test_group5(data) {
        $("#question_group_1").addClass('hide');
        $("#question_group_2").addClass('hide');
        $("#question_group_3").addClass('hide');
        $("#question_group_4").removeClass('hide');

        question_str = data.groupQuestion;
        $.each(data.data, function (i, j) {
            question_str += '<p>';
            question_str += j[0][1].replace("${question}", build_answer_option(i + 1, j));
            question_str += '</p>'
        });

        $('#answer_text').html(question_str);
    }
    function build_test_group4(data) {
        $("#question_group_1").addClass('hide');
        $("#question_group_2").addClass('hide');
        $("#question_group_3").addClass('hide');
        $("#question_group_4").removeClass('hide');
        question_str = data.groupQuestion;
        $.each(data.data, function(i,j){
            question_str += build_ul_li_option(j[0][0],j);
            
        });

        $('#answer_text').html(question_str);
    }

    function build_test_group1(rs_obj) {
        iii=1;
        $("#question_group_2").addClass('hide');
        $("#question_group_3").addClass('hide');
        $("#question_group_4").addClass('hide');
        $("#question_group_5").addClass('hide');
        $("#question_group_1").removeClass('hide');
        var htmlss = rs_obj.groupQuestion;
        $.each(rs_obj.data, function (i, j) {
            htmlss = htmlss.replace("${question_" + (i + 1) + "}", build_answer_option(i + 1, j));
        });

        $('#answer_text').html(htmlss);
    }
    function build_answer_option(id, answer_option) {
        
        answer_text_obj = $("#selection_anwser").clone();
        answer_text_obj.find("select").attr("id", "answer_option_" + id);
        answer_text_obj.find("select").attr("question-data", answer_option[0][0]);
        str = "<option>Answer</option>";
        answer_option.shift()
        $.each(answer_option, function (i, j) {
            str += "<option value='" + j[1] + "'>" + j[0] + "</option>";
        });
       
        answer_text_obj.find("select").html(str);
        return answer_text_obj.html();
    }

    function build_test_group3(data) {
        $("#question_group_1").addClass('hide');
        $("#question_group_2").addClass('hide');
        $("#question_group_3").removeClass('hide');
        $("#question_group_4").addClass('hide');
        $("#question_group_5").addClass('hide');
        htmlss = data.groupQuestion + "<p>&nbsp;</p>"
        $.each(data.data, function (i, j) {

            htmlss += ' <tr> <td>' + j[0][1] + '</td> ';
            if(typeof j[1] !== 'undefined') {
                htmlss +=' <td><input name="answer_' + j[0][0] + '" class="checkbox" type="radio" value="' + j[1][0] + '" /></td>';
            }
             if(typeof j[2] !== 'undefined') {
                htmlss +=' <td><input name="answer_' + j[0][0] + '" class="checkbox" type="radio" value="' + j[2][0] + '" /></td>';
            }
             if(typeof j[3] !== 'undefined') {
                htmlss +=' <td><input name="answer_' + j[0][0] + '" class="checkbox" type="radio" value="' + j[3][0] + '" /></td>';
            }

        });
        answer_text_obj = $("#true_false_answer").clone();
        answer_text_obj.find("tbody").html(htmlss);
        $('#answer_text').html(answer_text_obj.html());

    }
    function build_test_group2(data) {
    
        $("#question_group_1").addClass('hide');
        $("#question_group_2").removeClass('hide');
        $("#question_group_3").addClass('hide');
        $("#question_group_4").addClass('hide');
        $("#question_group_5").addClass('hide');
        htmlss = "";
        $.each(data.data, function (i, j) {
            htmlss += '<p>';
            htmlss += j[0][1].replace("${question}", build_answer_option(i + 11, j));
            htmlss += '</p>'
        });
        $('#answer_text_2').html(htmlss);
    }
    build_question(1);
    var user_anser=[];
    var iii = 1;
    function  build_user_anser(id){
        switch(id){
            case 1:
                for(i=1;i<=10;i++){
                    user_anser.push([$('#answer_option_'+i).attr('question-data'),$('#answer_option_'+i).val()]);
                }
                break;
            case 2:
            	user_anser = [];
            	for(i=1;i<=25;i++){
                    user_anser.push([$('#answer_option_'+i).attr('question-data'),$('#answer_option_'+i).val()]);
                }
                break;
            default:
                break;
        }
    }
    $('.btn-start').on('click', function(e){
    	$('#introduciton').addClass("hide");
    	$('#question_go').removeClass("hide");

    });
    $('.btn-next').on('click', function(e){
        
        if(iii==1){
        	build_user_anser(iii);
        	iii++;
        	build_question(iii);
        }else{
        	build_user_anser(1);
        }
        $(this).addClass('hide');
        $("#answer_text").addClass('hide');
        $("#answer_text_2").removeClass('hide');
        $('.btn-prev').removeClass('hide');
        $('.btn-done').removeClass('hide');
    });
    $('.btn-prev').on('click', function(e){
        //user_anser=[];
        //build_question(1);
        $(this).addClass('hide');
        $("#answer_text_2").addClass('hide');
        $("#answer_text").removeClass('hide');
        $('.btn-next').removeClass('hide');
        $('.btn-done').addClass('hide');
    });
    $('.btn-done').on('click', function(e){
        build_user_anser(2);
        $('#question_go').addClass('hide');
        $('#question_done').removeClass('hide');
    });
   

   $("#register_form").validate({
   		
      rules: {
        // simple rule, converted to {required:true}
        input_name: "required",
        // compound rule
        input_email: {
          required: true,
          email: true
        },
        input_phone:{
        	required: true,
        	minlength:10,
        	maxlength:11,
        	phoneStart0:true,

        },
         input_region:{
        	required: true,

        }
      }
    });
   
    $('.btn-register').on('click', function(e){
        e.preventDefault();
        if(!$('#register_form').valid()){
            return false;
        }
        showLoading();
        $.post('/api/TestOnline/', { name: $('#input_name').val(), email: $('#input_email').val(), phone: $('#input_phone').val(), user_anser: user_anser }).success(function (rs) {
        			
        			if(rs.length>1){
        				$('#register_done .score').text(rs[0]);
        				$('#register_done .level').text(get_level(rs[0]));
        			 $('#register_done').removeClass('hide');
                   	 $('#question_done').addClass('hide');
        			}else{
        				alert("error");
        			}
                    hideLoading();
                }).fail(function (rs) {
                    hideLoading();
                });

         $.ajax({
           url: 'http://www.cjs.vn/subscribe/a4294215f38cc093bb46948c055846c7/',
           type: 'post',
           success: function (rs) {
              
           },
           data: {'person.name':$('#input_name').val(), 'person.email':$('#input_email').val(), 'person.phone':$('#input_phone').val(), 'person.97f6bd44ac15a3cae2f1735837e3f574':$('#input_region').val()}
       }); 
        return false;
    });
</script>

}
<!-- Home Slider -->
@section cusJs{
    <script type="text/javascript" src="/home/js/jssor.js"></script>
    <script type="text/javascript" src="/home/js/jssor.slider.js"></script>
    <script>
        jQuery(document).ready(function ($) {

            var _CaptionTransitions = [];
            _CaptionTransitions["L"] = { $Duration: 900, x: 0.6, $Easing: { $Left: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["R"] = { $Duration: 900, x: -0.6, $Easing: { $Left: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["T"] = { $Duration: 900, y: 0.6, $Easing: { $Top: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["B"] = { $Duration: 900, y: -0.6, $Easing: { $Top: $JssorEasing$.$EaseInOutSine }, $Opacity: 2 };
            _CaptionTransitions["ZMF|10"] = { $Duration: 900, $Zoom: 11, $Easing: { $Zoom: $JssorEasing$.$EaseOutQuad, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 };
            _CaptionTransitions["RTT|10"] = { $Duration: 900, $Zoom: 11, $Rotate: 1, $Easing: { $Zoom: $JssorEasing$.$EaseOutQuad, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInExpo }, $Opacity: 2, $Round: { $Rotate: 0.8 } };
            _CaptionTransitions["RTT|2"] = { $Duration: 900, $Zoom: 3, $Rotate: 1, $Easing: { $Zoom: $JssorEasing$.$EaseInQuad, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInQuad }, $Opacity: 2, $Round: { $Rotate: 0.5 } };
            _CaptionTransitions["RTTL|BR"] = { $Duration: 900, x: -0.6, y: -0.6, $Zoom: 11, $Rotate: 1, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Top: $JssorEasing$.$EaseInCubic, $Zoom: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInCubic }, $Opacity: 2, $Round: { $Rotate: 0.8 } };
            _CaptionTransitions["CLIP|LR"] = { $Duration: 900, $Clip: 15, $Easing: { $Clip: $JssorEasing$.$EaseInOutCubic }, $Opacity: 2 };
            _CaptionTransitions["MCLIP|L"] = { $Duration: 900, $Clip: 1, $Move: true, $Easing: { $Clip: $JssorEasing$.$EaseInOutCubic } };
            _CaptionTransitions["MCLIP|R"] = { $Duration: 900, $Clip: 2, $Move: true, $Easing: { $Clip: $JssorEasing$.$EaseInOutCubic } };

            var options = {
                $HWA: false,
                $FillMode: 2,                                       //[Optional] The way to fill image in slide, 0 stretch, 1 contain (keep aspect ratio and put all inside slide), 2 cover (keep aspect ratio and cover whole slide), 4 actual size, 5 contain for large image, actual size for small image, default value is 0
                $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlayInterval: 4000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $PauseOnHover: 1,                                   //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

                $ArrowKeyNavigation: true,                          //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                $SlideEasing: $JssorEasing$.$EaseOutQuint,          //[Optional] Specifies easing for right to left animation, default value is $JssorEasing$.$EaseOutQuad
                $SlideDuration: 800,                               //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
                //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
                //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
                $SlideSpacing: 0,                                   //[Optional] Space between each slide in pixels, default value is 0
                $DisplayPieces: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
                $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
                $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
                $DragOrientation: 1,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)

                $CaptionSliderOptions: {                            //[Optional] Options which specifies how to animate caption
                    $Class: $JssorCaptionSlider$,                   //[Required] Class to create instance to animate caption
                    $CaptionTransitions: _CaptionTransitions,       //[Required] An array of caption transitions to play caption, see caption transition section at jssor slideshow transition builder
                    $PlayInMode: 1,                                 //[Optional] 0 None (no play), 1 Chain (goes after main slide), 3 Chain Flatten (goes after main slide and flatten all caption animations), default value is 1
                    $PlayOutMode: 3                                 //[Optional] 0 None (no play), 1 Chain (goes before main slide), 3 Chain Flatten (goes before main slide and flatten all caption animations), default value is 1
                },

                $BulletNavigatorOptions: {                          //[Optional] Options to specify and enable navigator or not
                    $Class: $JssorBulletNavigator$,                 //[Required] Class to create navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 1,                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                    $Lanes: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
                    $SpacingX: 8,                                   //[Optional] Horizontal space between each item in pixel, default value is 0
                    $SpacingY: 8,                                   //[Optional] Vertical space between each item in pixel, default value is 0
                    $Orientation: 1                                 //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
                },

                $ArrowNavigatorOptions: {                           //[Optional] Options to specify and enable arrow navigator or not
                    $Class: $JssorArrowNavigator$,                  //[Requried] Class to create arrow navigator instance
                    $ChanceToShow: 1,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 2,                                 //[Optional] Auto center arrows in parent container, 0 No, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1                                       //[Optional] Steps to go for each navigation request, default value is 1
                }
            };

            if ($(window).width() > 768) {
                var jssor_slider1 = new $JssorSlider$("slider1_container", options);

            } else {
                var jssor_slider2 = new $JssorSlider$("slider2_container", options);
            }
            //
            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizes
            function ScaleSlider() {
                var bodyWidth = document.body.clientWidth;
                if (bodyWidth) {
                    if ($(window).width() > 768) {
                        jssor_slider1.$ScaleWidth(Math.min(bodyWidth, 1920));
                    } else {
                        jssor_slider2.$ScaleWidth(Math.min(bodyWidth, 768));
                    }

                    //  jssor_slider2.$ScaleWidth(Math.min(bodyWidth, 1920));
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }
            ScaleSlider();

            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });

    </script>
}
@Html.Partial("~/Views/Shared/PageBanner.cshtml")
<div class="container">
    <ul class="breakcrumb">
    @if(ViewBag.lang.Equals("vi")){
        <li><a href="/">TRANG CHỦ</a></li>
        <li>> Kiểm tra tiếng Anh trực tuyến</li>
        }else{
         <li><a href="/">HOME</a></li>
        <li>> Online Test</li>
        }
    </ul>
</div>
<div class="container show_1024">
    <div class="row">
        @Html.Partial("~/Views/Shared/CenterBar.cshtml")
    </div>
</div>

@if(ViewBag.lang.Equals("en")){

<div class="container" id="introduciton">
    <div class="row">
        <div class="col-sm-12" >
        	<h2>The ACET Online Fun English Test!</h2>
        	<p><strong>Do you know your English level?</strong></p>
        	<p>Take the <b>ACET Online Fun English Test</b> to find out more about your current English abilities!</p>
        	<p>The test is 25 questions and consists of 2 parts:</p>
        	<ul>
        		<li>Reading gap-fill (10 questions)</li>
        		<li>Sentence completion (15 questions)</li>
        	</ul>
        	<p>Click below to get started!</p>
        	<p><button class="btn btn-red btn-start">Start</button></p>
		</div>
	</div>
</div>
<div class="container hide" id="question_go">
    <div class="row">
        <div class="col-sm-12" >
            <div id="question_group_1">
                <h3>Question 1 - 10</h3>
                <ul>
                    <li>In this section you must choose the word which best fits each space in the texts. </li>
                    <li>For questions 1 to 10, choose the correct answer from the drop down menu.</li>
                </ul>
            </div>
            <div id="question_group_2" class="hide">
               <h3>Question 11 - 25</h3>
                <ul>
                    <li>In this section you must choose the word or phrase which best completes each sentence</li>
                    <li>For questions 11 to 25, choose the correct answer from the drop down menu.</li>
                </ul>
            </div>
            <div id="question_group_3" class="hide">
                <h3>Question 11 - 15</h3>
                <p>Do the following statements agre with the information given in the text?</p>
                <ul>
                    <li><b>TRUE</b> if the statement agrees with the information</li>
	                <li><b>FALSE</b> if the statement contracdicts the information</li>
	                <li><b>NOT GIVEN</b> if there is no information on this</li> 
                </ul>
            </div>
            <div id="question_group_4" class="hide">
                <h3>Question 16 - 20</h3>
                <ul>
                    <li>Read the text below and answer question 16-20</li>
                    <li>Choose the correct letter , A, B, C or D</li>
                </ul>
            </div>

            <div id="answer_text">

            </div>
            <div id="answer_text_2" class="hide">

            </div>
            <div class="hide " id="selection_anwser">
                <select id="id_select" class="select-form-1">
                    <option>Answer</option>
                </select>
            </div>
            <div class="hide" id="true_false_answer">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Question</th>
                            <th>TRUE</th>
                            <th>FALSE</th>
                            <th>NOT GIVEN</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
            <p>&nbsp;</p>
             <button class="btn btn-red btn-prev hide">< Prev</button>
            <button class="btn btn-red btn-next">Next ></button>
            
             <button class="btn btn-red btn-done hide">Finish</button>
        </div>
       
    </div>
</div>
<div class="container hide" id="register_done">
     <div class="row">
        <div class="col-sm-12" >
            <div id="">
                <h3>Congratulations!</h3>
                <p>Congratulations on completing the ACET Online Fun English Test! Your score is: <span style="background:yellow"><span class="score"></span>/25</span></p>
                <p>This means your level of English is approximately <span class="level" style="background:yellow"></span></p>
                <p>Do you want to know more about your English abilities? Do you want to improve your English skills? ACET can help!</p>
                <p>Contact ACET now for your full placement test to get more detailed feedback and find out exactly which level on ACET's pathway is right for you!</p>
                <p>ACET HCMC:  08 3932 6202, <a href="mailto:info-hcm@acet.edu.vn">info-hcm@acet.edu.vn</a></p>
                <p>ACET Hanoi: 04 3976 5268, <a href="mailto:info-hn@acet.edu.vn">info-hn@acet.edu.vn</a></p>
                <p>Thank you</p>
            </div>
        </div>
    </div>
</div>
<div class="container hide" id="question_done">
    <div class="row">
        <div class="col-sm-12" >
            <div id="">
                <h3>Finish!</h3>
                <p>Congratulations, you have completed a test, please fill out the information to get results</p>
               
            </div>
           <div id="cjform-submit">
             <form class="form-horizontal" id="register_form">
                 <div class="form-group">
                        <label for="input_name" class="col-sm-2 control-label">Name*</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="input_name" id="input_name" placeholder="Name">
                        </div>
                      </div>
                  <div class="form-group">
                    <label for="input_email" class="col-sm-2 control-label">Email*</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" name="input_email" id="input_email" placeholder="Email">
                    </div>
                  </div>
               
                   <div class="form-group">
                        <label for="input_phone" class="col-sm-2 control-label">Phone*</label>
                        <div class="col-sm-10">
                          <input type="tel" class="form-control" id="input_phone" name="input_phone" placeholder="Phone">
                        </div>
                      </div>
                  <div class="form-group ">
                    <label for="input_region" class="col-sm-2 control-label">Location*</label>
                    <div class="col-sm-10">
                      <select class="form-control" id="input_region" name="input_region">
                          <option value="Hà Nội">Hanoi</option>
                          <option value="Hồ Chí Minh">Ho Chi Minh</option>


                        </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-default btn-register">Submit</button>
                    </div>
                  </div>
                </form>
           </div>
           
        </div>
       
    </div>
</div>
}else{
<div class="container" id="introduciton">
    <div class="row">
        <div class="col-sm-12" >
        	<h2>Kiểm tra nhanh tiếng Anh trực tuyến cùng ACET!</h2>
        	<p><strong>Bạn đã biết trình độ tiếng Anh hiện tại của mình chưa?</strong></p>
        	<p>Cùng tham gia bài kiểm tra nhanh Tiếng Anh trực tuyến với ACET để biết khả năng hiện tại của bạn nhé!</p>
        	<p>Bài kiểm tra gồm 25 câu hỏi với 2 phần chính như sau:</p>
        	<ul>
        		<li>Điền vào chỗ trống trong bài đọc (10 câu)</li>
        		<li>Hoàn thành câu (15 câu)</li>
        	</ul>
        	<p>Hãy click vào link dưới đây để bắt đầu làm bài nhé!</p>
        	<p><button class="btn btn-red btn-start">Bắt đầu</button></p>
		</div>
	</div>
</div>
<div class="container hide" id="question_go">
    <div class="row">
        <div class="col-sm-12" >
            <div id="question_group_1">
                <h3>Question 1 - 10</h3>
                <ul>
                    <li>In this section you must choose the word which best fits each space in the texts. </li>
                    <li>For questions 1 to 10, choose the correct answer from the drop down menu.</li>
                </ul>
            </div>
            <div id="question_group_2" class="hide">
               <h3>Question 11 - 25</h3>
                <ul>
                    <li>In this section you must choose the word or phrase which best completes each sentence</li>
                    <li>For questions 11 to 25, choose the correct answer from the drop down menu.</li>
                </ul>
            </div>
            <div id="question_group_3" class="hide">
                <h3>Question 11 - 15</h3>
                <p>Do the following statements agre with the information given in the text?</p>
                <ul>
                    <li><b>TRUE</b> if the statement agrees with the information</li>
	                <li><b>FALSE</b> if the statement contracdicts the information</li>
	                <li><b>NOT GIVEN</b> if there is no information on this</li> 
                </ul>
            </div>
            <div id="question_group_4" class="hide">
                <h3>Question 16 - 20</h3>
                <ul>
                    <li>Read the text below and answer question 16-20</li>
                    <li>Choose the correct letter , A, B, C or D</li>
                </ul>
            </div>

            <div id="answer_text">

            </div>
            <div id="answer_text_2" class="hide">

            </div>
            <div class="hide " id="selection_anwser">
                <select id="id_select" class="select-form-1">
                    <option>Answer</option>
                </select>
            </div>
            <div class="hide" id="true_false_answer">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Question</th>
                            <th>TRUE</th>
                            <th>FALSE</th>
                            <th>NOT GIVEN</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
            <p>&nbsp;</p>
             <button class="btn btn-red btn-prev hide">< Quay lại</button>
            <button class="btn btn-red btn-next">Tiếp tục ></button>
            
             <button class="btn btn-red btn-done hide">Hoàn thành</button>
        </div>
       
    </div>
</div>
<div class="container hide" id="register_done">
     <div class="row">
        <div class="col-sm-12" >
            <div id="">
                <h3>Xin chúc mừng!</h3>
                <p>Xin chúc mừng bạn đã hoàn thành bài kiểm tra nhanh tiếng Anh trực tuyến! Số điểm của bạn là: <span style="background:yellow"><span class="score"></span>/25</span></p>
                <p>Trình độ tiếng Anh hiện tại tương ứng với số điểm của bạn là <span class="level" style="background:yellow"></span></p>
                <p>Bạn có muốn biết cụ thể hơn về trình độ tiếng Anh của mình? Bạn có muốn cải thiện các kỹ năng tiếng Anh hiện tại? ACET có thể giúp bạn!</p>
                <p>Hãy liên hệ với ACET ngay bây giờ để đăng kí làm  bài kiểm tra  xếp lớp đầy đủ nhất tại ACET. Bạn sẽ được tư vấn cụ thể để biết trình độ Tiếng Anh của mình đang ở đâu theo chương trình học của ACET.</p>
                <p>ACET HCMC:  08 3932 6202, <a href="mailto:info-hcm@acet.edu.vn">info-hcm@acet.edu.vn</a></p>
                <p>ACET Hanoi: 04 3976 5268, <a href="mailto:info-hn@acet.edu.vn">info-hn@acet.edu.vn</a></p>
                <p>Xin cảm ơn!</p>
            </div>
        </div>
    </div>
</div>
<div class="container hide" id="question_done">
    <div class="row">
        <div class="col-sm-12" >
            <div id="">
                <h3>Hoàn thành</h3>
                <p>Chúc mừng bạn đã hoàn thành bài test, vui lòng điền thông tin để nhận kết quả</p>
               
            </div>
           <div id="cjform-submit">
             <form class="form-horizontal" id="register_form">
                 <div class="form-group">
                        <label for="input_name" class="col-sm-2 control-label">Tên*</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="input_name" id="input_name" placeholder="Tên">
                        </div>
                      </div>
                  <div class="form-group">
                    <label for="input_email" class="col-sm-2 control-label">Email*</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" name="input_email" id="input_email" placeholder="Email">
                    </div>
                  </div>
               
                   <div class="form-group">
                        <label for="input_phone" class="col-sm-2 control-label">Số điện thoại*</label>
                        <div class="col-sm-10">
                          <input type="tel" class="form-control" id="input_phone" name="input_phone" placeholder="Số điện thoại">
                        </div>
                      </div>
                  <div class="form-group">
                    <label for="input_region" class="col-sm-2 control-label">Khu vực*</label>
                    <div class="col-sm-10">
                      <select class="form-control" id="input_region" name="input_region">
                          <option value="Hà Nội">Hà Nội</option>
                          <option value="Hồ Chí Minh">Hồ Chí Minh</option>

                        </select>
                    </div>
                  </div>
                 
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-default btn-register">Kết quả</button>
                    </div>
                  </div>
                </form>
           </div>
           
        </div>
       
    </div>
</div>
}
@Html.Partial("~/Views/Shared/BottomPage1.cshtml")
@Html.Partial("~/Views/Shared/RightPage.cshtml")
