﻿@{
    ViewBag.Title = "Australian Centre for Education And Training - ACET";
    if(ViewBag.lang.Equals("vi")){
        Layout = "~/Views/Shared/_HomeLayout.cshtml";
    }else{
        Layout = "~/Views/Shared/_HomeLayoutEng.cshtml";
    }
}
@section AddToHeadCss{
    <style type="text/css">
    </style>
}
@section AddToEndBodyJs{
    <script type="text/javascript">
    </script>
}
<!-- Home Slider -->
<div class="home-slider">
    <!-- Carousel -->
    <div id="home-slider" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#home-slider" data-slide-to="0" class="active"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <!-- Slide #1 -->
            <div class="item active" id="item-1">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 hide">
                            <h3 class="animated slideInDown delay-3">ACET DISCOUNT 15% FOR NEW FIRST STEPS CLASS</h3>

                            <a href="#" class="btn btn-lg btn-red animated fadeInUpBig delay-5">Register Now</a>
                        </div>
                        <div class="col-sm-6 hidden-xs hide">
                            <img class="img-responsive" src="/home/img/tintuc_banner.jpg" alt="...">
                        </div>
                    </div> <!-- / .row -->
                </div> <!-- / .container -->
            </div> <!-- / .item -->
            <!-- Slide #2 -->

        </div> <!-- / .carousel -->
        <!-- Controls -->
        <a class="carousel-arrow carousel-arrow-prev" href="#home-slider" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-arrow carousel-arrow-next" href="#home-slider" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div> <!-- / .home-slider -->
<!-- Services -->
<div class="container">
    <ul class="breakcrumb">
        <li>TRANG CHỦ</li>
        <li>> THỜI KHÓA BIỂU</li>
    </ul>
</div>
<div class="container show_1024">
    <div class="row">
        @Html.Partial("~/Views/Shared/CenterBar.cshtml")
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="center" style="padding:100px 0px;">Cảm ơn bạn đã đăng ký, chúng tôi sẽ liên hệ sau</h2>

        </div>
    </div>
</div>
<div class="container" style="margin-top:20px;">
    <div class="row">
        <div class="col-sm-4">
            <img src="/home/img/ads_news_right.jpg" width='100%' />
        </div>
        <div class="col-sm-4">

            <img src="/home/img/hoc_bong.jpg" width='100%' style="margin-bottom:4px">
            <a href="http://www.idp.com/vietnam"><img src="/home/img/du_hoc.jpg" width='100%' style="margin-top:4px"></a>

</div>
        @Html.Partial("~/Views/Shared/ResourceDocument.cshtml")
    </div> <!-- / .row -->
</div> <!-- / .container -->
@Html.Partial("~/Views/Shared/RightPage.cshtml")
<!-- Google Code for Order_ACET Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 958751429;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "KmKMCLnR_1wQxcWVyQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/958751429/?label=KmKMCLnR_1wQxcWVyQM&amp;guid=ON&amp;script=0" />
    </div>
</noscript>
<!-- Google Code for Order_ACET Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 966286787;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "8gMFCJy8hV0Qw7vhzAM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/966286787/?label=8gMFCJy8hV0Qw7vhzAM&amp;guid=ON&amp;script=0" />
    </div>
</noscript>
