﻿@{
    ViewBag.Title = "Menu Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Breadcrumbs = "Menu Management";
}
@section AddToHeadCss{
    <link rel="stylesheet" href="@Url.Content("/assets/css/jquery-ui.custom.min.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/chosen.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/datepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/bootstrap-timepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/daterangepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/bootstrap-datetimepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/colorpicker.css")" />
    <link rel="stylesheet" href="/assets/css/select2.css" />
    <link rel="stylesheet" href="/assets/css/jquery.gritter.css" />
}
@section AddToEndBodyJs{
    <!-- page specific plugin scripts -->
    <script src=@Url.Content("/assets/js/jquery.dataTables.min.js")></script>
    <script src=@Url.Content("/assets/js/jquery.dataTables.bootstrap.js")></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/additional-methods.min.js"></script>
    <script src="/assets/js/bootbox.min.js"></script>
    <script src="/assets/js/jquery.maskedinput.min.js"></script>
    <script src="/assets/js/select2.min.js"></script>
    <!-- page specific plugin scripts -->
    <script src="/assets/js/fuelux/data/fuelux.tree-sample-demo-data.js"></script>
    <script src="/assets/js/fuelux/fuelux.tree.min.js"></script>
    <script type="text/javascript">
        function info_user(id) {
            $.get('/api/users/' + id).done(function (result) {
                $('#form-username').prop("disabled", true);
                $('#form-email').prop("disabled", true);
                $('.formtitle').html('Edit User');
                $('#form-iduser').val(result.Id);
                $('#form-username').val(result.UserName);
                $('#form-firstname').val(result.FirstName);
                $('#form-lastname').val(result.LastName);
                $('#form-email').val(result.Email);
                $('#form-role').val(result.Roles[0])
                return false;
            }).fail(function (result) {

            });
            return false;
        };
        function delete_user(id) {
            bootbox.dialog({
                message: "Are you sure you want to delete this user?",
                closeButton: false,
                buttons: {
                    "cancel": {
                        "label": "No",
                        "className": "btn-sm",
                        callback: function () {
                        }
                    },
                    "success": {
                        "label": "Yes",
                        "className": "btn-sm btn-primary",
                        callback: function () {
                            showLoadingModal();
                            $.post('/api/users/' + id, {}).done(function (result) {
                                hideLoadingModal();
                                $.gritter.add({
                                    title: 'User has been deleted successfully.',
                                    text: '',
                                    class_name: 'gritter-success'
                                });
                                OUser_table.fnDraw();
                                //window.location.reload();
                            }).fail(function (result) {
                                hideLoadingModal();
                                $.gritter.add({
                                    title: 'fail. Please try again.',
                                    text: '',
                                    class_name: 'gritter-error'
                                });
                            });
                        }
                    },
                },
            });
        }
        function build_action_item(id) {
            var htmlstr = '';
            htmlstr += '<div class="hidden-sm hidden-xs action-buttons">';
            htmlstr += '     <a class="blue" href="#"><i class="ace-icon fa fa-search-plus bigger-130"></i></a>';
            htmlstr += '     <a class="green" onclick="info_user(' + id + ');return false;" href="#modal-table-menu" data-toggle="modal"><i class="ace-icon fa fa-pencil bigger-130"></i></a>';
            htmlstr += '     <a class="red" onclick="delete_user(' + id + ');return false;" href="#"><i class="ace-icon fa fa-trash-o bigger-130"></i></a> </div>';
            htmlstr += ' <div class="hidden-md hidden-lg">  <div class="inline position-relative">';
            htmlstr += '<button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">';
            htmlstr += '<i class="ace-icon fa fa-caret-down icon-only bigger-120"></i></button>';
            htmlstr += '<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">';
            htmlstr += '<li><a href="#" class="tooltip-info" data-rel="tooltip" title="View"><span class="blue">';
            htmlstr += '     <i class="ace-icon fa fa-search-plus bigger-120"></i></span></a></li>';
            htmlstr += ' <li><a href="#" class="tooltip-success" data-rel="tooltip" title="Edit"><span class="green">';
            htmlstr += '    <i class="ace-icon fa fa-pencil-square-o bigger-120"></i></span></a></li>';
            htmlstr += ' <li><a href="#" class="tooltip-error" data-rel="tooltip" title="Delete"><span class="red">';
            htmlstr += '    <i class="ace-icon fa fa-trash-o bigger-120"></i></span></a></li></ul></div></div>';
            return htmlstr;
        }


        function child_menu(d) {
            // `d` is the original data object for the row
            tr = '<table class="col-xs-12 col-sm-12" cellpadding="5" cellspacing="0" border="1" style="margin-left:50px;"><tbody>';
            $.each(d[4], function (i, j) {
                tr += '<tr><td>' + j[0] + '</td><td>' + j[1] + '</td><td>' + j[2] + '</td><td>' + j[3] + '</td><td></td></tr>';
            })
            tr += '</tbody></table>';
            return tr;
        }
        $(document).on('click', 'th input:checkbox', function () {
            var that = this;
            $(this).closest('table').find('tr > td:first-child input:checkbox')
            .each(function () {
                this.checked = that.checked;
                $(this).closest('tr').toggleClass('selected');
            });
        });


        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }

        $('#adduser-form').validate({
            errorElement: 'div',
            errorClass: 'help-block',
            focusInvalid: false,
            rules: {
                email: {
                    required: true,
                    email: true,
                    remote: {
                        url: "/api/email/",
                        type: "get",
                        data: {
                            email: function () {
                                return $("#form-email").val();
                            }
                        }
                    },
                },
                password: {
                    required: true,
                    minlength: 5
                },
                password_confirm: {
                    required: true,
                    minlength: 5,
                    equalTo: "#form-password"
                },
                username: {
                    required: true,
                    remote: {
                        url: "/api/username/",
                        type: "get",
                        data: {
                            username: function () {
                                return $("#form-username").val();
                            }
                        }
                    },
                },
                first_name: {
                    required: true,
                },
                last_name: {
                    required: true,
                },

            },
            messages: {
                username: {
                    remote: "User Name is exists.",
                    required: "User Name is required.",
                },
                email: {
                    required: "Please provide a valid email.",
                    email: "Please provide a valid email.",
                    remote: "Email is exists.",
                },
                password: {
                    required: "Please specify a password.",
                    minlength: "Please specify a secure password."
                },

            },


            highlight: function (e) {
                $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
            },

            success: function (e) {
                $(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
                $(e).remove();
            },

            errorPlacement: function (error, element) {
                if (element.is('input[type=checkbox]') || element.is('input[type=radio]')) {
                    var controls = element.closest('div[class*="col-"]');
                    if (controls.find(':checkbox,:radio').length > 1) controls.append(error);
                    else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                }
                else if (element.is('.select2')) {
                    error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
                }
                else if (element.is('.chosen-select')) {
                    error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
                }
                else error.insertAfter(element);
            },

            submitHandler: function (form) {
            },
            invalidHandler: function (form) {
            }
        });
        $('.btn-save').on("click", function (e) {
            if (!$('#adduser-form').valid()) {
                return false;
            }
            showLoadingModal();
            $.post('/api/users/', {
                id: $('#form-iduser').val(),
                username: $('#form-username').val(), email: $('#form-email').val(), password: $('#form-password').val(),
                role_id: $('#form-role').val(), firstname: $('#form-firstname').val(), lastname: $('#form-lastname').val()
            }).done(function (result) {
                hideLoadingModal();
                $.gritter.add({
                    title: 'User has been add/edit successfully.',
                    text: '',
                    class_name: 'gritter-success'
                });
                OUser_table.fnDraw();
                // window.location.reload();
            }).fail(function (result) {
                hideLoadingModal();
                //window.location.reload();
                $.gritter.add({
                    title: 'Some thing went wrong! Please try again.',
                    text: '',
                    class_name: 'gritter-error'
                });
                OUser_table.fnDraw();
            });
        });


        $('.btn-addnew').on('click', function (e) {
            $('#form-username').prop("disabled", false);
            $('#form-email').prop("disabled", false);
            $('.formtitle').html('Add New User');
            $('#adduser-form')[0].reset();
        });
        jQuery(function ($) {
            $('#tree1').ace_tree({
                dataSource: treeDataSource,
                multiSelect: false,
                loadingHTML: '<div class="tree-loading"><i class="ace-icon fa fa-refresh fa-spin blue"></i></div>',
                'open-icon': 'ace-icon tree-minus',
                'close-icon': 'ace-icon tree-plus',
                'selectable': true,
                'selected-icon': 'ace-icon fa fa-check',
                'unselected-icon': 'ace-icon fa fa-times'
            });
        });
    </script>
}
<div class="page-header">
    <h1>
        User Management <a href="#modal-table-menu" role="button" class="green" data-toggle="modal">
            <button class="btn btn-sm btn-primary btn-addnew">Add New</button>
        </a>
    </h1>
</div>
<div class="row">
    <div class="col-xs-12">
        <table id="sample-table-1" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="center">
                        <label class="position-relative">
                            <input type="checkbox" class="ace" />
                            <span class="lbl"></span>
                        </label>
                    </th>
                    <th>Name Vi</th>
                    <th>Name Eng</th>

                    <th>
                        <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                        Modified
                    </th>
                    <th>Order</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in ViewData["menus"] as List<ACET_WEB.Models.MenuTree>)
                {
                    <tr>
                        <td class="center">
                            <label class="position-relative">
                                <input type="checkbox" class="ace" value="@item.ID"/>
                                <span class="lbl"></span>
                            </label>
                        </td>
                        <td>
                            <a href="#">@item.Name</a>
                        </td>
                        <td>@item.NameEng</td>                       
                        <td>@item.Modified</td>
                        <td>@item.Order</td>
                        <td>
                            <div class="hidden-sm hidden-xs btn-group">
                                <button class="btn btn-xs btn-success">
                                    <i class="ace-icon fa fa-check bigger-120"></i>
                                </button>

                                <button class="btn btn-xs btn-info">
                                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                                </button>

                                <button class="btn btn-xs btn-danger">
                                    <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                </button>

                                <button class="btn btn-xs btn-warning">
                                    <i class="ace-icon fa fa-flag bigger-120"></i>
                                </button>
                            </div>

                            <div class="hidden-md hidden-lg">
                                <div class="inline position-relative">
                                    <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                        <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                    </button>

                                    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                        <li>
                                            <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                                                <span class="blue">
                                                    <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                                </span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                <span class="green">
                                                    <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                </span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                <span class="red">
                                                    <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    if(item.HasChild)
                    {
                        foreach (var childitem in item.Childs)
                        {
                            <tr>
                                <td class="center">
                                    <label class="position-relative">
                                        <input type="checkbox" class="ace" value="@childitem.ID" />
                                        <span class="lbl"></span>
                                    </label>
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;----&nbsp;&nbsp;  <a href="#">@childitem.Name</a>
                                </td>
                                <td>@childitem.NameEng</td>
                                <td>@childitem.Modified</td>
                                <td>@childitem.Order</td>
                                <td>
                                    <div class="hidden-sm hidden-xs btn-group">
                                        <button class="btn btn-xs btn-success">
                                            <i class="ace-icon fa fa-check bigger-120"></i>
                                        </button>

                                        <button class="btn btn-xs btn-info">
                                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                                        </button>

                                        <button class="btn btn-xs btn-danger">
                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                        </button>

                                        <button class="btn btn-xs btn-warning">
                                            <i class="ace-icon fa fa-flag bigger-120"></i>
                                        </button>
                                    </div>

                                    <div class="hidden-md hidden-lg">
                                        <div class="inline position-relative">
                                            <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                            </button>

                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                <li>
                                                    <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                                                        <span class="blue">
                                                            <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                        <span class="green">
                                                            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                        <span class="red">
                                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                }
                
            </tbody>
        </table>
    </div>
</div>
<div id="modal-table-menu" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="white">&times;</span>
                    </button>
                    <span class="formtitle">Add New User</span>
                </div>
            </div>
            <form class="form-horizontal" role="form" id="adduser-form">
                <div class="modal-body no-padding">
                    <input type="hidden" id="form-iduser" value="" />
                    <!-- #section:elements.form -->
                    <!-- /section:elements.form -->
                    <div class="space-4">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-username">
                            Roles
                        </label>
                        <div class="col-sm-9">
                            <select id="form-role" name="roles" class="col-xs-12">
                                <option value="3">Normal</option>
                                <option value="2">Manager</option>
                                <option value="1">Administrator</option>
                            </select>
                        </div>
                    </div>
                    <div class="space-4">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-username">
                            User Name
                        </label>
                        <div class="col-sm-9">
                            <input type="text" id="form-username" name="username" placeholder="User Name" class="col-xs-12 col-sm-12">
                        </div>
                    </div>
                    <div class="row">

                        <label class="col-xs-2 col-sm-2 control-label no-padding-right" for="form-username">
                            Password
                        </label>

                        <div class="col-xs-4 col-sm-4">
                            <div class="space-4">
                            </div>
                            <div class="form-group">

                                <div class="col-sm-12">
                                    <input type="password" id="form-password" placeholder="Password" name="password" class="col-xs-12 col-sm-12">
                                </div>
                            </div>
                        </div><div class="col-xs-4 col-sm-4">
                            <div class="space-4">
                            </div>
                            <div class="form-group">

                                <div class="col-sm-12">
                                    <input type="password" id="form-password_confirm" placeholder="Confirm Password" name="password_confirm" class="col-xs-12 col-sm-12">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <label class="col-xs-2 col-sm-2 control-label no-padding-right" for="form-username">
                            Name
                        </label>

                        <div class="col-xs-4 col-sm-4">
                            <div class="space-4">
                            </div>
                            <div class="form-group">

                                <div class="col-sm-12">
                                    <input type="text" id="form-firstname" placeholder="First Name" name="first_name" class="col-xs-12 col-sm-12">
                                </div>
                            </div>
                        </div><div class="col-xs-4 col-sm-4">
                            <div class="space-4">
                            </div>
                            <div class="form-group">

                                <div class="col-sm-12">
                                    <input type="text" id="form-lastname" placeholder="Last Name" name="last_name" class="col-xs-12 col-sm-12">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="space-4">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-username">
                            Email
                        </label>
                        <div class="col-sm-9">
                            <input type="text" id="form-email" name="email" placeholder="Email" class="col-xs-12 col-sm-12">
                        </div>
                    </div>
                    <!-- /section:elements.form -->
                </div>
                <div class="modal-footer no-margin-top">
                    <button class="btn btn-sm btn-primary pull-right btn-save" data-dismiss="modal">
                        <i class="ace-icon fa fa-check"></i>Save
                    </button>
                    <button class="btn btn-sm btn-danger pull-right btn-reset" data-dismiss="modal">
                        <i class="ace-icon fa fa-times"></i>Cancel
                    </button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
