﻿@model ACET_WEB.MediaCategory



@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AddToHeadCss{
    <link rel="stylesheet" href="@Url.Content("/assets/css/jquery-ui.custom.min.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/chosen.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/datepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/bootstrap-timepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/daterangepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/bootstrap-datetimepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/colorpicker.css")" />
}
@section AddToEndBodyJs{
    <script src="@Url.Content("/Content/ckeditor/ckeditor.js")"></script>
    <script src="@Url.Content("/Content/ckfinder/ckfinder.js")"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/additional-methods.min.js"></script>
    <script src="/assets/js/bootbox.min.js"></script>
    <script src="/assets/js/jquery.maskedinput.min.js"></script>
    <script src="/assets/js/select2.min.js"></script>
    <script type="text/javascript">
        var editor = CKEDITOR.replace('post_content_vi', {
        });

    </script>
}
@{
    ViewBag.Title = "Index";
}

<div class="page-header">
    <h1>
       Delete
    </h1>
</div>
<div class="row">
    <div class="col-xs-12">

        <h3>Are you sure you want to delete this?</h3>
        <fieldset>
            <legend>MediaCategory</legend>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Name)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Name)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.NameEng)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.NameEng)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Status)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Status)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Created)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Created)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Modified)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Modified)
            </div>
        </fieldset>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <p>
                <input type="submit" value="Delete" /> |
                @Html.ActionLink("Back to List", "Index")
            </p>
        }
</div></div>