﻿@model ACET_WEB.MediaCategory


@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AddToHeadCss{
    <link rel="stylesheet" href="@Url.Content("/assets/css/jquery-ui.custom.min.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/chosen.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/datepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/bootstrap-timepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/daterangepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/bootstrap-datetimepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/colorpicker.css")" />
}
@section AddToEndBodyJs{
    <script src="@Url.Content("/Content/ckeditor/ckeditor.js")"></script>
    <script src="@Url.Content("/Content/ckfinder/ckfinder.js")"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/additional-methods.min.js"></script>
    <script src="/assets/js/bootbox.min.js"></script>
    <script src="/assets/js/jquery.maskedinput.min.js"></script>
    <script src="/assets/js/select2.min.js"></script>
   <script type="text/javascript">
    function BrowseServer() {
        var finder = new CKFinder();
        finder.basePath = '/Content/ckfinder/';
        finder.selectActionFunction = SetFileField;
        finder.resourceType = 'Images';
        finder.popup();
    }
    function SetFileField(fileUrl) {
      var folderName = fileUrl.split("/");
        $("#inputImg").attr("value", folderName[folderName.length-2]);
    }
</script>

    @Scripts.Render("~/bundles/jqueryval")
}
@{
    ViewBag.Title = "Index";
}

<div class="page-header">
    <h1>
       Media Category Editor
    </h1>
</div>
<div class="row">
    <div class="col-xs-12">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>MediaCategory</legend>

                @Html.HiddenFor(model => model.Id)

                <div class="editor-label">
                    @Html.LabelFor(model => model.Name)
                </div>
                <div class="editor-field form-group">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.NameEng)
                </div>
                <div class="editor-field form-group">
                    @Html.TextBoxFor(model => model.NameEng, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NameEng)
                </div>
                 <div class="editor-label">
                   Type
                </div>
                <div class="editor-field">
                    @{
            var type_select = new List<SelectListItem>() {
                              
                             new SelectListItem(){
                                Text="Image",Value="2"
                            },
                             new SelectListItem(){
                            Text="Video",Value="1"
                            },
                        };
           				// type_select.FirstOrDefault(p => p.Value.Equals(Model.Status)).Selected = true;
                    }
                    @Html.DropDownListFor(model => model.Status, type_select)
                    @Html.ValidationMessageFor(model => model.Status)
                </div>

                <div class="editor-label">
                    Folder Name
                </div>
                <div class="editor-field form-group">
                    <img alt="" src="@Model.Img" id="xFilePath" name="img2" class="hide" width="100px;" />
                    @Html.TextBoxFor(model => model.Img, new { @class = "form-control-2", @id = "inputImg" })

                    <input id="browseServer" value="Browse Server" type="button" onclick="BrowseServer()">
                </div>
               
                <br />
                <p>
                    <input class="btn btn-primary" type="submit" value="Save" />
                </p>
            </fieldset>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
</div></div>