﻿@model ACET_WEB.QuestionGroup


@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AddToHeadCss{
    <link rel="stylesheet" href="@Url.Content("/assets/css/jquery-ui.custom.min.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/chosen.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/datepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/bootstrap-timepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/daterangepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/bootstrap-datetimepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("/assets/css/colorpicker.css")" />
}
@section AddToEndBodyJs{
    <script src="@Url.Content("/Content/ckeditor/ckeditor.js")"></script>
    <script src="@Url.Content("/Content/ckfinder/ckfinder.js")"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/additional-methods.min.js"></script>
    <script src="/assets/js/bootbox.min.js"></script>
    <script src="/assets/js/jquery.maskedinput.min.js"></script>
    <script src="/assets/js/select2.min.js"></script>
    <script type="text/javascript">
        var editor = CKEDITOR.replace('post_content_vi', {
        });

    </script>
}
@{
    ViewBag.Title = "Index";
}

<div class="page-header">
    <h1>
        Group Question Details
    </h1>
</div>
<div class="row">
    <div class="col-xs-12">

        <fieldset>

            <div class="display-label">
                <b>  @Html.DisplayNameFor(model => model.Name)</b> 
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Name)
            </div>

            <div class="display-label">
                <b> @Html.DisplayNameFor(model => model.Desc)</b>
            </div>
            <div class="display-field">
                @Html.DisplayTextFor(model => model.Desc)
            </div>

            <div class="display-label">
                <b>   @Html.DisplayNameFor(model => model.Created)</b> 
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Created)
            </div>

            <div class="display-label">
                <b>   @Html.DisplayNameFor(model => model.Modified)</b> 
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Modified)
            </div>

            <div class="display-label">
                <b>  @Html.DisplayNameFor(model => model.Status)</b>    
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Status)
            </div>

            <div class="display-label">
                <b>   @Html.DisplayNameFor(model => model.Type)</b>
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Type)
            </div>
        </fieldset>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
</div>
</div>