﻿@model ACET_WEB.Answer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Answer</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Answer1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Answer1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Question.Question1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Question.Question1)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
